
#footer{ height:64px; line-height:16px; width:100%; }

#footer .wrapper{ width:960px; margin:0 auto; position: relative; }
#footer .wrapper .linkbox{ border-top: 1px solid #7bc8e3; padding:12px 6px 0 6px; }
#footer .wrapper .linkbox p{ margin-left:0px;}
#footer .wrapper .linkbox p a:hover,a:active,a:link,a:visited{ color:#78BAD2;}
#footer .wrapper .siteinfo{ margin-top: 6px; }

#footer .wrapper .siteinfo p.raw{
    display: block;
    padding: 6px;
    background: #fcfcfc;
    line-height: 14px;
    text-align: center;
    border-top: 1px solid #7bc8e3;
}
