<div class="clearfix" id="commentlist">第{{ page*10-9 }}-{{ page*10 }}条</div>
{% for cm,user in pagination.items %}
<div class="clearfix">
    <div class="left"><a href="#">{{user.nickname}}{{user|gettext}}</a></div>
    {% if cm.reply_id %}
    <div class="left">回复</div>
    <div class="left"><a href="#">{{cm.reply.user.nickname}}{{cm.reply.user|gettext}}</a></div>
    {% endif %}
    <div class="left" style="margin-left:15px;">{{ cm.created|datetime }}</div>
    <div class="clearfix"></div>
    <div >{{ cm.comment }}</div>
    <div class="right reply" data="{{ cm.id }}" data2="{{user.nickname}}{{user|gettext}}" style="cursor:pointer;color:blue;">
        回复
    </div>
</div>
{% endfor %}

{% include "page_floor_ajax.html" %}
<script type="text/javascript">
jQuery(function(){
    $(".page_floor a[data]").click(function(){
        page = $(this).attr("data");
        $("#comment").load("./comment/?page="+page);
    });
    
    $(".reply").click(function(){
        works_id = $(this).attr("data");
        user = $(this).attr("data2");
        $("#replydiv span").html(user);
        $("#replydiv input").val(works_id);
        $("#replydiv").show();
    });
    
    $("#replydiv .close").click(function(){
        $("#replydiv input").val("");
        $("#replydiv").hide();
    });
});
</script>
