{% extends "homebase.html" %}
{% block title %}
    老师推荐作业
{% endblock %}
{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ '/static/css/apps/fav.css'|staticurl }}" />
    <link type="text/css" rel="stylesheet" href="{{ '/static/css/lib/jquery.rating.css'|staticurl }}" />
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ '/static/js/apps/favor.js'|staticurl }}"></script>
<script type="text/javascript" src="{{ '/static/js/lib/jquery.rating.js'|staticurl }}"></script>
{% include "inc/videoplayer_header.html" %}
<script type="text/javascript">
</script>
{% endblock %}

{% block centerbody %}
<div class="panel">
    <div class="favor-video"></div>
    {% if not favors %}
        <div class="timelinetop"></div>
        <div style="margin:20px 20px;">
            {% if g.user.isteacher %}
                <div class="noitem">推荐好的作业，是鼓励学生认真学习的好方法。</div>
            {% else %}
                <div class="noitem">努力做好作业，如果老师推荐，班里的同学都会看见的</div>
            {% endif %}
        </div>
    {% else %}
    <div class="clearfix" style="border-bottom: 1px solid #3FA7CB;padding-bottom: 10px;">
        <div class="order right">
            排序：
            <a {% if order=='time' %}class="active"{% endif %} href="?order=time">时间</a>
            <a {% if order=='title' %}class="active"{% endif %} href="?order=title">作业主题</a>
            <a {% if order=='click' %}class="active"{% endif %} href="?order=click">播放次数</a>
        </div>
    </div>
    <div class="clearfix"></div>
    {% endif %}
    
    <div class="clearfix tabtitle">
        {% if g.user.isparent %}
        <a href="/favor/{{subtab}}/">
            <div class="left first active">视频作业</div>
        </a>
        <a href="/favor/taskimg/{{subtab}}/">
        <div class="left second">图片作业</div>
        </a>
        {% else %}
        <a href="/favor/">
            <div class="left first active">视频作业</div>
        </a>
        <a href="/favor/taskimg/">
        <div class="left second">图片作业</div>
        </a>
        {% endif %}
    </div>
    
    
    {% for favor in favors %}
        <div id="vl_{{ favor.video_id }}" class="fav-line clearfix">
            <div style="float:left">
                <a href="/favor/video/{{ favor.works_id }}/">
                <div style="position:relative;width:137px;height:112px">
                    <img src="{{favor.thumbnail_path}}" style="width:100%;height:100%;margin:0px" alt="{{favor.task_content}}" />
                    <img style="position:absolute;top:40%;left:40%;margin:0px" alt="" src="/static/images/videos/play_large.png" />
                </div>
                </a>
            </div>
            <div class="des-row" style="width:385px;">
                <dl>
                    <dt>
                        {% if g.user.isteacher %}
                        <div class="right favor_div">
                            <div title="取消推荐" class="left favor2_icon" data='{{favor.works_id}}'></div><span>取消推荐</span>
                        </div>
                        {% endif %}
                        <strong><p>{{ favor.task_content }}</p></strong>
                    </dt>
                    <dd><span>{{ favor.student }}</span> @ <span>{{ favor.classgrade }}</span> {{ favor.time }} 来自：<span>{{ favor.teacher }}老师的推荐</span></dd>
                    <dd>家长评语：{{favor.parent_comment}}</dd>
                    <dd>老师评分：{{ favor.teacher_comment|default('',true) }}</dd>
                    <div class="right">
                        <div title="喜欢" class="left" style="margin-left:10px;color:red;">
                            <div class="left fav_love"></div>{{ favor.love }}
                        </div>
                        <div title="播放" class="left" style="margin-left:10px;">
                            <div class="left fav_click"></div>{{ favor.click }}
                        </div>
                        <div title="回复" class="left" style="margin-left:10px;">
                            <div class="left fav_reply"></div>{{ favor.reply }}
                        </div>
                    </div>
                    <div class="showstar" data-star="{{ favor.star }}" style="width:200px;"></div>
                </dl>
            </div>
        </div>
    {% endfor %}
    <div>{% include "page_floor.html" %}</div>
</div>
{% endblock %}
