{% for favvideo in pagination.items %}
<div class="goodvideo_comment clearfix">
    <div class="avatar left">
        <img style="margin-left:12px;" src="/static/images/home/teacher.png" width="50px" height="50px">
    </div>
    
    <div class="img-item comment left">
        <div class="top clearfix">
            <div class='item'>老师{{ favvideo.user.nickname }} 于 {{ favvideo.created|datetime }} 发布视频 
                {% for classgrade in favvideo.classgrades %}
                    <span style="color:#78BAD2;">@{{ classgrade.class_name }}</span>
                {% endfor %}
            </div>
            
            <div class="left video">
                <a href="/favor/goodvideo/{{ favvideo.favvideo_id }}/show/">
                    <div style="position:relative">
                        <img src="{{ favvideo.item.thumbnail }}" width="140px" height="100px">
                        <img style="position:absolute;top:40%;left:40%;margin:0px" src="/static/images/videos/play_large.png">
                    </div>
                </a>
            </div>
            
            <div class="title">视频名称：<a href="/favor/goodvideo/{{favvideo.favvideo_id}}/show/">{{ favvideo.name }}</a></div>
            <div class="reason">推荐理由：{{ favvideo.reason }}</div>
        </div>
        
        <div class="viedo-status status">视频状态：已观看{{ favvideo.read }}人；未观看<span>{{ favvideo.noread }}</span>人</div>
    </div>
</div>
{% endfor %}
{% include "page_floor_ajax.html" %}
<script type="text/javascript">
jQuery(function(){
    $(".page_floor a[data]").click(function(){
        page = $(this).attr("data");
        $("#comment").load("/favor/goodvideo/item/?page="+page);
    });
});
</script>
