{% extends "homebase.html" %}
{% block title %}
    图片推荐
{% endblock %}
{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ '/static/css/apps/fav_img.css'|staticurl }}" />
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ '/static/js/lib/plupload.js'|staticurl }}"></script>
<script type="text/javascript" src="{{ '/static/js/apps/favor_img.js'|staticurl }}"></script>
{% endblock %}

{% block centerbody %}

<div class="panel">
    <div class="flash clearfix">
        <div class="send-img"></div>
        <div class="upimgmodule">
            {% for img in imglist %}
            <div class="imgdiv">
                <div class="imgbox">
                    <img src="{{ img.thumbnail }}">
                </div>
                <div class="delete" data="{{img.id}}">X</div>
            </div>
            {% endfor %}
            <div class="imgdivempty example">
            </div>
            
            <div class="imgdiv">
                <div class="upbtn" id="upbtn">
                    <div class="left upload_icon"></div><span>上传图片</span>
                    
                </div>
            </div>
        </div>
    </div>
    
    <div class="upinput">
        <div class="clearfix line">
            <div class="left title">相册名称：</div>
            <div class="left">
                <input class="placeholder" name="name" placeholder="请您设置上传的图片集（图片数量大于等于一张）的名称，默认为图片的上传时间。" type="text" value="">
            </div>
        </div>
        
        <div class="clearfix line">
            <div class="left title">推荐理由：</div>
            <div>
                <input class="placeholder" name="reason" placeholder="可以不填，图片发布之后仍可随时编辑修改。" type="text" value="">
            </div>
        </div>
        
        <div class="clearfix line">
            <div class="left title">发布到：</div>
            <div id="selectclass" class="selectclass left"></div>
            <div class="right">
                <input id="publish" class="send" type="button" value="发布"/>
            </div>
            <ul id="myclasses" class="myclasses">
            {% for classgrade in g.user.classgrades %}
                <li classid="{{ classgrade.class_id }}" title="{{ classgrade.school.school_name }} >> {{ classgrade.class_name }}">
                    <div>
                        <input type="checkbox"/>
                        <span>{{ classgrade.class_name }}</span>
                    </div>
                </li>
            {% else %}
                <li class="panel info">
                    你没有班级，<a href="/class/create/">立刻创建</a>
                </li>
            {% endfor %}
            
            </ul>
        </div>
    </div>
    
    
    <div class="subline"></div>
    
    <div id="comment" class="comment">
    </div>
</div>
<script type="text/javascript">
jQuery(function(){
    $("#comment").load("{{ '/favor/img/item'|nocacheurl }}");
})
</script>
{% endblock %}
