{% extends "homebase.html" %}
{% block title %}
    图片推荐
{% endblock %}
{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ '/static/css/apps/fav_img.css'|staticurl }}" />
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ '/static/js/apps/favor_imgshow.js'|staticurl }}"></script>
{% endblock %}
{% block centerbody %}

<div class="send-img"></div>

<div class="panel">
    <div class="carouselbox clearfix">
        <div class="turnleft left">
            <div class="left_icons"></div>
        </div>
        <div class="carousel">
                {% set lilen = itemlist.__len__() %}
                <ul style="width:{{lilen*90}}px;" len='{{ lilen }}'>
                {% for item in itemlist %}
                    <li>
                        <img {% if loop.index == 1 %}class="active"{% endif %} src="{{ item.thumbnail }}" data="{{item.path}}" index="{{ loop.index }}" />
                    </li>
                {% endfor %}
                </ul>
            
        </div>
        <div class="turnright left">
            <div class="right_icons"></div>
        </div>
    </div>
    <div class="showbox">
        {% if itemlist %}
            {% set favimgitem = itemlist[0] %}
        {% endif %}
        
        <div>
            <img src="{{favimgitem.path}}" />
        </div>
        <a target="_blank" href="{{favimgitem.path}}">查看原图</a>
    </div>
    <div class="info">
        <div class="clearfix">
            <h3 class="left" style="font-size:14px;color:#40a7ca;">{{ favimg.name }}</h3>
            <!--span id="imginfo" style="font-size:14px;margin-left:20px;">{{ favimgitem.name }}</span-->
        </div>
        <div class="clearfix">
            <div class="left">老师{{ favimg.user.nickname }}于{{ favimg.created|datetime }}发布</div>
        </div>
        <div class="clearfix" style="border-bottom: 1px solid;margin:5px 0px;border-bottom-color: #c7c7c7;width: 490px;"></div>
        <div class="clearfix">
            <div class="allcomment left">所有评论({{ favimg.reply }})</div>
            <!--div class="right">查看所有评论</div -->
        </div>
        <div id="replydiv" style="display:none;">
            回复：<span></span>
            <input type="hidden" value="">
            <div class="right close">X</div>
        </div>
        <div class="commentarea comment clearfix">
             <textarea placeholder="请发表评论!"></textarea>
        </div>
        <div class="comment-send clearfix right" id="sendcomment" style="cursor:pointer;color:blue;">发表</div>
        <div id="comment" class="clearfix" style="color:#545454;margin-top:15px;">
        
        </div>
    </div>
    
</div>

{% endblock %}
