{{#task}}
<div class="task-container panel clearfix {{#ispreview}}preview{{/ispreview}}">
    <div class="avatar left">
        <img title="{{teacher.course}}老师{{teacher.nickname}}" src="{{teacher.smallavatar}}"/>
    </div>
    <div class="task-info left">
        <div class="task-baseinfo">
            <div class="task-title">
                于{{task.updatetime}}&nbsp;发布通知&nbsp;
                {{#classgrades}}
                    <a class="tag link" href="/class/{{class_id}}/" title="{{class_name}}">&nbsp;@{{class_name}}&nbsp;</a>
                {{/classgrades}}
            </div>
            <div class="task-content">
                {{task_content}}
            </div>
    
            <div class="task-property">
                <div>
                    截止日期：<span class="task-deadline">{{deadline}}</span>
                </div>
                <div>
                    通知说明：<span class="up-text">{{description}}</span>
                    {{^ispreview}}
                        <a class="right" name="up-btn" state="up" task-data={{ task_id }}>
                          <div class="edit_icon left"></div>编辑
                        </a>
                    {{/ispreview}}
                </div>
            </div>
            {{^ispreview}}
                {{#attachments}}
                    <div class="task-attachment">
                        附件：<a href='{{path}}'>{{filename}}&nbsp;<strong>下载</strong></a>
                    </div>
                {{/attachments}}
            {{/ispreview}}
            {{#ispreview}}
                {{#attachments}}
                    <div class="task-attachment">
                        附件：<a target="_blank">{{filename}}</a>
                    </div>
                {{/attachments}}
            {{/ispreview}}
        </div>
        
        {{#statistics}}
            <div class="task-state">
                通知状态：
                已确定<span class="tag info">{{confirmed.count}}</span>人
                未确定<span class="task-unhandincount tag info">{{unconfirmed.count}}</span>人
                <div class="task-unhandinstudent">
                    {{#unconfirmed.users}}
                        <div class="clearfix">
                        <span class="classname">{{classname}}:</span>
                        <ul>
                            {{#users}}
                                <li>{{nickname}}</li>
                            {{/users}}
                        </ul>
                        </div>
                    {{/unconfirmed.users}}
                </div>
            </div>
        {{/statistics}}
    
        <div class="task-op clearfix">
            {{#ispreview}}
                <div class="task-preview right">
                    <span class="task-preview-cancel btn disable">取消</span>
                    <span class="task-preview-ok btn">发布</span>
                </div>
            {{/ispreview}}
        </div>
    </div>
</div>
{{/task}}
