{% extends "homebase.html" %}
{% block title %}
    {{ g.user|gettext }} -- {% if title %}{{ title }}{% else %}通知{% endif %}
{% endblock %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ '/static/css/apps/task.css'|staticurl }}" />
<link type="text/css" rel="stylesheet" href="{{ '/static/css/modules/task_publish.css'|staticurl }}" />
<link type="text/css" rel="stylesheet" href="{{ '/static/css/modules/upload.css'|staticurl }}" />
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ '/static/js/apps/task.js'|staticurl }}"></script>
    <script type="text/javascript" src="{{ '/static/js/modules/task_publish.js'|staticurl }}"></script>
    <script type="text/javascript" src="{{ '/static/js/lib/plupload.js'|staticurl }}"></script>
    <script type="text/javascript" src="{{ '/static/js/modules/vselfuploader.js'|staticurl }}"></script>
{% endblock %}

{% block centerbody %}
<div class="panel task">
    <div class="panel">
        {% if g.user.isteacher %}
            {% include 'task/teacher/notify_publish.html' %}
        {% endif %}
    </div>
    <div class="task-main">
        {% for task in result %}
            {{ render_mustache('task/teacher/notify_item_tmpl.html',task=task) }}
        {% else %}
            <div class="noitem panel">您还没有发布过通知</div>
        {% endfor %}
    </div>
    <div class="task-page">
        {% include 'page_floor.html' %}
    </div>
</div>
{% endblock %}
{% block template %}
<script id="vselfTempl" class="mustache-template" type="text/template">
    {{ include_mustache('task/teacher/notify_item_tmpl.html',scriptag=False) }}
</script>
{% endblock %}
