{{#task}}
<div class="task-container panel clearfix {{#ispreview}}preview{{/ispreview}}">
    <div class="avatar left">
        <img title="{{teacher.course}}老师{{teacher.nickname}}" src="{{teacher.smallavatar}}"/>
    </div>
    <div class="task-info left">
        <div class="task-baseinfo">
            <div class="task-title">
                于{{task.updatetime}}&nbsp;发布作业&nbsp;
                {{#classgrades}}
                    <a class="tag link" href="/task/show/{{task_id}}/{{class_id}}/" title="{{class_name}}">&nbsp;@{{class_name}}&nbsp;</a>
                {{/classgrades}}
            </div>
            <div class="task-content">
                {{task_content}}
            </div>
            <div class="task-property">
                <div>
                    作业类型：{{task_type_text}}作业
                </div>
                {{#ispreview}}
                    {{#multi}}
                        <div>
                            开始时间：<span class="task-deadline">{{start}}</span>
                            结束时间：<span class="task-deadline">{{end}}</span>
                        </div>
                        <div class="task-circle">
                            <span>作业周期：每{{rate}}天完成一次，共完成{{totalcount}}次</span>
                        </div>
                    {{/multi}}
                    {{^multi}}
                        <div>
                            截止日期：<span class="task-deadline">{{deadline}}</span>
                        </div>
                    {{/multi}}
                {{/ispreview}}
                {{^ispreview}}
                    <div>
                        截止日期：<span class="task-deadline">{{deadline}}</span>
                    </div>
                {{/ispreview}}
                
                <div>
                    作业说明：<span class="up-text">{{description}}</span>
                    {{^ispreview}}
                    <a class="right" name="up-btn" state="up" task-data={{ task_id }}>
                      <div class="edit_icon left"></div>编辑
                    </a>
                    {{/ispreview}}
                </div>
            </div>
            {{#attachments}}
            <div class="task-attachment">
                附件：<a href='{{path}}'>{{filename}}{{^ispreview}}&nbsp;<strong>下载</strong>{{/ispreview}}</a>
            </div>
            {{/attachments}}
        </div>
        {{#statistics}}
            <div class="task-state">
                作业状态：
                已提交<span class="tag info">{{confirmed.count}}</span>人
                未提交<span class="task-unhandincount tag info">{{unconfirmed.count}}</span>人
                <div class="task-unhandinstudent">
                    {{#unconfirmed.users}}
                        <div class="clearfix">
                        <span class="classname">{{classname}}:</span>
                        <ul>
                            {{#users}}
                                <li>{{nickname}}</li>
                            {{/users}}
                        </ul>
                        </div>
                    {{/unconfirmed.users}}
                </div>
            </div>
        {{/statistics}}
    
        <div class="task-op clearfix">
            {{#ispreview}}
                <div class="task-preview right"><span class="task-preview-cancel btn disable">取消</span><span class="task-preview-ok btn">发布</span></div>
            {{/ispreview}}
            {{^isconfirm}}
                {{#user.isparent}}
                    <div class="task-confirm right" data-taskbox_id="{{taskbox_id}}" ><div class="approval_icon left"></div>点击确认</div>
                {{/user.isparent}}
            {{/isconfirm}}
        </div>
    </div>
</div>
{{/task}}
