<div class="task_publish panel">
    <div class="panel clearfix">
        <div class="prompt-task left"></div>
    </div>
    <div class="content-panel clearfix">
        <div class="content left">
            <textarea id="task_content" placeholder="请您针对孩子的能力，设置合理的完成时间，每条视频作业仅支持一个视频。"></textarea>
        </div>
    </div>
    <div class="task-type-setting clearfix">
        <div class="task-type-panel left">
            <span class="task-type active" data-type="1" title="视频作业用于发布学生需要背诵、朗读和演讲等口头作业"><span class="video_icon"></span>视频</span>
            <span class="task-type" data-type="4" title="图片作业用于发布学生需要改错、练字、作文等笔头作业"><span class="image_icon"></span>图片</span>
            <span class="task-type" data-type="2" title="笔头作业用于发布学生需要完成的纸质作业，为了让学生养成记作业的好习惯，笔头作业只有家长能够看到"><span class="writing_icon"></span>笔头</span>
        </div>
        <div class="multitask-panel right">
            <span title="每天背10个单词，念一个小故事等需要学生一段时间内反复完成的作业，以视频、图片等格式让学生完成"><input type="checkbox" name="multitask"/><span id="multitask" class="multitask"><span class="multitask_icon"></span>周期作业</span></span>
        </div>
    </div>
    <div class="time-setting clearfix">
        <div class='single-task-time'>
            <span>截止时间：<input id="task_deadline" class='deadline datepicker' type="text" readonly="true" value="{{ weekday }}"/>
            </span>
        </div>
        <div class='multi-task-time'>
            <div class="clearfix">
                <div class='left'>
                    <span>开始时间：
                        <input id="multitask_start" class='deadline datepicker' type="text" readonly="true" value="{{ today }}"/>
                    </span>
                </div>
                <div class='multi-endtime left'>
                    <span>结束时间：
                        <input id="multitask_end" class='deadline datepicker' type="text" readonly="true" value="{{ weekday }}"/>
                    </span>
                </div>
            </div>
            <div class="task-circle">
                <span>作业周期：每<input type="text" name="daycount" value='1' title="支持键盘“↑”、“↓”增加或减少天数" />天完成一次，共完成<span id="totalcount" class="totalcount"></span>次</span>
            </div>
        </div>
    </div>
    <div class="operator panel clearfix">
        <div class='item left clearfix'>
            <div class="left sendfont">发布班级：</div>
            <div id="selectclass" class="selectclass left"></div>
        </div>
        <ul id="myclasses" class="myclasses">
            {% for classgrade in g.user.classgrades %}
                <li classid="{{ classgrade.class_id }}" title="{{ classgrade.school.school_name }} >> {{ classgrade.class_name }}">
                    <div>
                        <input type="checkbox"/>
                        <span>{{ classgrade.class_name }}</span>
                    </div>
                </li>
            {% else %}
                <li class="panel info">
                    你没有班级，<a href="/class/create/">立刻创建</a>
                </li>
            {% endfor %}
        </ul>
        <div id="attachmentpanel" class='item attachmentpanel left'>
            <div id="addattachment" class="addattachment clearfix"><div class="addattachment_icon left"></div>添加附件</div>
            <div id="attachmentuploader" class="attachmentuploader clearfix">
                {% include "inc/vselfupload.html" %}
                <div class="attachmentdesc">文件大小必须小于200M</div>
            </div>
        </div>
        <div class="item sendmailpanel left">
            <span title="请在班级管理中添加您的班级公共邮箱，您在背书吧发布的作业可以直接发送到您的班级公共邮箱当中">
                <label><input type="checkbox" name="sendmail"/><span id="sendmail" class="sendmail">同时发送到班级公共邮箱</span></label>
            </span>
        </div>
         <div class="previewbtn right">
            <a id="publishbtn" class="btn disable">预览</a>
        </div>
    </div>
</div>
