{% extends "homebase.html" %}
{% block title %}
    {{ g.user|gettext }} -- {% if title %}{{ title }}{% else %}作业{% endif %}
{% endblock %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ '/static/css/apps/task_works.css'|staticurl }}" />
<link type="text/css" rel="stylesheet" href="{{ '/static/css/lib/jquery.rating.css'|staticurl }}" />
<link rel="stylesheet" type="text/css" href="{{ '/static/css/modules/upload.css'|staticurl }}" />
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ '/static/js/apps/task.js'|staticurl }}"></script>
    <script type="text/javascript" src="{{ '/static/js/apps/task_works_show.js'|staticurl }}"></script>
    <script type="text/javascript" src="{{ '/static/js/lib/jquery.rating.js'|staticurl }}"></script>
    {% if not g.user.isteacher %}
    <script type="text/javascript" src="{{ '/static/js/lib/plupload.js'|staticurl }}"></script>
    {% endif %}
    <script type="text/javascript" src="{{ '/static/js/modules/vselfuploader.js'|staticurl }}"></script>
    <script type="text/javascript" src="{{ '/static/js/modules/video.js'|staticurl }}"></script>
    {% include "inc/videoplayer_header.html" %}
{% endblock %}

{% block centerbody %}
<div class="panel" style="margin-bottom:10px;">
    <div class="pigai-task"></div>
</div>
<div class="panel task">
    <div class="classtagpanel clearfix">
        <ul class="clearfix">
            {% for class in classes %}
                <li>
                    <a class="{{ 'active'|ifdefault(class.class_id==class_id) }}" href="/task/show/{{task_id}}/{{ class.class_id }}/">{{ class.class_name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="task-main task_notreaded">
        <h3>未批改的作业信息：</h3>
        {% if notreadedworks and notreadedworks|length >0 %}
            <div id="correctall">
                {{ render_mustache('task/task_works_correct_tmpl.html',task=task) }}
            </div>
        {% endif %}
        {% for work in notreadedworks %}
            {{ render_mustache('task/task_works_tmpl.html',work=work) }}
        {% else %}
            <div class="noitem panel">没有学生的未完成的作业信息</div>
        {% endfor %}
    </div>
    
    <div class="task-main task_readed">
        <h3>已批改的作业信息：</h3>
        {% for work in readedworks %}
            {{ render_mustache('task/task_works_tmpl.html',work=work) }}
        {% else %}
            <div class="noitem panel">没有学生的已完成的作业信息</div>
        {% endfor %}
    </div>
    <div class="task-page">
        {% include 'page.html' %}
    </div>
</div>
{% endblock %}
