{% extends "homebase.html" %}
{% block title %}
    {{ g.user|gettext }} -- {% if title %}{{ title }}{% else %}作业{% endif %}
{% endblock %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ '/static/css/apps/task.css'|staticurl }}" />
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ '/static/js/apps/task.js'|staticurl }}"></script>
{% endblock %}

{% block centerbody %}
<div class="panel task">
    <div class="task-main">
        {% for task in result %}
            {{ render_mustache('task/parent/writing_tmpl.html',task=task) }}
        {% else %}
            <div class="noitem panel">没有学生的作业信息</div>
        {% endfor %}
    </div>
    <div class="task-page">
        {% include "page_floor.html" %}
    </div>
</div>
{% endblock %}
