<!DOCTYPE html> 
<html> 
<head> 
    <title>{% block title %}背书吧，中国领先的教师、家长学生的视频作业管理平台{% endblock %}</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link type="text/css" rel="stylesheet" href="{{ '/static/css/lib/jquery.ui.css'|staticurl }}" />
    <link type="text/css" rel="stylesheet" href="{{ '/static/css/mobile/jquery.mobile.css'|staticurl }}" />
    <link type="text/css" rel="stylesheet" href="{{ '/static/css/vself.css'|staticurl }}" />
    <link rel="apple-touch-icon" href="/static/images/mobile/logo/logo.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/mobile/logo/touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/mobile/logo/touch-icon-iphone4.png" />
    {% block stylesheets %}{% endblock %}
    <script src="{{ '/static/js/mobile/jquery.js'|staticurl }}"></script>
    <script type="text/javascript" src="{{ '/static/js/lib/jquery.ui.js'|staticurl }}"></script>
    <script src="{{ '/static/js/mobile/mobile-default.js'|staticurl }}"></script>
    <script src="{{ '/static/js/mobile/jquery.mobile.js'|staticurl }}"></script>
    <script type="text/javascript" src="{{ '/static/js/lib/mustache.js'|staticurl }}"></script>
    <script type="text/javascript" src="{{ '/static/js/utils.js'|staticurl }}"></script>
    <script type="text/javascript" src="{{ '/static/js/vself.js'|staticurl }}"></script>
    <script type="text/javascript" src="{{ '/static/js/utils.js'|staticurl }}"></script>
    <script type="text/javascript">
        var using_html5 = {{ 'true' if g.using_html5 else 'false' }};
        var flash_messages = {{ get_flashed_messages()|list|tojson|safe }};
        function show_flash_messages(){
            if (flash_messages != undefined && flash_messages != null && flash_messages != ""){
              var m = flash_messages.join(', ');
              smallnote(m);
            }
        }
    </script>
    {% block scripts %}{% endblock %}
</head>
<body> 
{% block header %}
{% endblock %}
{% block mainbody %}
{% endblock %}
{% block footer %}
{% endblock %}
<script type="text/javascript">
    window.vself = {
        visitor: {{ g.user|fullinfo|safe }}
    };
</script>
</body>
</html>