{% extends "/mobile/homebase.html" %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ '/static/css/apps/class.css'|staticurl }}" />
{% endblock %}
{% block centerbody %}
<div class="class-members">
    <dl>
        <dd>
            <ul class="clearfix">
                {% set teacher = classgrade.teacher %}
                <li>
                    <div class="member-item">
                        <div class="member-avatar" title="{{teacher.nickname}}">
                            <img alt="{{teacher.nickname}}" src="{{teacher|avatar}}" />
                        </div>
                        <div class="member-nickname" title="{{teacher.nickname}}">
                            {{teacher.nickname}}<br />
                            {{teacher.course}}{{ teacher|gettext }}
                        </div>
                    </div>
                </li>
            </ul>
        </dd>
    </dl>
    <dl>
        <dd>
            <ul class="clearfix">
                {% for student in classgrade.students %}
                    <li>
                        <div class="member-item">
                            <a>
                                <div class="member-avatar" title="{{student.nickname}}">
                                    <img alt="{{student.nickname}}" src="{{student|avatar}}" />
                                </div>
                                <div class="member-nickname" title="{{student.nickname}}">{{student.nickname}}</div>
                            </a>
                        </div>
                        <div class="delete_icon" data="{{ student.user_id }}" data2={{subtab}} data3={{student.nickname}}></div>
                    </li>
                {% endfor %}
            </ul>
        </dd>
    </dl>
</div>
{% endblock %}
