{% extends "/mobile/homebase.html" %}
{% block stylesheets %}
{% endblock %}
{% block scripts %}
{% endblock %}
{% block centerbody %}
{% if error %}
    <div class="ui-body ui-body-e">
        {{ error }}
    </div>
{% endif %}
{% set children=g.user.children %}
<form action="" method="post" data-theme="b" data-ajax="false">
    <fieldset data-role="controlgroup">
        <legend>请选择一个孩子:</legend>
            {% for child in children %}
                <input type="radio" name="user_id" id="{{child.user_id}}" value="{{child.user_id}}" checked="checked" />
                <label for="{{child.user_id}}">{{child.nickname}}</label>
            {% endfor %}
    </fieldset>
    <button type="submit" data-theme="b" name="submit" value="submit-value" class="ui-btn-hidden" aria-disabled="false">确定</button>
</form>
{% endblock %}
