{% extends "/mobile/homebase.html" %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ '/static/css/mobile/task.css'|staticurl }}" />
<link type="text/css" rel="stylesheet" href="{{ '/static/css/modules/upload.css'|staticurl }}" />
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ '/static/js/mobile/task.js'|staticurl }}"></script>
    <script type="text/javascript" src="{{ '/static/js/lib/plupload.js'|staticurl }}"></script>
    <script type="text/javascript" src="{{ '/static/js/modules/vselfuploader.js'|staticurl }}"></script>
{% endblock %}
{% block centerbody %}
<div class="panel task">
    {% if g.user.isteacher %}
        <div class="task_publish">
            <div class="prompt-task"></div>
            <textarea name="textarea" id="task_content" placeholder="请您针对孩子的能力，设置合理的完成时间，每条视频作业仅支持一个视频。"></textarea>
            <div class="task-type-panel">
                <span class="task-type active" data-type="1" title="视频作业用于发布学生需要背诵、朗读和演讲等口头作业"><span class="video_icon"></span>视频</span>
                <span class="task-type" data-type="4" title="图片作业用于发布学生需要改错、练字、作文等笔头作业"><span class="image_icon"></span>图片</span>
                <span class="task-type" data-type="2" title="笔头作业用于发布学生需要完成的纸质作业，为了让学生养成记作业的好习惯，笔头作业只有家长能够看到"><span class="writing_icon"></span>笔头</span>
            </div>
            <div class="time-setting clearfix">
                <div class='single-task-time'>
                    <span>截止时间：<input id="task_deadline" class='deadline datepicker' type="text" readonly="true" value="{{ weekday }}"/>
                    </span>
                </div>
            </div>
            <div class="operator panel clearfix">
                <div class='item left clearfix'>
                    <div class="left sendfont">发布班级：</div>
                    <div id="selectclass" class="selectclass left"></div>
                </div>
                <ul id="myclasses" class="myclasses">
                    {% for classgrade in g.user.classgrades %}
                        <li classid="{{ classgrade.class_id }}" title="{{ classgrade.school.school_name }} >> {{ classgrade.class_name }}">
                            <div>
                                <input type="checkbox"/>
                                <span>{{ classgrade.class_name }}</span>
                            </div>
                        </li>
                    {% else %}
                        <li class="panel info">
                            你没有班级，<a href="/class/create/">立刻创建</a>
                        </li>
                    {% endfor %}
                </ul>
                <div id="attachmentpanel" class='item attachmentpanel left'>
                    <div id="addattachment" class="addattachment clearfix"><div class="addattachment_icon left"></div>添加附件</div>
                    <div id="attachmentuploader" class="attachmentuploader clearfix">
                        {% include "inc/vselfupload.html" %}
                        <div class="attachmentdesc">文件大小必须小于200M</div>
                    </div>
                </div>
                 <div class="previewbtn right">
                    <a id="publishbtn" class="btn btn-primary">发布</a>
                </div>
            </div>
        </div>
    {% endif %}
    {% include '/mobile/modules/page_floor.html' %}
    <div class="task-main">
        {% for task in result %}
            {{ render_mustache('/mobile/modules/task_item_tmpl.html',task=task) }}
        {% else %}
            <div class="noitem panel">您还没有发布过作业</div>
        {% endfor %}
    </div>
    {% include '/mobile/modules/page_floor.html' %}
</div>
{% endblock %}
