.class-school {
  border: 1px #ededed solid;
  background: #f7f7f7;
  width: 440px;
  padding: 10px;
}
.class-school ul {
  background: #fff;
  border: 1px #ededed solid;
  margin-bottom: 10px;
}
.class-school ul li {
  cursor: pointer;
  color: #326799;
  font-size: 12px;
  margin-left: 10px;
  margin-top: 5px;
  padding: 4px;
  float: left;
}
.class-school ul li.active {
  background: #e9f1fc;
}
.class-school ul li:hover {
  background: #e9f1fc;
}
.class-school .school {
  height: 205px;
  overflow-y: auto;
  overflow-x: hidden;
}
.class-school .school li {
  width: 190px;
  text-decoration: default;
}
.class-school .searchpanel .search_input {
  background: #fff;
  width: 365px;
  height: 25px;
  border: 1px solid #cdcdcd;
  margin-right: 5px;
}
.class-school .searchpanel .search_input input {
  width: 365px;
  height: 25px;
}
.class-school .searchpanel .search_input label {
  margin-top: 5px;
  margin-left: 5px;
}
