.timeline{
    background: #ffffff;
    border-bottom: #d1d1d1 dotted 1px;
    padding:10px 0; 
}
.timeline .left{
    float:left;
}
.timeline .right{
    float:right;
}
.userpic{
    padding: 4px 15px 4px 10px;
}
.userpic img {
    width: 50px;
    height: 50px;
}

.msgbox {
    width: 465px;
    overflow: hidden;
    word-wrap: break-word;
}

.username {
    font-size: 12px;
    color: #343538;
}

.msgcnt{
    font-size: 14px;
    overflow: hidden;
    word-wrap: break-word;
    color:#333;
}
.taskbody{
    margin:5px 16px 5px 0;
    background-color: #f8f8f8;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius: 3px;
    width: 435px;
    padding:10px;
}
.condition{
    margin-top: 10px;
    margin-right: 6px; 
    font-size: 12px;
    color: #00a0ea;
}
.pubinfo{
    margin-top: 5px;
}
.pubinfo .pubtime{
    color: #e2e2e2;
}
.pubinfo .pubop{
    margin-right: 16px;
}
.pubinfo .pubop a{
    display: inline-block;
    padding-left: 4px;
    color: #75b9ce;
}
.pubinfo .pubop a:hover{
    color: #72c4dd;
}
.correctinfo{
    display:none;
    width:440px;
    background-color: #f8f8f8;
    padding: 8px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius: 3px;
}
.correctinfo .star{ margin: 8px 0; background-color: transparent; }
.correctinfo .cro_comment textarea{width: 300px;height: 110px;}
.correctinfo .comment-suggest{ width:138px; height: 110px; background:#ffffff;}
.correctinfo .comment-suggest li{display: block; padding:6px 0 1px 12px; color:#00a0ea;}

.timeline-invalid,.timeline-major,.timeline-notfinish,.timeline-handin,.timeline-approval,.timeline-confirmed,.timeline-finish{ position: relative; }
.timeline-invalid-tag,.timeline-major-tag,.timeline-notfinish-tag,.timeline-handin-tag,.timeline-approval-tag,.timeline-confirmed-tag,.timeline-finish-tag{ position: absolute; top:0px; right: 0px; width: 60px; height: 60px; background: url(/static/images/home/status.png) no-repeat; }
/* 1.即将到期，2.未提交，3.已过期，4.已批改，5.已确认，6.已点评，7.点评中 */
.timeline-major-tag{ background-position: 0 0; }
.timeline-notfinish-tag{ background-position: 0 -60px; }
.timeline-invalid-tag{ background-position: 0 -120px; }
.timeline-finish-tag{ background-position: 0 -180px; }
.timeline-confirmed-tag{ background-position: 0 -240px; }
.timeline-approval-tag{ background-position: 0 -300px; }
.timeline-handin-tag{ background-position: 0 -360px; }

/**笔头作业没有评论的**/
.timeline .unconmem{
    display:none;
    position:relative;
    color:#fff;
    top:-20px;
    left:130px;
    background-color: #72c4dd;
    padding: 8px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius: 3px;
}
.timeline .unconmem .classname{
    font-weight: bold;
}
.timeline .unconmem ul{
    padding:5px 10px;
}

/**分页**/
.timeline-page {
    background:#fff;
    padding:10px 20px;
}
.timeline-page ul{
    float: right;
}
.timeline-page li {
    margin-right: 5px;
    float: left;
}
.timeline-page a {
    color: #399;
    text-decoration: none;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    padding:3px 5px;
}
.timeline-page .page-on:hover {
    font-weight: bold;
    color: #3FA7CB;
    background: #EEE;
}
.timeline-page .active{
    font-weight: bold;
    color: #3FA7CB;
    cursor:default;
}
.timeline-page .next-off,
.timeline-page .previous-off{
    color: #666;
    cursor:default;
}
/**分页结束**/

