{% extends "homebase.html" %}
{% block title %}
    家长--创建子女账号
{% endblock %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ '/static/css/apps/parent.css'|staticurl }}" />
<link type="text/css" rel="stylesheet" href="{{ '/static/css/vself.css'|staticurl }}" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ '/static/js/apps/parent.js'|staticurl }}"></script>
{% endblock %}

{% block centerbody %}
<div class="main_wrap_center">
    <h2>为其他子女创建一个新的账号</h2>
    <h4>您还有其他子女吗？为他也创建一个背书吧账号吧，一起体验轻松、快乐的V时代学习吧！</h4>
    <div class="infoform">
         <ul class="infoform clearfix">
            <li>
                <label>孩子真实姓名：</label><input name="studentname" type="text" value="" />
                <div class="tips"><div class="alert error hide"></div></div>
            </li>
            <li>
                <label>孩子的邮箱：</label><input name="studentemail" type="text" value="" />
                <div class="tips"><div class="alert error hide"></div></div>
                <div class="tips spinfo2">*孩子的邮箱用来登录孩子的背书吧账户</div>
                <div class="tips spinfo3">还没有邮箱？<a href="http://mail.163.com" target="_blank">去163注册邮箱</a></div>
            </li>
        </ul>
        
         <ul class="infoform clearfix">
            <li>
                <label>请输入您的密码：</label><input name="newpassword" type="password" value="" />
                <div class="tips"><div class="alert error hide"></div></div>
            </li>
            <li>
                <label>确认密码：</label><input name="confirmpassword" type="password" value="" />
                <div class="tips spinfo4">*注册成功之后家长和孩子可以在系统中修改各自的密码，保护个人权限</div>
            </li>
        </ul>
    </div>
    
    

    <div class="nextbox">
        <div class="licenseinfo">
            <input id="iagree" name="iagree" type="checkbox" checked />
            <label for="iagree">我同意</label><a href="/license/">《背书吧服务使用协议》</a>
            <div class="tips"><div class="alert error hide"></div></div>
        </div>
        <div class="next regbtn">提交</div>
    </div>
</div>
        
{% endblock %}
