{% extends "homebase.html" %}
{% block title %}
    家长--我的子女
{% endblock %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ '/static/css/vself.css'|staticurl }}" />
{% endblock %}
{% block centerbody %}
<div class="main_wrap_center">
    {% if g.user.children|length > 0 %}
        <div class="child">
        {% if child.avatar %}
            <img src="{{ child.avatar }}/50.jpg" />
        {% else %}
            <img src="/static/images/icons/avatar.jpg"/>
        {% endif %}
        {{ child.nickname }}
        </div>
        
        
        {% for classgrade in classgrades %}
            <div class="member">
                <div class="member-top">
                    学校：{{classgrade.school|default("",true)}}<br />
                    班级：{{classgrade.class_name}}
                </div>
                
                <ul class="clearfix">
                    {% set teacher = classgrade.teacher %}
                    <li>
                        <div title="{{teacher.nickname}}">
                            <img alt="{{teacher.nickname}}" src="{{teacher|avatar}}" />
                        </div>
                        <div class="member-nickname" title="{{teacher.nickname}}">
                            {{teacher.nickname}}<br />
                            {{teacher.course}}{{ teacher|gettext }}
                        </div>
                    </li>
                </ul>
                
                <ul class="clearfix">
                {% for student in classgrade.students %}
                    <li>
                        <div title="{{student.nickname}}">
                            <img alt="{{student.nickname}}" src="{{student|avatar}}" />
                        </div>
                        <div class="member-nickname" title="{{student.nickname}}">{{student.nickname}}</div>
                    </li>
                {% endfor %}
                </ul>
            </div>
        {% else %}
            没有加入任何班级<br />
        {% endfor %}
    
    {% else %}
        <div class="noitem">您还没有加入任何孩子</div>
    {% endif %}
</div>
{% endblock %}
