{% extends "school/class.html" %}
{% block scripts %}
<script type="text/javascript" src="/static/js/modules/class_demand.js"></script>
<script type="text/javascript">
jQuery(function() {
  $("#submit").click(function(){
    $(".demandform form").submit();
  })
})
</script>
{% endblock %}
{% block innertab %}
<div class="class-demand">
<div class="demandform">
    <form action="" method="post">
    <h5>发布新要求</h5>
    <div class="demandtitle">
        <input name="name" type="text" placeholder="新要求的标题" />
    </div>
    <div class="demandcontent">
        <textarea name="content" placeholder="新要求的内容"></textarea>
    </div>
    <div class="operator">
        <div class='item left clearfix'>
            <div class="left">发布到：</div>
            <div id="selectclass" class="selectclass left"></div>
        </div>
        <div class="btn right" id="submit">发布</div>
        <ul id="myclasses" class="myclasses">
            {% for classgrade in g.user.classgrades %}
                <li title="{{ classgrade.school.school_name }} >> {{ classgrade.class_name }}">
                    <div>
                        <input id="a{{ classgrade.class_id }}" name="classes" type="checkbox" {% if subtab== classgrade.class_id %}checked=checked{% endif %} value="{{ classgrade.class_id }}" />
                        <label for="a{{ classgrade.class_id }}">{{ classgrade.class_name }}</label>
                    </div>
                </li>
            {% else %}
                <li class="panel info">
                    你没有班级，<a href="/class/create/">立刻创建</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    </form>
    </div>
    <div class="demandlist">
      {% for demand in demandli %}
        <div class="demandshow clearfix">
            <div class="top">
              <span class="left title">{{ demand.name }}</span>
              <span class="left">
                {% for class in demand.classes %}
                  &nbsp;@{{ class.class_name }}
                {% endfor %}
              </span>
              <div class="right">
                <a href="/class/{{subtab}}/demand/{{ demand.demand_id }}/delete/">
                  <div class="delete_icon left"></div>
                  删除
                </a>
              </div>
            </div>
        <div class="clearfix"></div>
        <p>{{ demand.content }}</p>
        <div class="buttom">
          <div class="right teacher">发布人:{{ demand.teacher.nickname }}{{ demand.teacher|gettext }}</div>
          <div class="clearfix"></div>
          <div class="right time">发布时间:{{ demand.created|datetime }}</div>
        </div>
        </div>
      {% endfor %}
    </div>
</div>
{% endblock %}
