{% extends "school/class.html" %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ '/static/css/apps/class.css'|staticurl }}" />
    <link type="text/css" rel="stylesheet" href="{{ '/static/css/lib/jquery.rating.css'|staticurl }}" />
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        jQuery(function(){
            $('.beishuPlayer').each(function(){
                load_videoplayer($(this).attr('id'));
            });
            
            $(".teacher span[data]").click(function(){
                id = $(this).attr("data");
                $(".teacher input[type=hidden]").val(id);
                $(".teacher span[data]").removeClass("active");
                $(this).addClass("active");
            });
            
            $(".line select[name=year]").change(function(){
                var year = parseInt($(this).val());
                year += 1;
                span = $(this).next();
                span.text(year);
                
            })
        });
    </script>
    <script type="text/javascript" src="{{ '/static/js/lib/jquery.rating.js'|staticurl }}"></script>
    <script type="text/javascript" src="{{ '/static/js/modules/video.js'|staticurl }}"></script>
    {% include "inc/videoplayer_header.html" %}
{% endblock %}

{% block innertab %}
    <div class="class-history">
        <form id="search" action="" method="get">
        <div class="top">
            <div class="line clearfix">
                <div class="title left"><span>学期选择</span></div>
                <select name="year">
                    {% for y in yearlist %}
                    <option value="{{y}}" {% if year == y %}selected{% endif %}>{{y}}</option>
                    {% endfor %}
                </select>
                年—<span>{{year+1}}</span>年 第
                <select name="month">
                    {% for m in [10,5] %}
                    <option value="{{m}}" {% if month == m %}selected{% endif %}>{{ loop.index }}</option>
                    {% endfor %}
                </select>
                学期
            </div>
            <div class="line clearfix teacher">
                <div class="title left"><span>老师</span></div>
                <span {% if teacherid == '0' %}class='active'{% endif %} data='0'>不限</span>
                <input name="teacherid" type="hidden" value="{{teacherid}}">
                <span {% if teacher.user_id == teacherid %}class='active'{% endif %} data='{{teacher.user_id}}'>{{teacher.nickname}}</span>
            </div>
            <div class="line clearfix">
                <div class="title left"><span>&nbsp;</span></div>
                <label>
                    <input name="stype" {% if stype=="1" %}checked{% endif %} type="radio" value="1" />查看自己的以往作业
                </label>
                <label>
                    <input name="stype" {% if stype=="2" %}checked{% endif %} type="radio" value="2" />查看老师推荐的作业
                </label>
            </div>
            <div class="line clearfix">
                <div class="right">
                    <div class="btn" onclick="$('#search').submit()">搜索</div>
                </div>
                <div class="total right">
                    共<span>{{pagination.total}}</span>个视频
                </div>
            </div>
        </div>
        </form>
        
        <div class="result">
            {% for taskbox,task,user,work,video in pagination.items %}
                <div class="clearfix linebox">
                
                    <div class="beishuVideo clearfix left">
                        <a id="{{video.video_id}}" class="beishuPlayer clearfix" href="{{video.video_path}}">
                            <div style="position:relative">
                                <img src="{{video.thumbnail_path}}" style="width:100%;height:100%;margin:0px" alt="" />
                                <img class="videostartbtn" style="position:absolute;top:40%;left:40%;margin:0px" alt="" src="/static/images/videos/play_large.png" />
                            </div>
                        </a>
                    </div>
                    
                    <div class="line left">
                        <div class="title">{{ task.task_content }}</div>
                        <div>{{ user.nickname }}@{{taskbox.classgrade.class_name}} {{work.created|datetime}} 来自:{{task.owner.nickname}}老师</div>
                        <div>家长评语：{{ work.parent_comment }}</div>
                        <div>老师评分：{{ work.teacher_comment }}</div>
                        <div class="showstar" data-star="{{ work.star }}" ></div>
                    </div>
             
                </div>
            {% else %}
                
                <div class="empty">
                    没有视频
                </div>
            {% endfor %}
            <div class="task-page clearfix">
                {% include "page_floor_ajax.html" %}
            </div>
        </div>
        
    </div>
<script type="text/javascript">
jQuery(function(){
    $(".page_floor a[data]").click(function(){
        page = $(this).attr("data");
        var hrefsearch = window.location.search;
        if(hrefsearch){
            href = hrefsearch.replace(/&page=[0-9]+/,'')+"&page="+page;
        }else{
            href = "?&page="+page;
        }
        window.location.href = href;
    });
});
</script>
{% endblock %}
