{% extends "base.html" %}
{% block title %}邀请信{% endblock %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ '/static/css/apps/feedback.css'|staticurl }}" />
<style type="text/css">
    #printarea{ font-size: 14px; }
    #printarea .mailbox{ padding: 0px 12px 12px 12px; }
    #printarea .mailbox p{ text-indent: 2em; padding-top: 10px;}
    .mailbox h3{font-size:20px;font-weight:bold;}
    .mailbox h3 span{font-size:20px;font-weight:bold;color:red;}
    .mailbox h4{font-size:14px;}
    .mailbox p{text-indent:2em;font-size:14px;}
    .mailbox p span{font-size:14px;color:#4f81be;}
    
    
</style>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ '/static/js/lib/jquery.printarea.js'|staticurl }}"></script>
<script type="text/javascript">
jQuery(function(){
    jQuery('#printbtn').click(function(){
        jQuery('#printarea').printArea();
    });
});
</script>
{% endblock %}

{% block mainbody %}
<div class="reg_top">
    <h1 class="title mt36">打印您的邀请信</h1>
    <div class="mt12"></div>
    <div id="printarea" class="clearfix">
        <div class="mailbox clearfix">
            <div>
                <h3>登录网址：<span>beishu8.com</span>&nbsp;班级号：<span>{{class_info.class_id}}</span></h3>
                <h4>各位家长：</h4>
                <p>
                    培养孩子良好的学习习惯、自信和自制能力，需要我们和您的共同努力。
                </p>
                <p>
                    为了及时的与您沟通、更好的让孩子完成老师布置的每项作业、引导孩子健康安全的上网，我班现开始免费使用背书吧平台给孩子布置作业。在这一过程中，老师会把每天的视频作业和通知通过背书吧发布，您在家中将协助学生或者让学生独立完成视频作业，确认笔头作业和通知，并通过这一渠道和老师直接沟通，老师也会与您保持紧密的联系。
                </p>
                <p>
                    请您登录www.beishu8.com，用真实姓名注册家长账户和学生账户，加入所在的班级，随后完成老师布置的笔头、听说作业。在网站的首页，有关于注册和使用的视频帮助文件，请您仔细观看。希望各位家长能够在百忙之中抽出碎片时间，随时随地每天登陆网站查看和审核孩子的作业，帮助孩子录制听说视频作业。为孩子留下美好的视频回忆。
                </p>
                <p>
                    任何一种新产品的诞生，都会让使用者在最初觉得不便，在此，我们感到非常抱歉，当您熟练使用背书吧以后，您会发现，每天您花在背书吧上的时间，不会超过15分钟。
                </p>
                <p>
                    如遇使用问题请致电400-015-3066咨询解决。感谢各位家长，与我们共同引导、监督和帮助您的孩子。
                </p>
                <div style="border-bottom:1px dashed #000000;margin:20px 0px;"></div>
                <h3>
                    语言学习、表达能力的问题
                </h3>
                <p>
                    目前的教学系统中，学生读和背的量化问题一直无法很好的解决，尤其在语言学习方面，孩子们能够很好的完成笔头作业，而口头作业总是没有办法很好的完成并检查，这就导致了孩子们在文字写作方面的能力逐步提升，而口头表达能力却无法提高，哑巴英语、不自信，不敢在众人面前发言、不会沟通成为未来孩子学习和工作中非常严重的问题，我们经常看到孩子在全班同学面前讲话的时候，不知道看哪里，小动作和口头语又特别多，这让我们感到非常心焦。
                </p>
                <h3>
                    家校沟通不畅的问题
                </h3>
                <p>
                    家长总是从孩子口中得到关于通知、作业等信息，无法直接从老师这里获得，而家长会只能每学期开一次，这就给了学生钻空子的机会，或者少说，或者不说，直接导致了老师和家长之间的信息不对称，也直接影响了您对学生学习情况的了解。
                </p>
                <h3>
                    青少年健康安全上网问题
                </h3>
                <p>
                    中国青少年健康安全上网问题越来越严重，作为老师和家长，我们有责任在这一过程中采用正确的方法引导孩子们，然而我们真的有能力做到这一点吗？我们是否对网络的了解也是一知半解，除了百度、淘宝、QQ以外，我们又有什么东西可以教给孩子们呢？大部分家长采用不让孩子们上网的方法进行控制，这是不正确的，孩子们在长大后一定会使用网络的，我们应该在他们自我摸索之前找到一种方法，帮助和引导孩子们正确上网。
                </p>
                <div style="border-bottom:1px dashed #000000;margin:20px 0px;"></div>
            </div>            
        </div>
    </div>
    <div id="printbtn" class="btn-login mt36" style="float:right;">
        <input type="submit" class="btn-primary" value="打印" />
    </div>
</div>
{% endblock %}
