@charset "utf-8";
/* -------- * 
 * base.css *
 * -------- */
 
/* 
    @名称: reset
    @功能: 重设浏览器默认样式
    @说明：参考了阿里的Alice工程中对不同模块的重置
*/

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html{
    color:#000;background:#fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0;padding:0;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { 
    display:block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video {
    display: inline-block;*display: inline;*zoom: 1;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea{
    font:12px/1.5 tahoma,arial,\5FAE\8F6F\96C5\9ED1,\5b8b\4f53;
}
/* ---------- 这里有个字体的说明 -------------- *
 * 中文名        |    Unicode                   *
 * -------------------------------------------- *
 * 新细明体      |  \65B0\7EC6\660E\4F53        *
 * 细明体        |  \7EC6\660E\4F53             * 
 * 标楷体        |  \6807\6977\4F53             *
 * 黑体          |  \9ED1\4F53                  *
 * 宋体          |  \5B8B\4F53                  *
 * 新宋体        |  \65B0\5B8B\4F53             *
 * 仿宋          |  \4EFF\5B8B                  *
 * 楷体          |  \6977\4F53                  *
 * 仿宋_GB2312   |  \4EFF\5B8B_GB2312           *
 * 楷体_GB2312   |  \6977\4F53_GB2312           *
 * 微软正黑体    |  \5FAE\x8F6F\6B63\9ED1\4F53  *
 * 微软雅黑      |  \5FAE\8F6F\96C5\9ED1        *
 * -------------------------------------------- */
input,select,textarea{
    font-size:100%;
}

/* 去掉各Table  cell 的边距并让其边重合 */
table{
    border-collapse:collapse;border-spacing:0;
}

/* IE bug fixed: th 不继承 text-align */
th{
    text-align:inherit;
}

/* 去除默认边框 */
fieldset,img{
    border:0;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe{
    display:block;
}

/* 去掉 firefox 下此元素的边框 */
abbr,acronym{
    border:0;font-variant:normal;
}

/* 一致的 del 样式 */
del {
    text-decoration:line-through;
}

address,caption,cite,code,dfn,em,th,var {
    font-style:normal;
    font-weight:500;
}

/* 去掉列表前的标识, li 会继承 */
ol,ul {
    list-style:none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th {
    text-align:left;
}

/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:500;
}

q:before,q:after {
    content:'';
}

/* 统一上标和下标 */
sub, sup {
    font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* 来自Bootstrap, 清除和调整img、input相关部分的兼容 */
img {
  max-width: 100%;vertical-align: middle;border: 0;
  -ms-interpolation-mode: bicubic;
}

#map_canvas img {
  max-width: none;
}

button,input,select,textarea {
  margin: 0;font-size: 100%;vertical-align: middle;outline:none;
}

button,input {
  *overflow: visible;
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;border: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

/* 让链接在 hover 状态下显示下划线 */
a:hover {
    text-decoration:underline;
}

/* 默认不显示下划线，保持页面简洁 */
ins,a {
    text-decoration:none;
    
}

/* 清理浮动 */
.clear:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.clear {
    *zoom:1; /* for IE6 IE7 */
}

/* 清理浮动2：增加clearfix */
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}


/* 隐藏, 通常用来与 JS 配合 */
body .hide {
    display:none;
}

.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* 设置内联, 减少浮动带来的bug */
.left {
    float:left;
}
.right {
    float:right;
}


/* ------------------------------------------------- 大家好，我是一条分割线 ---------------------------------------------------------*/


/* 
    @名称: layout
    @功能: 设置快速布局使用的class
    @说明：参考了bootstrap工程中对各种布局的设定
*/
.mt12{ margin-top: 12px; }
.mt36{ margin-top: 36px; }
/* special layout */
.content{ width:960px; margin:0 auto; color:#141517; font-size:12px; padding-bottom:20px; }
.main_container{ margin: 0 auto; width: 950px; padding: 52px 0 0; _padding: 20px 0 0; }
/* special box */
.boxtop{ height:18px; background: #3fa7cb; -webkit-border-top-left-radius: 8px; -webkit-border-top-right-radius: 8px; -moz-border-radius-topleft: 8px; -moz-border-radius-topright: 8px;   border-top-left-radius: 8px; border-top-right-radius: 8px; }
.boxbottom{ height:18px; background: #3fa7cb; -webkit-border-bottom-left-radius: 8px; -webkit-border-bottom-right-radius: 8px; -moz-border-radius-bottomleft: 8px; -moz-border-radius-bottomright: 8px;   border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; }
.infobox{ padding: 8px; background: #e7e7e7; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius: 3px; }
.tilebox{ background: #ffffff; border-top: 5px solid #3fa7cb; }
.noitem{ background: #ffffff; height: 48px; padding-top: 32px; text-align: center; font-size: 16px; color: #e0e2e7; }
.timelinetop{ height:5px; background: #ffffff; -webkit-border-top-left-radius: 3px; -webkit-border-top-right-radius: 3px; -moz-border-radius-topleft: 3px; -moz-border-radius-topright: 3px;   border-top-left-radius: 3px; border-top-right-radius: 3px; }
.timelinebottom{ height:5px; background: #ffffff; -webkit-border-bottom-left-radius: 3px; -webkit-border-bottom-right-radius: 3px; -moz-border-radius-bottomleft: 3px; -moz-border-radius-bottomright: 3px;   border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }
.divideline{ width: 100%; height: 2px; border-top: 1px solid #f1f1f1; }
.newcomes{ background-color: white; height: 26px; width: 540px; margin-bottom: 8px; padding-top: 12px; font-size: 12px; text-align: center; color: #00A0EA; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius: 3px; }

/* ------------------------------------------------- 大家好，我是一条分割线 ---------------------------------------------------------*/


/* 
    @名称: base style
    @功能: 设置全局影响的基本样式
    @说明：参考了bootstrap工程中设定的元素，自定义了一套与项目较为相关的样式，不推荐通用
*/
body {
  margin: 0;
  font:12px/1.5 tahoma,arial,\5FAE\8F6F\96C5\9ED1,\5b8b\4f53;
  color: #333333;
  background-color: #ffffff;
}

a {
  color: #78bad2;
  cursor: pointer;
  text-decoration: none;
  outline:none;
  blr:expression(this.onFocus=this.blur());
}
a:link{
  color: #78bad2;
  text-decoration: none;
}
a:visited{
  color: #78bad2;
  text-decoration: none;
}
a:hover {
  color: #78bad2;
  text-decoration: underline;
}
a:active{
  color: #78bad2;
  text-decoration: none;
}
a:focus{outline:none;}

h1.title{ display:block; padding-left:12px; border-left:3px solid #3fa7cb; color: #3fa7cb; font-size: 20px; line-height: 40px; background: aliceblue; }
h2.subtitle{ padding:12px; }
h3.subtitle{ display: block; padding-bottom: 12px; padding-left:6px; border-bottom: 1px solid #d1d1d1; font-size: 14px; line-height: 14px; font-style: italic; }

.tip{ color: #999999; }
.tip.danger{ color: red; }
.tip.warning{ color: yellow; }
.brower-error{
    background:#fff 30px center no-repeat;
    color:#000;
    padding-left:45px;
    border-radius:0 0 5px 5px;
    box-shadow:0 3px 3px #666666;
    line-height:15px;
    padding:8px 30px;
    position:fixed;
    text-align:center;
    top:0;
    z-index:2000;
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    height:900px;
    width:100%;
    font-size:20px;
    font-weight:bolder;
    _position:absolute;
}
.browser-error-close{
    cursor:pointer;
    font-size:18px;
    color:red;
    font-weight:bolder;
    position:absolute;
    top:50px;
    right:100px;
    padding:5px 0px;
}
/*
Back to top button 
*/
#back-top {
  position: fixed;
  bottom: 30px;
  right: 40px;
}
#back-top a {
  width: 108px;
  display: block;
  text-align: center;
  font: 11px/100% Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #bbb;
  /* background color transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#back-top a:hover {
  color: #000;
}
/* arrow icon (span tag) */
#back-top span {
  width: 108px;
  height: 108px;
  display: block;
  margin-bottom: 7px;
  background: #ddd url(/static/images/home/up-arrow.png) no-repeat center center;
  /* rounded corners */
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  /* background color transition */
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
#back-top a:hover span {
  background-color: #777;
}
