.bigshadow {
  background: url('/static/images/main/bigshadow.png') no-repeat 0px 0px;
  width: 1012px;
  height: 668px;
}
/* HOME ICON
 * ------------------------- */
.home_page_gray {
  background: url('/static/images/icons/home_icons.png') no-repeat 0px 0px;
  width: 16px;
  height: 16px;
}
.home_page {
  background: url('/static/images/icons/home_icons.png') no-repeat 0px -20px;
  width: 16px;
  height: 16px;
}
.home_task_gray {
  background: url('/static/images/icons/home_icons.png') no-repeat -20px 0px;
  width: 16px;
  height: 16px;
}
.home_task {
  background: url('/static/images/icons/home_icons.png') no-repeat -20px -20px;
  width: 16px;
  height: 16px;
}
.home_notify_gray {
  background: url('/static/images/icons/home_icons.png') no-repeat -40px 0px;
  width: 16px;
  height: 16px;
}
.home_notify {
  background: url('/static/images/icons/home_icons.png') no-repeat -40px -20px;
  width: 16px;
  height: 16px;
}
.home_class_gray {
  background: url('/static/images/icons/home_icons.png') no-repeat -60px 0px;
  width: 16px;
  height: 16px;
}
.home_class {
  background: url('/static/images/icons/home_icons.png') no-repeat -60px -20px;
  width: 16px;
  height: 16px;
}
.home_favor_gray {
  background: url('/static/images/icons/home_icons.png') no-repeat -80px 0px;
  width: 16px;
  height: 16px;
}
.home_favor {
  background: url('/static/images/icons/home_icons.png') no-repeat -80px -20px;
  width: 16px;
  height: 16px;
}
.home_things_gray {
  background: url('/static/images/icons/home_icons.png') no-repeat -100px 0px;
  width: 16px;
  height: 16px;
}
.home_things {
  background: url('/static/images/icons/home_icons.png') no-repeat -100px -20px;
  width: 16px;
  height: 16px;
}
.home_child_gray {
  background: url('/static/images/icons/home_icons.png') no-repeat -100px 0px;
  width: 16px;
  height: 16px;
}
.home_child {
  background: url('/static/images/icons/home_icons.png') no-repeat -100px -20px;
  width: 16px;
  height: 16px;
}
/* RIGHT ICON
 * ------------------------- */
.right_demand {
  background: url('/static/images/icons/home_icons.png') no-repeat 0px -40px;
  width: 16px;
  height: 16px;
}
.right_favor {
  background: url('/static/images/icons/home_icons.png') no-repeat -20px -40px;
  width: 16px;
  height: 16px;
}
.right_help {
  background: url('/static/images/icons/home_icons.png') no-repeat -40px -40px;
  width: 16px;
  height: 16px;
}
/* STATE ICON
 * ------------------------- */
.state-newwork {
  background: url('/static/images/icons/home_icons.png') no-repeat 0px -120px;
  width: 105px;
  height: 28px;
}
.state-needapproval {
  background: url('/static/images/icons/home_icons.png') no-repeat 0px -160px;
  width: 105px;
  height: 28px;
}
.state-needcorrect {
  background: url('/static/images/icons/home_icons.png') no-repeat 0px -200px;
  width: 105px;
  height: 28px;
}
.state-need-studentapproval {
  background: url('/static/images/icons/home_icons.png') no-repeat 0px -440px;
  width: 105px;
  height: 28px;
}
.state-invalid {
  background: url('/static/images/icons/home_icons.png') no-repeat 0px -240px;
  width: 105px;
  height: 28px;
}
.state-redo {
  background: url('/static/images/icons/home_icons.png') no-repeat 0px -280px;
  width: 105px;
  height: 28px;
}
.state-redo-teacher {
  background: url('/static/images/icons/home_icons.png') no-repeat 0px -473px;
  width: 105px;
  height: 28px;
}
/* OPERATOR ICON
 * ------------------------- */
.upload_icon {
  background: url('/static/images/icons/home_icons.png') no-repeat 0px -60px;
  width: 16px;
  height: 16px;
}
.online_icon {
  background: url('/static/images/icons/home_icons.png') no-repeat -20px -60px;
  width: 16px;
  height: 16px;
}
.approval_icon {
  background: url('/static/images/icons/home_icons.png') no-repeat -40px -60px;
  width: 16px;
  height: 16px;
}
.correct_icon {
  background: url('/static/images/icons/home_icons.png') no-repeat -60px -60px;
  width: 16px;
  height: 16px;
}
.addattachment_icon {
  background: url('/static/images/icons/home_icons.png') no-repeat -80px -60px;
  width: 16px;
  height: 16px;
}
.favor_icon {
  background: url('/static/images/icons/home_icons.png') no-repeat -100px -59px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.favor_icon_gray {
  background: url('/static/images/icons/home_icons.png') no-repeat -100px -79px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.favor2_icon {
  background: url('/static/images/icons/home_icons.png') no-repeat -118px -59px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.favor2_icon_gray {
  background: url('/static/images/icons/home_icons.png') no-repeat -118px -79px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.favor_state {
  background: url('/static/images/icons/home_icons.png') no-repeat -160px -59px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.batch_icon {
  background: url('/static/images/icons/home_icons.png') no-repeat -139px -59px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.batch_icon_gray {
  background: url('/static/images/icons/home_icons.png') no-repeat -139px -79px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.fav_click {
  background: url('/static/images/icons/home_icons.png') no-repeat -60px -378px;
  width: 16px;
  height: 16px;
}
.fav_love {
  background: url('/static/images/icons/home_icons.png') no-repeat -100px -378px;
  width: 16px;
  height: 16px;
}
.fav_love_black {
  background: url('/static/images/icons/home_icons.png') no-repeat -20px -378px;
  width: 16px;
  height: 16px;
}
.fav_collect {
  background: url('/static/images/icons/home_icons.png') no-repeat -39px -378px;
  width: 16px;
  height: 16px;
}
.fav_reply {
  background: url('/static/images/icons/home_icons.png') no-repeat -79px -378px;
  width: 16px;
  height: 16px;
}
.edit_icon {
  background: url('/static/images/icons/home_icons.png') no-repeat 0px -360px;
  width: 16px;
  height: 12px;
}
.delete_icon {
  background: url('/static/images/icons/home_icons.png') no-repeat -20px -360px;
  width: 16px;
  height: 12px;
}
.ok_icon {
  background: url('/static/images/icons/home_icons.png') no-repeat -40px -360px;
  width: 16px;
  height: 12px;
}
.clear_icon {
  background: url('/static/images/icons/home_icons.png') no-repeat -60px -360px;
  width: 16px;
  height: 12px;
}
.printer {
  background: url('/static/images/icons/home_icons.png') no-repeat -20px -340px;
  width: 22px;
  height: 20px;
}
.mutichecked {
  background: url('/static/images/icons/home_icons.png') no-repeat 0px -400px;
  width: 22px;
  height: 20px;
}
.uparrow_icon {
  display: inline-block;
  /* ie8,firefox3,safari,opera */
  display: -moz-inline-stack;
  /* firefox2,-moz-inline-box其实也可以，但在某些情况下会有些异常-_-b */
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  /* 这个用来对opera的hack，使其垂直居中 */
  overflow: hidden;
  /* 针对ie，防止内容溺出，造成的高度及宽度改变 */
  background: url('/static/images/icons/home_icons.png') no-repeat -120px -520px;
  width: 16px;
  height: 16px;
}
.export_icon {
  display: inline-block;
  /* ie8,firefox3,safari,opera */
  display: -moz-inline-stack;
  /* firefox2,-moz-inline-box其实也可以，但在某些情况下会有些异常-_-b */
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  /* 这个用来对opera的hack，使其垂直居中 */
  overflow: hidden;
  /* 针对ie，防止内容溺出，造成的高度及宽度改变 */
  background: url('/static/images/icons/home_icons.png') no-repeat -140px -520px;
  width: 16px;
  height: 16px;
}
/* TASK ICON
 * ------------------------- */
.video_icon {
  display: inline-block;
  /* ie8,firefox3,safari,opera */
  display: -moz-inline-stack;
  /* firefox2,-moz-inline-box其实也可以，但在某些情况下会有些异常-_-b */
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  /* 这个用来对opera的hack，使其垂直居中 */
  overflow: hidden;
  /* 针对ie，防止内容溺出，造成的高度及宽度改变 */
  background: url('/static/images/icons/home_icons.png') no-repeat -40px -520px;
  width: 16px;
  height: 16px;
}
.image_icon {
  display: inline-block;
  /* ie8,firefox3,safari,opera */
  display: -moz-inline-stack;
  /* firefox2,-moz-inline-box其实也可以，但在某些情况下会有些异常-_-b */
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  /* 这个用来对opera的hack，使其垂直居中 */
  overflow: hidden;
  /* 针对ie，防止内容溺出，造成的高度及宽度改变 */
  background: url('/static/images/icons/home_icons.png') no-repeat -60px -520px;
  width: 16px;
  height: 16px;
}
.writing_icon {
  display: inline-block;
  /* ie8,firefox3,safari,opera */
  display: -moz-inline-stack;
  /* firefox2,-moz-inline-box其实也可以，但在某些情况下会有些异常-_-b */
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  /* 这个用来对opera的hack，使其垂直居中 */
  overflow: hidden;
  /* 针对ie，防止内容溺出，造成的高度及宽度改变 */
  background: url('/static/images/icons/home_icons.png') no-repeat -80px -520px;
  width: 16px;
  height: 16px;
}
.multitask_icon {
  display: inline-block;
  /* ie8,firefox3,safari,opera */
  display: -moz-inline-stack;
  /* firefox2,-moz-inline-box其实也可以，但在某些情况下会有些异常-_-b */
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  /* 这个用来对opera的hack，使其垂直居中 */
  overflow: hidden;
  /* 针对ie，防止内容溺出，造成的高度及宽度改变 */
  background: url('/static/images/icons/home_icons.png') no-repeat -100px -520px;
  width: 20px;
  height: 20px;
}
/* COMMON ICON
 * ------------------------- */
.icon-warn,
.icon-info,
.icon-alert {
  display: inline-block;
  background: url('/static/images/icons/common.png') no-repeat 0px 0px;
  width: 16px;
  height: 16px;
}
.icon-wrong,
.icon-error,
.icon-delete {
  display: inline-block;
  background: url('/static/images/icons/common.png') no-repeat 0px -16px;
  width: 16px;
  height: 16px;
}
.icon-user {
  display: inline-block;
  background: url('/static/images/icons/common.png') no-repeat -16px 0;
  width: 16px;
  height: 16px;
}
/* 页面顶部的标题
 * ------------------------ */
.prompt-task {
  background: url('/static/images/icons/tabtitle.png') no-repeat 0px 0px;
  width: 160px;
  height: 20px;
}
.export-online {
  background: url('/static/images/icons/tabtitle.png') no-repeat 0px -20px;
  width: 160px;
  height: 20px;
}
.export-class {
  background: url('/static/images/icons/tabtitle.png') no-repeat 0px -40px;
  width: 160px;
  height: 20px;
}
.export-class2 {
  background: url('/static/images/icons/tabtitle.png') no-repeat -46px -40px;
  width: 160px;
  height: 20px;
}
.prompt-notify {
  background: url('/static/images/icons/tabtitle.png') no-repeat 0px -60px;
  width: 160px;
  height: 20px;
}
.pigai-task {
  background: url('/static/images/icons/tabtitle.png') no-repeat 0px -80px;
  width: 160px;
  height: 20px;
}
.favor-video {
  background: url('/static/images/icons/tabtitle.png') no-repeat 0px -100px;
  width: 160px;
  height: 20px;
}
.send-video {
  background: url('/static/images/icons/tabtitle.png') no-repeat 0px -120px;
  width: 160px;
  height: 20px;
}
.send-img {
  background: url('/static/images/icons/tabtitle.png') no-repeat 0px -140px;
  width: 160px;
  height: 20px;
}
.update-avatar {
  background: url('/static/images/icons/tabtitle.png') no-repeat 0px -160px;
  width: 160px;
  height: 20px;
}
.account-manager {
  background: url('/static/images/icons/tabtitle.png') no-repeat 0px -180px;
  width: 160px;
  height: 20px;
}
.system-notice {
  background: url('/static/images/icons/tabtitle.png') no-repeat 0px -202px;
  width: 160px;
  height: 20px;
}
.returntop {
  background: url('/static/images/icons/top.gif') no-repeat;
  width: 41px;
  height: 69px;
  position: fixed;
  bottom: 30px;
}
