{% extends "admin/base.html" %}
{% block title %}背书吧-管理后台-班级{% endblock %}

{% block centerbody %}
<div >
   <div >
    {% if classes|length %}
        <table class="table">
                <thead>
                    <th>班级号</th>
                    <th>班级</th>
                    <th>所属学校</th>
                    <th>创建人</th>
                    <th>创建时间</th>
                    <th>学生数</th>
                    <th>老师数</th>
                    <th>其他</th>
                </thead>
                {% for class in classes %}
                    <tr>
                        <td>{{ class.class_id }}</td>
                        <td>{{ class.class_name }}</td>
                        <td>
                            <div title="{{ class.fullname }}">{{ class.school_name }}</div>
                        </td>
                        <td>
                            {{ class.creatorname }}(<a href="mailto:{{ class.creatoremail }}">{{ class.creatoremail }}</a>)
                        </td>
                        <td>{{ class.created|datetime }}</td>
                        <td>
                            {{ class.studentcount }}
                        </td>
                        <td>
                           {{ class.teachercount }}
                        </td>
                        <td></td>
                    </tr>
                {% endfor %}
        </table>
    {% endif %}
    </div>
</div>
{% include "admin/pagination.html" %}
{% endblock %}
