{% extends "admin/base.html" %}

{% block centerbody %}
<div >
   <div >
    {% if tasks|length %}
        <table class="table">
                <thead>
                    <th>作业内容</th>
                    <th>作业类型</th>
                    <th>创建人</th>
                    <th>创建时间</th>
                    <th>发布到</th>
                    <th></th>
                </thead>
                {% for task in tasks %}
                    <tr>
                        <td>
                        	<div title="{{ task.task_content }}">{{ task.task_content }}</div>
                        </td>
                        <td>
                        	{% if task.task_type == 1 %}
                        	视频
                        	{% elif task.task_type == 2 %}
                        	笔头
                        	{% elif task.task_type == 3 %}
                        	通知
                        	{%endif%}
                        </td>
                        <td>
                        	{{ task.creatorname }}(<a href="mailto:{{ task.creatoremail }}">{{ task.creatoremail }}</a>)
                        </td>
                        <td>{{ task.created|datetime }}</td>
                        <td>
                            {{ task.class_name }}
                        </td>
                        <td>
                            <a href="/admin/task/{{ task.task_id }}/{{ task.class_id }}/" target="_blank">已交作业</a>
                        </d>
                    </tr>
                {% endfor %}
        </table>
    {% endif %}
    </div>
</div>
{% include "admin/pagination.html" %}
{% endblock %}