{% extends "admin/base.html" %}
{% block title %}背书吧-管理后台-概括{% endblock %}

{% block centerbody %}
<div class="newlogin clearfix">
    <dl class="newlogindl clearfix">
        <dt>学生人数：</dt>
        <dd>{{ studentcount }}</dd>
    </dl>
    <dl class="newlogindl clearfix">
        <dt>老师人数：</dt><dd>{{ teachercount }}</dd>
    </dl>
    <dl class="newlogindl clearfix">
    <dt>家长人数：</dt><dd>{{ parentcount }}</dd>
    </dl>
    <dl class="newlogindl clearfix">
    <dt>学校数：</dt><dd>{{ schoolcount }}</dd>
    </dl>
    <dl class="newlogindl clearfix">
    <dt>班级数：</dt><dd>{{ classcount }}</dd>
    </dl>
    <dl class="newlogindl clearfix">
    <dt>上传视频数：</dt><dd>{{ videocount }}</dd>
    </dl>
</div>

{% endblock %}