{% extends "admin/base.html" %}

{% block centerbody %}
<div >
   <div >

    <p>作业内容：{{ task.task_content }}</p>
    <p>班级：{{ classgrade.class_name }}</p>
    {% if works|length %}
        <table class="table">
                <thead>
                    <th>姓名</th>
                    <th>邮箱</th>
                    <th>完成时间</th>
                    <th>视频</th>
                </thead>
                {% for w in works %}
                    <tr>
                        <td>
                            {{ w.username }}
                        </td>
                        <td>
                            <a href="mailto:{{ w.email }}">{{ w.email }}</a>
                        </td>
                        <td>{{ w.created|datetime }}</td>
                        <td>
                            {% if w.video_path %}
                          {{ render_mustache("admin/videoitem.html", video=w) }}
                            {% endif %}
                        </td>
                        <td></td>
                    </tr>
                {% endfor %}
        </table>
    {% else %}
        <p>还没有学生交作业。</p>
    {% endif %}
    </div>
</div>
{% include "admin/pagination.html" %}
{% endblock %}