{% extends "admin/base.html" %}
{% block title %}背书吧-管理后台-iRead统计{% endblock %}

{% block centerbody %}


<dl class="dl-horizontal">
  <dt>点击次数</dt>
  <dd>{{ click }}</dd>
</dl>
<dl class="dl-horizontal">
  <dt>点击人数</dt>
  <dd>{{ people }}</dd>
</dl>


<div >
   <div >
    {% if ireadcountli|length %}
        <table class="table">
                <thead>
                    <th>id</th>
                    <th>用户昵称</th>
                    <th>用户id</th>
                    <th>创建时间</th>
                </thead>
                {% for ireadcount,nickname in ireadcountli %}
                    <tr>
                        <td>{{ ireadcount.id }}</td>
                        <td>
                            {% if nickname %}
                                {{ nickname }}
                            {% else %}
                                {{ ireadcount.user_id }}
                            {% endif %}
                        </td>
                        <td>{{ ireadcount.user_id }}</td>
                        <td>{{ ireadcount.created|datetime }}</td>
                    </tr>
                {% endfor %}
        </table>
    {% endif %}
    </div>
</div>


{% include "admin/pagination.html" %}
{% endblock %}
