{% if pagination %}
<div class="pagination pagination-centered">
  <ul>
  {% if pagination.has_prev %}
    <li><a href="{{ request.path }}?page={{ pagination.page-1 }}">&laquo;</a></li>
  {% else %}
    <li class="disabled"><a href="#">&laquo;</a></li>
  {% endif %}
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <li><a href="{{ request.path }}?page={{ page }}">{{ page }}</a></li>
      {% else %}
        <li class="active"><a href="{{ request.path }}?page={{ page }}">{{ page }}</a></li>
      {% endif %}
    {% else %}
      <li class="disabled"><a href="#">...</a></li>
    {% endif %}
  {%- endfor %}
  {% if pagination.has_next %}
    <li><a href="{{ request.path }}?page={{ pagination.page+1 }}">&raquo;</a></li>
  {% else %}
    <li class="disabled"><a href="#">&raquo;</a></li>
  {% endif %}
  </ul>
</div>
{% endif %}
