{{#imagerotate}}
    <div class='imgrotate clearfix'>
        <div class="process" style="display:none;color:red;margin-bottom:10px;">正在转码，喝杯咖啡休息休息吧，过一会网页会自动刷新。</div><br />
        <div class="imgpanel">
            <img class="rotate-left" title="左旋转" src='/static/images/icons/rotate-left.png'>
            <img class="rotate-right" title="右旋转" src='/static/images/icons/rotate-right.png'>
            <img id="imgpath" class="imgpath" src='{{imgpath}}'>
        </div>
        <div class="imgconfirm btn right">确认</div>
    </div>
{{/imagerotate}}