<div class="work-correct-panel clearfix">
    <div class="clearfix">
        <div class="correct-star left">老师请打分：</div>
        {{#task.outday}}
            <div class="work_star showstar left" data-star="5" title="作业过期提交，只能给5颗小红花"></div>
        {{/task.outday}}
        {{^task.outday}}
            <div class="work_star star left" data-star="8" ></div>
        {{/task.outday}}
        <div class="right work-redo-checkbox">
            <label><input name="redo" type="checkbox">重做</label>
        </div>
    </div>
    <div class="correct-comment clearfix">
        <div class="comment-panel left">
            <textarea class="comment-content" placeholder="老师：我的表现怎么样？写句评语吧，快捷选择也可以哟！"></textarea>
            
        </div>
        <div class="line left"></div>
        <div class="comment-suggest left">
            <ul>
                <li>Excellent!太棒了！</li>
                <li>Wonderful!好极了！</li>
                <li>Great!太好了！</li>
                <li>Perfect!太棒了！</li>
                <li>Terrific!真了不起！</li>
            </ul>
        </div>
    </div>
    <div class="correct-operator right clearfix">
        <div class="correct-clear operate left"><div class="clear_icon left"></div>清空</div>
        <div class="correct-ok operate left"><div class="ok_icon left"></div>批改</div>
    </div>
</div>