{% extends "settings/settings.html" %}
{% block title %}背书吧--个人设置{% endblock %}
{% block form %}
<form action="/settings/password/" method="post">
    <div class="frbox clearfix">
        <label>当前密码：</label><input type="password" name="oldpassword" />
        <label style="text-align:center;"><a href="/forget/">忘记密码</a></label>
    </div>
    <div class="frbox clearfix">
        <label>新密码：</label><input type="password" name="password" />
    </div>
    <div class="frbox clearfix">
        <label>确认密码：</label><input type="password" name="password2" />
    </div>
    <div class="btnbox">
        <input type="submit" class="btn" value="保存"/>
    </div>
</form>
{% endblock %}
