{% extends "homebase.html" %}
{% block title %}背书吧--系统通知{% endblock %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ '/static/css/apps/setting_notice.css'|staticurl }}" />
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    jQuery(function(){
        $(".line").click(function(){
            $(this).removeClass("notread");
            $(this).addClass("read");
            var notice_id = $(this).attr("data");
            $.ajax({url: "/settings/notice/"+ notice_id +"/read/",});
        })
    })
    
</script>
{% endblock %}
{% block centerbody %}
    <div class="main_wrap_right">

        <div class="settingindex clearfix">
                <div class="system-notice left"></div>
        </div>

        <div class="settingindex clearfix">
            {% for usernotice, notice in pagination.items %}
                <div class="line {% if usernotice.isread %}read{% else %}notread{% endif %}" data="{{notice.notice_id}}">
                    <div class="title">系统通知：</div>
                    <div class="content">
                        {{ notice.content }}<span>({{ notice.created|datetime }})</span>
                    </div>
                </div>
            {% else %}
                <div style="margin-left:50px;">还没有通知信息！</div>
            {% endfor %}
        </div>
        <div class="">
            {% include "page_floor.html" %}
        </div>
    </div>
{% endblock %}
