{% extends "homebase.html" %}
{% block title %}背书吧--修改头像{% endblock %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ '/static/css/apps/setting.css'|staticurl }}" />
<link rel="stylesheet" type="text/css" href="/static/css/lib/imgareaselect-default.css" />

{% endblock %}
{% block scripts %}
<script type="text/javascript" src="/static/js/lib/jquery.imgareaselect.pack.js"></script>
<script type="text/javascript" src="{{ '/static/js/lib/plupload.js'|staticurl }}"></script>
<script type="text/javascript" src="{{ '/static/js/apps/settings_avatar.js'|staticurl }}"></script>
<script type="text/javascript">
</script>
{% endblock %}
{% block centerbody %}
    <div class="main_wrap_right">

        <div class="settingindex clearfix">
                <div class="update-avatar left"></div>
        </div>

        <div class="divideline"></div>

        <div class="settingindex clearfix">
            <!--div class="index_title">
                <h3 class="subtitle">修改头像</h3>
            </div-->
            <div class="setpanel clearfix">
                <div id="avatar" class="left btn">上传头像</div>
                <div id="submit" class="left btn" style="margin-left:80px;display:none;">保存头像</div>
            </div>
            <div class="imgpanel">
                <div id="avatarper" class="left" style="line-height: 25px;margin-left: 260px;position: absolute;margin-top: 40px;display:none;">
                    0%
                    </div>
                <div class="cutbox">
                    <img id="photo" src="/static/images/home/upavatarbg.jpg"/>
                    <!--TODO 修改默认图片 -->
                </div>
            </div>
        </div>
    </div>
    {% block rightbody %}{% endblock %}
{% endblock %}
