{% extends "homebase.html" %}
{% block title %}背书吧--帐号设置{% endblock %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ '/static/css/apps/setting.css'|staticurl }}" />
{% endblock %}

{% block centerbody %}
    <div class="main_wrap_right">

        <div class="settingindex clearfix">
            <div class="account-manager"></div>
        </div>

        
        <div class="settingindex clearfix">
            <div class="index_title">
                <ul>
                    <li {% if request.path !="/settings/password/" %}class="active"{% endif %}>
                        <a href="/settings/profile/">修改资料</a>
                    </li>
                    <li {% if request.path =="/settings/password/" %}class="active"{% endif %}>
                        <a href="/settings/password/">修改密码</a>
                    </li>
                </ul>
            </div>
            <div class="errortitle">
                {% if error %}
                    <p>{{ error }}</p>
                    {% elif success %}
                    <p>{{ success }}</p>
                    {% else %}
                {% endif %}
            </div>
            <div class="indexpanel">
                {% block form %}
                {% endblock %}
            </div>
        </div>
    </div>
    
{% endblock %}
