{% extends "base.html" %}

{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ '/static/css/apps/feedback.css'|staticurl }}" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ '/static/js/apps/feedback.js'|staticurl }}"></script>
{% endblock %}

{% block mainbody %}
<div class="reg_top">

       <div class="reg_title">
            <h1 class="title">欢迎您给我们提建议</h1>
       </div>

       <div class="reg_desc">
            <a href="/">返回首页</a>
       </div>

</div>

<div class="reg_middle">
  <form class="form-horizontal" name="register" action="" method=post>
    
    <div class="ct_warp clearfix">

      <h3 class="subtitle">填写您的留言</h3>
       <div class="seltrank clearfix">
          <dl class="fbmessage clearfix">
              <dt>
                  <label>非常感谢您对背书吧的支持与关注，欢迎您在这里留下宝贵的意见和建议！</label>
              </dt>
              <dd class="mt12">
                  <div>
                      <textarea name="content" class="hinput input-text" value=""></textarea>
                  </div>
              </dd>
          </dl>
       </div>

       <h3 class="subtitle">填写您的个人信息</h3>
       <div class="newlogin clear clearfix">
            <dl class="newlogindl clearfix">
                <dt>&nbsp;&nbsp;</dt>
                <dd id='error' style="color:red; margin:12px 0">{% if error %}{{ error }}{% endif %}</dd>
            </dl>
            <dl class="newlogindl clearfix">
                <dt>
                    <label>您的名字：</label>
                </dt>
                <dd>
                    <div>
                        <input id="name" type="text" class="input" name="name" value="{{ request.form.name }}" />
                    </div>
                </dd>
            </dl>
            <dl class="newlogindl clearfix mt12">
                <dt>
                    <label>您的邮箱：</label>
                </dt>
                <dd>
                    <div>
                        <input id="email" type="text" class="input" name="email" value="{{ request.form.email }}" />
                    </div>
                </dd>
            </dl>
       </div>
        <div class="regbtn clearfix">
            <input type="submit" class="btn" value="发布" />
        </div>
    </div>
  </form>

  <div class="fb_comment clear">
  {% for feedback in feedbacks %}
    <dl class="fb_item clearfix">
      <dt class="name"><strong>{{ feedback.name }}</strong></dt>
      <span class="time">{{ feedback.created|datetime }}</span>
      <dd class="content"><p>{{ feedback.content }}</p></dd>
    </dl>
  {% endfor %}
  </div>
</div>


{% endblock %}