{% extends "base.html" %}
{% block title %}帮助 - 背书吧{% endblock %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ '/static/css/apps/help.css'|staticurl }}" />
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    jQuery(document).ready(function(){

        // hide #back-top first
        jQuery("#back-top").hide();
        
        // fade in #back-top
        jQuery(function () {
            jQuery(window).scroll(function () {
                if (jQuery(this).scrollTop() > 100) {
                    jQuery('#back-top').fadeIn();
                } else {
                    jQuery('#back-top').fadeOut();
                }
            });
            // scroll body to 0px on click
            jQuery('#back-top a').click(function () {
                jQuery('body,html').animate({
                    scrollTop: 0
                }, 800);
                return false;
            });
        });

    });
</script>
{% endblock %}

{% block mainbody %}
<div class="hpwrap">
<div class="h_top clearfix">
  <h1 class="title">帮助</h1>
  <h2 class="subtitle">
    <a href="#pos_register">注册登录</a>账户设置：<a href="#pos_setting">设置个人信息</a><a href="#pos_setting">忘记密码怎么办</a><br />
    如何扮演好一个老师? <a href="#pos_teacher">老师的主页都有什么</a><a href="#pos_teacher">创建班级</a><a href="#pos_teacher">加入班级</a><!--<a href="#pos_teacher">管理班级</a><a href="#pos_teacher">发布作业、通知</a><a href="#pos_teacher">批改作业</a><a href="#pos_teacher">批量导出作业</a><a href="#pos_teacher">推荐作业</a>-->
  </h2>
</div>
<div class="h_middle">

  <span id="pos_register"></span>
  <div class="hpitem">
    <h3 class="subtitle">1.如何注册，如何登录</h3>
    <dl>
      <dt>* 在您的浏览器里输入：www.beishu8.com，就可以进入我们的网站。</dt>
      <dd><img src="/static/images/help/hp01.jpg" /></dd> 
    </dl>
    <dl>
      <dt>* 注册时，您应该首先选择您将要承担的角色，如您是一位老师用户，则点选第一个头像。</dt>
      <dd><img src="/static/images/help/hp02.jpg" /></dd> 
    </dl>
  </div>

  <span id="pos_setting"></span>
  <div class="hpitem">
    <h3 class="subtitle">2.如何修改个人信息，重置密码，找回密码</h3>
    <dl>
      <dt>* 您可以进入个人设置页面来修改您的头像</dt>
      <dd><img src="/static/images/help/hp03.jpg" /></dd> 
    </dl>
    <dl>
      <dt>* 您可以进入个人设置页面来修改您的名字和账户密码</dt>
      <dd><img src="/static/images/help/hp04.jpg" /></dd> 
    </dl>
    <dl>
      <dt>* 您可以在首页点击登录框的下面的“忘记密码”或在设置页里点击“忘记密码”进入找回密码页，在该页面中，您可以通过注册账号时使用的邮箱地址，或手机号获取一个新的临时密码，并通过该临时密码进入主页。</dt>
      <dd><img src="/static/images/help/hp05.jpg" /></dd> 
    </dl>
  </div>

  <span id="pos_teacher"></span>
  <div class="hpitem">
    <h3 class="subtitle">3.如何扮演好一名老师的角色？</h3>
    <dl>
      <dt>* 老师的个人主页里包括了您的班级，学生和发布过的作业数的统计，有您的个人信息，及与您相关的人近期都做了些什么，您可以通过点击左边导航菜单里的内容查看作业或管理班级，您还可以直接发布一条作业。</dt>
      <dd><img src="/static/images/help/hp06.jpg" /></dd> 
    </dl>
    <dl>
      <dt>* 3.1 创建班级：点击“创建班级”进入班级创建界面，选择班级所在的省、市、区、学校，然后进入下一步。</dt>
      <dd><img src="/static/images/help/hp07.jpg" /></dd> 
      <dt>* 在该界面中，可以选择一个该学校已经存在的班级，或者自己新创建一个班级，可以输入如“一年级一班”这样的班级名，并可以选择为该班级添加一个“新学期要求“。点击下一步即可看到刚才创建的班级。每一个班级都有一个唯一的邀请码，通过该邀请码可以查询到该班级。老师可以通过短信、邮件或通过网站的打印功能打印到纸张上发放给学生，来邀请学生加入该班级。</dt>
      <dd><img src="/static/images/help/hp08.jpg" /></dd> 
    </dl>
    <dl>
      <dt>* 3.2 加入班级：如果您想加入一个特定的已经存在的班级，您可以通过搜索邀请码和查找班级名的方式来加入该班级。</dt>
      <dd><img src="/static/images/help/hp09.jpg" /></dd> 
      <dt>* 在搜索邀请码方式中，通过输入您所获得的邀请码后即可查找到该班级，点击”加入“即可。</dt>
      <dd><img src="/static/images/help/hp10.jpg" /></dd> 
      <dt>* 在查找班级方式中，您需要从班级所在的省市区来找到学校，然后在该学校下的班级列表中找到您所要加入的班级，点击该班级即可查看到该班级的信息，点击”加入“即可加入该班级。</dt>
      <dd><img src="/static/images/help/hp11.jpg" /></dd> 
    </dl>
    <!-- 
    <dl>
      <dt>* 3.4 发布作业、通知：。</dt>
      <dd><img src="/static/images/help/hp12.jpg" /></dd> 
    </dl>
    <dl>
      <dt>* 3.5 批改作业：。</dt>
      <dd><img src="/static/images/help/hp12.jpg" /></dd> 
    </dl>
    <dl>
      <dt>* 3.6 批量导出作业：</dt>
      <dd><img src="/static/images/help/hp12.jpg" /></dd> 
    </dl>
    <dl>
      <dt>* 3.7 推荐作业：。</dt>
      <dd><img src="/static/images/help/hp12.jpg" /></dd> 
    </dl>
    -->
  </div>

  <span id="pos_student"></span>
  <div class="hpitem">
    未完待续...
  </div>
</div>
</div>
<p id="back-top">
    <a href="#top"><span></span>回到顶部</a>
</p>
{% endblock %}