<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="背书吧是在线教育交流的划时代产品，旨在提高老师、家长和学生之间更加便捷的沟通" />
    <meta name="keywords" content="背书吧,beishu8,在线教育,协作,多人协作,高效协作,效率,工作效率." />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/icons/beishu.png">
    <!--[if lt IE 9]><script src="{{ '/static/js/lib/html5.js'|staticurl }}"></script><![endif]-->
    <!--[if lt IE 7]><script src="{{ '/static/js/lib/belatedpng.js'|staticurl }}"></script><![endif]-->
    <link type="text/css" rel="stylesheet" href="{{ '/static/css/lib/jquery.ui.css'|staticurl }}" />
    <link type="text/css" rel="stylesheet" href="{{ '/static/css/layout/header.css'|staticurl }}" />
    <link type="text/css" rel="stylesheet" href="{{ '/static/css/layout/footer.css'|staticurl }}" />
    <link type="text/css" rel="stylesheet" href="{{ '/static/css/icons.css'|staticurl }}" />
    <link type="text/css" rel="stylesheet" href="{{ '/static/css/vself.css'|staticurl }}" />
    <link type="text/css" rel="stylesheet" href="{{ '/static/css/apps/home.css'|staticurl }}" />
    <!--[if IE 6]><link type="text/css" rel="stylesheet" href="{{ '/static/css/ie6.css'|staticurl }}" /><![endif]-->
    <style type="text/css">
    .adbox{
        border:1px solid #dddddd;
        margin-bottom:5px;
        width:916px;
        margin-left:22px;
    }
    .adbox .title{
        font-size:27px;
        font-weight:bold;
        margin:10px 0px 0px 43px;
    }
    .adbox .title2{
        font-size:35px;font-weight:bold;margin-left:167px;color:#f54144;
    }
    .adbox .btn{
        padding: 7px 20px;margin:3px 30px 0px 0px;
    }
    img{display:block}
    </style>
    {% block stylesheets %}{% endblock %}
    <script type="text/javascript" src="{{ '/static/js/jquery.js'|staticurl }}"></script>
</head>

<body>
    {% block header %}
        {% include "inc/header.html" with context %}
    {% endblock %}
    
    <div class="container clearfix">
    <div class="adbox">
        <div class="title">
            iRead国际英语俱乐部冬令营
        </div>
        <div class="left title2">
            ——英国伦敦自由行（亲子游）
        </div>
        <div class="clearfix">
            {% block link %}
            <div class="btn left">
                详细信息
            </div>
            {% endblock %}
        </div>
        <div class="clearfix">
        {% block mainbody %}
            
        {% endblock %}
        </div>
    </div>
    </div>
    
    {% block footer %}
        {% include "inc/footer.html" %}
    {% endblock %}
</body>
</html>
