{% extends "iread/day.html" %}


{% block prev %}
    <a href="/iread/day4/"><<前一天</a>
{% endblock %}
{% block now %}
    第5天<br />Day5
{% endblock %}
{% block next %}
    <a href="/iread/day6/">后一天>></a>
{% endblock %}

{% block desc %}
<div class="english">
﻿Day trip to <span>Brighton</span> - an hour away by train from London - Britain’s most charming coast town. 
</div>
<div class="chinese">
乘火车去英国最有名的海岸城市Brighton（1个小时路程）休闲度假，畅享游乐园。
</div>
{% endblock %}

{% block descimg %}
    <div class="left" style="margin-left:26px;">
        <img src="/static/iread/travel/05/10.png" />
        <div></div>
    </div>
    <div class="left" style="margin-left:26px;">
        <img src="/static/iread/travel/05/11.png" />
        <div></div>
    </div>
{% endblock %}

{% block point %}
    <div class="left grep" ><img src="/static/iread/grey_point.png"></div>
    <div class="left grep"><img src="/static/iread/grey_point.png"></div>
    <div class="left grep"><img src="/static/iread/grey_point.png"></div>
    <div class="left grep"><img src="/static/iread/grey_point.png"></div>
    <div class="left blue"><img src="/static/iread/blue_point.png"></div>
    <div class="left grep"><img src="/static/iread/grey_point.png"></div>
    <div class="left grep"><img src="/static/iread/grey_point.png"></div>
    <div class="left grep"><img src="/static/iread/grey_point.png"></div>
{% endblock %}

