{% extends "iread/day.html" %}


{% block prev %}
    <a href="/iread/day6/"><<前一天</a>
{% endblock %}
{% block now %}
    第7天<br />Day7
{% endblock %}
{% block next %}
    <a href="/iread/day8/">后一天>></a>
{% endblock %}

{% block desc %}
<div class="english">
Morning visit to <span>Tower Bridge</span> and the <span>Tower of London</span> · Afternoon: London Aquarium · Night: <span>Soho</span> and <span>Chinatown</span>.
</div>
<div class="chinese">
参观塔桥和伦敦塔，欣赏伦敦全景。<br />
参观伦敦海洋馆。<br />
游玩Soho和Chinatown去欧洲最著名的大剧院之一看现代音乐剧。
</div>
{% endblock %}

{% block descimg %}
    <div class="left" style="margin-left:63px;">
        <img src="/static/iread/travel/07/16.png" />
        <div></div>
    </div>
    <div class="left" style="margin-left:63px;">
        <img src="/static/iread/travel/07/17.png" />
        <div></div>
    </div>
    <div class="left" style="margin:10px 0px 0px 63px;">
        <img src="/static/iread/travel/07/18.png" />
        <div></div>
    </div>
    <div class="left" style="margin:10px 0px 0px 158px;">
        <img src="/static/iread/travel/07/19.png" />
        <div></div>
    </div>
{% endblock %}

{% block point %}
    <div class="left grep" ><img src="/static/iread/grey_point.png"></div>
    <div class="left grep"><img src="/static/iread/grey_point.png"></div>
    <div class="left grep"><img src="/static/iread/grey_point.png"></div>
    <div class="left grep"><img src="/static/iread/grey_point.png"></div>
    <div class="left grep"><img src="/static/iread/grey_point.png"></div>
    <div class="left grep"><img src="/static/iread/grey_point.png"></div>
    <div class="left blue"><img src="/static/iread/blue_point.png"></div>
    <div class="left grep"><img src="/static/iread/grey_point.png"></div>
{% endblock %}

