{% extends "iread/day.html" %}


{% block prev %}
    <a href="/iread/day7/"><<前一天</a>
{% endblock %}
{% block now %}
    第8天<br />Day8
{% endblock %}
{% block next %}
    后一天>>
{% endblock %}

{% block desc %}
<div class="english">
Farewell London visit on a London double-decker bus. <br />
Madame Tussaud’s museum. (Celebrities wax figures)<br />
Hotel check -out, Gatwick Express to London Gatwick Airport and flight back to China
</div>
<div class="chinese">
乘双层巴环游伦敦市<br />
参观杜莎夫人蜡像馆<br />
离开酒店，乘机场快车去机场，返回北京。<br />
</div>
{% endblock %}

{% block descimg %}
    <div class="left" style="margin-left:35px;">
        <img src="/static/iread/travel/08/20.png" />
        <div></div>
    </div>
    <div class="left" style="margin-left:35px;">
        <img src="/static/iread/travel/08/21.png" />
        <div></div>
    </div>
{% endblock %}

{% block point %}
    <div class="left grep" ><img src="/static/iread/grey_point.png"></div>
    <div class="left grep"><img src="/static/iread/grey_point.png"></div>
    <div class="left grep"><img src="/static/iread/grey_point.png"></div>
    <div class="left grep"><img src="/static/iread/grey_point.png"></div>
    <div class="left grep"><img src="/static/iread/grey_point.png"></div>
    <div class="left grep"><img src="/static/iread/grey_point.png"></div>
    <div class="left grep"><img src="/static/iread/grey_point.png"></div>
    <div class="left blue"><img src="/static/iread/blue_point.png"></div>
{% endblock %}

