{% extends "iread/base.html" %}

{% block title %}
    iRead日程
{% endblock %}

{% block stylesheets %}
<style type="text/css">
    .linebox{
        padding:15px 30px;
        background:url('/static/iread/subway.jpg') no-repeat scroll top center #f7f8fa;
    }
    .rowbox{width:700px;margin-left:78px;}
    
    .top{
        border-top: 2px solid #666;
    }
    .bottom{
        border-bottom: 2px solid #666;
    }
    
    .linebox div{
        font-size:14px;
        color:#666;
        font-weight:bold;
    }
    
    .row{
        text-align: center;
        width:90px;
        height:64px;
        line-height:60px;
    }
    .row2{
        text-align: center;
        width:75px;
        height:60px;
    }
    .row3{
        width:535px;
        height:60px;
    }
    .row3 div{
        padding-left:15px;
    }
</style>
{% endblock %}

{% block link %}
<a href="/iread/day1/">
    <a href="/iread/day1/">
        <div class="btn right">
            详细信息
        </div>
    </a>
    <a href="/iread/foodstay/">
        <div class="btn right" style="margin-right:15px;">
            食宿信息
        </div>
    </a>
</a>
{% endblock %}

{% block mainbody %}
<div class="clearfix linebox" style="padding-bottom:0px;">
    <div class="top bottom clearfix rowbox">
        <div class="left row">
            2月10日
        </div>
        <div class="left row2">
            <div class="bottom" style="line-height:20px;">上午</div>
            <div class="bottom" style="line-height:20px;">下午</div>
            <div style="line-height:20px;">晚上</div>
        </div>
        <div class="left row3">
            <div class="bottom" style="line-height:42px;">从北京飞往Gatwick机场，然后搭乘机场快车至伦敦维多利亚车站，入住酒店</div>
            <div style="line-height:20px;">品尝传统英国晚餐</div>
        </div>
    </div>
    
    <div class="bottom clearfix rowbox">
        <div class="left row" style="height:84px;line-height:84px;">
            2月11日
        </div>
        <div class="left row2" style="height:84px;">
            <div class="bottom" style="line-height:20px;">上午</div>
            <div class="bottom" style="line-height:20px;">下午</div>
            <div style="line-height:40px;">晚上</div>
        </div>
        <div class="left row3">
            <div class="bottom" style="line-height:42px;">漫步泰晤士河畔，参观伦敦眼、国会大厦、大本钟和Battersea公园</div>
            <div style="line-height:20px;">
                品尝传统英国晚餐，参观伦敦市中心充满梦幻的Ripley“信不信由你”博物馆<br />
                伦敦小商品集散地Covent公园游玩
            </div>
        </div>
    </div>
    
    <div class="bottom clearfix rowbox">
        <div class="left row">
            2月12日
        </div>
        <div class="left row2">
            <div class="bottom" style="line-height:20px;">上午</div>
            <div class="bottom" style="line-height:20px;">下午</div>
            <div style="line-height:20px;">晚上</div>
        </div>
        <div class="left row3">
            <div style="line-height:60px;">乘坐火车前往世界上最著名的大学之一牛津大学校园参观，畅游牛津市中心。</div>
        </div>
    </div>
    
    <div class="bottom clearfix rowbox">
        <div class="left row">
            2月13日
        </div>
        <div class="left row2">
            <div class="bottom" style="line-height:20px;">上午</div>
            <div class="bottom" style="line-height:20px;">下午</div>
            <div style="line-height:20px;">晚上</div>
        </div>
        <div class="left row3">
            <div style="height:60px;line-height:22px;">
                参观科学博物馆<br />
                参观自然历史博物馆，数百个真实恐龙骨架<br />
                游览Portobello大市场、游览Notting Hill古玩大市场
            </div>
        </div>
    </div>
    
    <div class="bottom clearfix rowbox">
        <div class="left row">
            2月14日
        </div>
        <div class="left row2">
            <div class="bottom" style="line-height:19px;">上午</div>
            <div class="bottom" style="line-height:19px;">下午</div>
            <div style="line-height:20px;">晚上</div>
        </div>
        <div class="left row3">
            <div style="line-height:64px;">
                乘火车去英国最有名的海岸城市Brighton（1个小时路程）休闲度假，畅享游乐园。
            </div>
        </div>
    </div>
    
    <div class="bottom clearfix rowbox">
        <div class="left row">
            2月15日
        </div>
        <div class="left row2">
            <div class="bottom" style="line-height:20px;">上午</div>
            <div class="bottom" style="line-height:20px;">下午</div>
            <div style="line-height:20px;">晚上</div>
        </div>
        <div class="left row3">
            <div class="bottom" style="line-height:20px;">参观世界上最古老、最奢侈的购物中心之一Harrods。</div>
            <div class="bottom" style="line-height:20px;">参观因松鼠而闻名的Green Park、英国女王居住的白金汉宫</div>
            <div style="height:20px;line-height:20px;">漫步伦敦中心的Regent，Oxford商业大街</div>
        </div>
    </div>
    
    <div class="bottom clearfix rowbox">
        <div class="left row" style="height:84px;line-height:84px;">
            2月16日
        </div>
        <div class="left row2">
            <div class="bottom" style="line-height:20px;">上午</div>
            <div class="bottom" style="line-height:20px;">下午</div>
            <div style="line-height:40px;">晚上</div>
        </div>
        <div class="left row3">
            <div class="bottom" style="line-height:20px;">参观塔桥和伦敦塔，欣赏伦敦全景</div>
            <div class="bottom" style="line-height:20px;">参观伦敦海洋馆</div>
            <div style="line-height:20px;">
                游玩Soho和Chinatown<br />
                去欧洲最著名的大剧院之一看现代音乐剧
            </div>
        </div>
    </div>
    
    <div class="bottom clearfix rowbox">
        <div class="left row">
            2月17日
        </div>
        <div class="left row2">
            <div class="bottom" style="line-height:20px;">上午</div>
            <div class="bottom" style="line-height:20px;">下午</div>
            <div style="line-height:20px;">晚上</div>
        </div>
        <div class="left row3">
            <div class="bottom" style="line-height:20px;">乘双层巴环游伦敦市</div>
            <div class="bottom" style="line-height:20px;">参观杜莎夫人蜡像馆</div>
            <div style="line-height:20px;">离开酒店，乘机场快车去机场，返回北京</div>
        </div>
    </div>
</div>


<div class="clearfix right" style="padding:15px 30px;">
本次活动最终解释权归iRead国际英语俱乐部所有
</div>

{% endblock %}
