{% extends "homebase.html" %}
{% block title %}
    视频推荐
{% endblock %}
{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ '/static/css/apps/fav_img.css'|staticurl }}" />
{% endblock %}
{% block scripts %}
{% endblock %}

{% block centerbody %}

<div class="panel">
    <div class="flash clearfix">
        <div class="tag title">视频推荐</div>
    </div>
    
    
    
    <div class="subline"></div>
    
    <div id="comment" class="comment">
    </div>
    
</div>
<script type="text/javascript">
jQuery(function(){
    {% if g.user.isparent %}
        $("#comment").load("/favor/goodvideo/item/{{subtab}}/");
    {% else %}
        $("#comment").load("/favor/goodvideo/item/");
    {% endif %}
})
</script>
{% endblock %}
