{% extends "base.html" %}
{% block title %}加入班级 - 背书吧{% endblock %}

{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ '/static/css/apps/register.css'|staticurl }}" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ '/static/js/apps/guide.js'|staticurl }}"></script>
{% endblock %}

{% block header %}
{% endblock %}

{% block mainbody %}
<form id="nextform" method="post" action=""></form>
<div id="register">

    {% include 'guide/header.html' %}

    <div class="body clearfix">

        <div class="regbg-left left clearfix">
            <div class="infolabel">
                <span class="info">请为您的孩子加入一个班级</span>
            </div>
        
            <div class="infosearch reg-search">
                <div class="search clearfix" style="border: 1px solid #CCC;border-radius: 3px;background: white;">
                    <input type="text" name="classcode" value="" placeholder="请输入老师提供的班级邀请码，查找您孩子所在的班级" style="width: 395px;padding-left: 5px;line-height: 33px;"/>
                    <a id="searchclass" class="note">查找</a>
                </div>
            </div>
            <div id="classinfo" class="classinfo"></div>
        
            <div class="nextbox large">
                <div id="joinclass" class="next disabled">加入该班级</div>
            </div>
        </div>

    </div>

    <div class="footer">
        <p class="raw">
        京ICP 12038363号 | 背书吧 © 2012 Edsoda Corporation,All Rights Reserved | 中青维客（北京）科技有限公司<br />
        联系电话：400-015-3066 | 地址：北京市朝阳区远洋光华国际大厦AB座27层 | 联系人：尹先生
        </p>
    </div>

</div>
{%raw%}
<script id="vselfTempl" class="mustache-template" type="text/template">
{{#classgrade}}
<div class="classgrade panel" data-class_id="{{class_id}}">
    <div class="joinclasstempl classbox clearfix">
        <div class="left"><img src="/static/images/home/0.png" class="avatar" width="50" height="50"></div>
        <div class="left class-detail">
            <dl>
                <dt><strong>{{class_name}}</strong></dt>
                <dd>入学年份：<strong>{{period}}</strong></dd>
                <dd>班级序号：<strong>{{class_id}}</strong></dd>
                <dd>创建者：<strong>{{tname}}</strong></dd>
                <dd>创建时间：<strong>{{created}}</strong></dd>
                <dd>所属学校：{{school.fullname}}</dd>
                <dd>所有成员：老师<span class="info">{{teachercount}}</span>人，学生<span class="info">{{studentcount}}</span>人</dd>
                <dd>班级简介：{{description}}</dd>
            </dl>
        </div>
    </div>
</div>
{{/classgrade}}
</script>
{%endraw%}
{% endblock %}
{% block footer %}
{% endblock %}
