{% extends "base.html" %}
{% block title %}注册 - 背书吧{% endblock %}

{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ '/static/css/apps/register.css'|staticurl }}" />
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ '/static/js/apps/register.js'|staticurl }}"></script>
{% endblock %}

{% block header %}
{% endblock %}
{% block mainbody %}
<div id="register">
    {% include 'guide/header.html' %}

    <div class="body">
        <div id="step1">
            <div class="infolabel">
                <span class="num">1</span><span class="info">
                    {% if role == 'teacher' %}
                        欢迎您注册老师账户
                    {% else %}
                        欢迎您注册学生/家长账户
                    {% endif %}
                </span>
            </div>
            <div class="div-line"></div>

            <div class="role">
                <ul class="clearfix">
                    {% if role == 'teacher' %}
                        <li class="teacher">
                            <img src="/static/images/banner/role_1.png">
                            <div class="desc">学校老师</div>
                        </li>
                    {% else %}
                        <li class="family">
                            <img src="/static/images/banner/role_2.png">
                            <div class="desc">学生/家长</div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        
        <div id="step2" data-role = "{{role}}">
            <div class="infolabel">
                <span class="num">2</span><span class="info">请填写您的基本信息</span>
            </div>
            <div class="div-line"></div>
            {% if role == 'teacher' %}
                <div class="ele-teacher">
                    <ul class="infoform clearfix">
                        <li>
                            <label>您的名字：</label><input name="teachername" type="text" value="{{request.form.get('teachername','')}}" />
                            <div class="tips error hide">错误，请输入2-6个汉字</div>
                        </li>
                        <li>
                            <div id="mobileemailerror" class="tips error hide">手机号，邮箱必须填写一项</div>
                            <label>您的手机号：</label><input name="teachermobile" type="text" value="{{request.form.get('teachermobile','')}}" />
                            <div class="tips error hide">错误，请输入正确的手机号码</div>
                        </li>
                        <li>
                            <label>或填写您的邮箱：</label><input name="teacheremail" type="text" value="{{request.form.get('teacheremail','')}}" />
                            <div class="tips error hide">错误，请输入正确格式的邮箱，如example@163.com</div>
                            <div class="tips">还没有邮箱？<a href="http://mail.163.com" target="_blank">点我去163注册一个</a></div>
                        </li>
                        <li>
                            <label>您的教学科目：</label>
                            <select id='course_opt' name='course'>
                                <option {% if request.form.get('course',None)=='语文' %}selected="selected"{% endif %} value='语文'>语文</option>
                                <option {% if request.form.get('course',None)=='数学' %}selected="selected"{% endif %} value='数学'>数学</option>
                                <option {% if request.form.get('course',None)=='英语' %}selected="selected"{% endif %} value='英语'>英语</option>
                                <option {% if request.form.get('course',None)=='科学' %}selected="selected"{% endif %} value='科学'>科学</option>
                                <option {% if request.form.get('course',None)=='美术' %}selected="selected"{% endif %} value='美术'>美术</option>
                                <option {% if request.form.get('course',None)=='体育' %}selected="selected"{% endif %} value='体育'>体育</option>
                                <option {% if request.form.get('course',None)=='思想品德' %}selected="selected"{% endif %} value='思想品德'>思想品德</option>
                                <option {% if request.form.get('course',None)=='其他' %}selected="selected"{% endif %} value='其他'>其他</option>
                            </select>
                        </li>
                    </ul>
                </div>
            {% else %}
                <div class="ele-family">
                    <ul class="infoform clearfix">
                        <li>
                            <label>家长的名字：</label><input name="parentname" type="text" value="{{request.form.get('parentnickname','')}}" />
                            <div class="tips error hide">错误，请输入2-6个汉字</div>
                        </li>
                        <li>
                            <label>家长的手机号：</label><input name="parentmobile" type="text" value="{{request.form.get('parentmobile','')}}" />
                            <div class="tips error hide">错误，请输入正确的手机号码</div>
                        </li>
                        <li>
                            <label>孩子的名字：</label><input name="studentname" type="text" value="{{request.form.get('studentname','')}}" />
                            <div class="tips error hide">错误，请输入2-6个汉字</div>
                        </li>
                        <li>
                            <label>孩子的邮箱：</label><input name="studentemail" type="text" value="{{request.form.get('studentemail','')}}" />
                            <div class="tips error hide">错误，请输入正确格式的邮箱，如example@163.com</div>
                            <div class="tips">还没有邮箱？<a href="http://mail.163.com" target="_blank">点我去163注册一个</a></div>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>

        <div id="step3">
            <div class="infolabel">
                <span class="num">3</span><span class="info">设置账户安全</span>
            </div>
            <div class="div-line"></div>

            <div>
                <ul class="infoform clearfix">
                    <li>
                        <label>请输入您的密码：</label><input name="newpassword" type="password" value="" />
                        <div class="tips error hide">错误，请输入6-20位</div>
                    </li>
                    <li>
                        <label>确认密码：</label><input name="confirmpassword" type="password" value="" />
                        <div class="tips error hide">错误，两次输入不一致</div>
                    </li>
                </ul>
            </div>

            <div class="licenseinfo">
                <input id="iagree" name="iagree" type="checkbox" checked />
                <label for="iagree">我同意</label><a href="/license/">《背书吧服务使用协议》</a>
                <div class="error hide">对不起，你需要同意我们的使用协议才能注册我们的网站</div>
            </div> 
        </div>
    </div>

    <div class="footer">
        <div class="nextbox">
            <div class="next regbtn">确认注册</div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}