{% extends "homebase.html" %}
{% block title %}
    老师--创建班级
{% endblock %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ '/static/css/apps/class.css'|staticurl }}" />
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ '/static/js/apps/class.js'|staticurl }}"></script>
{% endblock %}
{% block centerbody %}
<div class="class class-create">
    <div class="createinfo clearfix">
        <div class="infoleft left">学校/机构：</div>
        <div class="class-name left">
            <input name="school" placeholder="请输入学校名称"/>
        </div>
    </div>
    <div class="createinfo clearfix">
        <div class="infoleft left">班级名称：</div>
        <div class="class-name left">
            <input name="classname" placeholder="请输入班级名称"/>
        </div>
    </div>
    <div class="createinfo clearfix">
        <div class="infoleft left">班级简介：</div>
        <div class="class-desc left">
            <textarea name="class_desc" placeholder="请填写班级描述"></textarea>
        </div>
    </div>
    <div class="createinfo clearfix">
        <div class="infoleft left">公共邮箱：</div>
        <div class="email left">
            <input name="email" placeholder="所有发布的作业可以同步发送一份到这个邮箱"/>
        </div>
        <div class="left" style="font-size:12px;line-height: 27px;">
            还没有公共邮箱，<a href="http://mail.163.com/" target="_blank">点此创建邮箱</a>
        </div>
    </div>
    <div class="createbtn btn">创建</div>
</div>
<div class="create-done">
    <div class="desc">你已经成功<span class="isexist"></span>如下班级：</div>
    <div class="done-info"></div>
    <div class="desc">你可以发送或打印下面的邀请信邀请学生加入班级：</div>
</div>

{% endblock %}
{% block template %}
<script id="vselfTempl" class="mustache-template" type="text/template">
    {{ include_mustache('school/class_item_tmpl.html',scriptag=False) }}
    {{ include_mustache('school/class_invitation.html',scriptag=False) }}
</script>
{% endblock %}
