/*content style*/
.bordertop {
  border-top: #eeeeee solid 1px;
}
.content {
  width: 960px;
  margin: 0 auto;
}
.jcontent {
  background-color: #FFF;
  height: 100%;
}
.fixmenu {
  position: fixed;
}
.fix-line {
  clear: both;
  height: 1px;
}
.jcontent_top .jct_left {
  float: left;
  width: 228px;
  height: 100%;
  border-top: none;
  padding: 15px;
  color: #a9a9a9;
}
.jcontent_top .jct_left a {
  color: #a9a9a9;
}
.jcontent_top .jct_left .jctlogindl {
  width: 205px;
  margin: 0 auto;
  padding-bottom: 15px;
}
.jcontent_top .jct_left .jctlogindl dt {
  font-size: 24px;
  width: 105px;
  height: 105px;
  float: right;
  margin-bottom: 15px;
}
.jcontent_top .jct_left .jctlogindl dt span {
  display: block;
  color: #FFF;
  padding: 30px 0 0 15px;
}
.jcontent_top .jct_left .jctlogindl dt.vjob {
  background-color: #74d2da;
  box-shadow: 0 1px 1px #b5e7eb;
}
.jcontent_top .jct_left .jctlogindl dt.vdream {
  background-color: #e88290;
  box-shadow: 0 1px 1px #f1b4bc;
  margin-top: 20px;
}
.jcontent_top .jct_left .jctlogindl dt.vabout {
  background-color: #a37fb8;
  box-shadow: 0 1px 1px #c8b2d4;
  margin-top: 20px;
}
.jcontent_top .jct_left .jctlogindl dd {
  font-size: 14px;
  color: #a9a9a9;
  clear: both;
}
.jcontent_top .jct_left .jctlogindl dd a {
  display: inline-block;
  padding: 8px 15px;
  background-color: #f3f3f3;
  margin-bottom: 5px;
  float: right;
  text-align: right;
}
.jcontent_top .jct_left .vjobul {
  margin-top: 5px;
  float: right;
  font-size: 12px;
  line-height: 200%;
}
.jcontent_top .jct_right {
  float: right;
  background-color: #f7f7f7;
  color: #000000;
  border-left: #d4d4d4 solid 1px;
  box-shadow: 0 1px 1px #f6f6f6,0 1px #fefefe inset;
  padding: 10px 20px 100px 15px;
  width: 645px;
}
.jcontent_top .jct_right .margintop {
  margin-top: 10px;
}
.jcontent_top .jct_right .jvcont dl {
  padding: 25px 35px 25px 15px;
  background-color: #FFF;
  box-shadow: 0 3px 3px #bebebe;
  border: #eeeeee solid 1px;
}
.jcontent_top .jct_right .jvcont .rel {
  position: relative;
}
.jcontent_top .jct_right a.sanjiao {
  display: block;
  background: url(/static/images/home/sanjiao.png) no-repeat left 0;
  width: 8px;
  height: 13px;
  position: absolute;
  left: -12px;
  top: 38px;
  _background: url(/static/images/home/hack/sanjiao.png) no-repeat left 0;
  _left: -13px;
}
.jcontent_top .jct_right .purp dl dt {
  font-size: 14px;
  color: #a37fb8;
}
.jcontent_top .jct_right .blue {
  border-top: #74d2da solid 6px;
}
.jcontent_top .jct_right .red {
  border-top: #e88290 solid 6px;
}
.jcontent_top .jct_right .red .sanjiao {
  background-position: 0 -30px;
}
.jcontent_top .jct_right .purp {
  border-top: #a37fb8 solid 6px;
}
.jcontent_top .jct_right .purp .sanjiao {
  background-position: 0 -60px;
}
.jcontent_top .jct_right .jvcont dl dd p {
  margin-top: 25px;
  text-indent: 2em;
}
ul.help-item {
  float: right;
  margin-top: 20px;
}
ul.help-item li {
  display: block;
  width: 120px;
  padding: 2px;
  text-align: right;
}
ul.help-item li a {
  color: #74d2da;
  background-color: #ffffff;
  font-size: 12px;
  padding: 2px;
  text-align: right;
}
ul.help-item li a:hover {
  color: #ffffff;
  background-color: #74d2da;
}
.credits {
  border-bottom: solid 1px #eee;
  padding-bottom: 10px;
  margin: 0 0 30px;
}
#pagewrap {
  position: relative;
}
