/*基本类和函数*/
/***************border圆角**********************/
/***************方块阴影**********************/
/***************元素过度效果**********************/
/****************旋转，转换***********************/
/****************线性颜色渐变***********************/
/****************快速颜色渐变***********************/
/****************镜像效果***********************/
/****************透明效果***********************/
/****************处理越界***********************/
.font-wrap {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* 班级加载 */
.selectclass {
  cursor: text;
  min-height: 20px;
  width: 120px;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
ul.myclasses {
  display: none;
  position: absolute;
  z-index: 3;
  width: 140px;
  background-color: white;
  border: #EEE solid 1px;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}
ul.myclasses li {
  cursor: pointer;
  border-top: 1px solid #d1d1d1;
}
ul.myclasses li div {
  margin: 8px 20px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.panel {
  color: #808080;
}
.panel .flash .pagetitle {
  color: #0E9DE1;
  font-size: 16px;
  margin-bottom: 5px;
}
.panel .flash .upimgmodule {
  margin-left: 65px;
}
.panel .flash .upimgmodule .imgdivempty {
  border: 1px dotted;
  width: 80px;
  height: 60px;
  float: left;
  margin: 5px 12px 0px 0px;
}
.panel .flash .upimgmodule .imgdivempty .pro {
  margin: 40px 50px;
  width: 100px;
}
.panel .flash .upimgmodule .imgdiv {
  float: left;
  width: 80px;
  height: 60px;
  margin: 5px 12px 0px 0px;
}
.panel .flash .upimgmodule .imgdiv .imgbox {
  width: 80px;
  height: 60px;
}
.panel .flash .upimgmodule .imgdiv .imgbox img {
  width: 80px;
  height: 60px;
}
.panel .flash .upimgmodule .imgdiv .delete {
  position: relative;
  top: -60px;
  left: 70px;
  width: 10px;
  cursor: pointer;
}
.panel .flash .upimgmodule .imgdiv .upbtn {
  cursor: pointer;
  margin-top: 48px;
}
.panel .flash .upimgmodule .imgdiv .upbtn span {
  color: #0001EC;
}
.panel .upinput .line {
  margin-top: 5px;
}
.panel .upinput .line .send {
  background-color: #f2f2f2;
  color: #808080;
  width: 40px;
  height: 26px;
  border: 1px solid #CCC;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.panel .upinput .line .title {
  width: 65px;
  text-align: right;
  margin-top: 4px;
}
.panel .upinput .line .placeholder {
  border: 1px solid #CCC;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background: white;
  width: 480px;
  height: 20px;
  overflow: hidden;
}
.panel .upinput .line .placeholder label {
  top: 3px;
  left: 5px;
}
.panel .upinput .line .placeholder input {
  line-height: 14px;
  width: 470px;
  padding: 3px 8px 3px 5px;
}
.panel .subline {
  border-bottom: 1px solid #4cadce;
  margin-top: 10px;
}
.panel .comment .img_comment {
  background-color: white;
  padding: 15px 0 10px 10px;
  border-bottom: 1px solid #DFDFDF;
}
.panel .comment .img_comment .avatar {
  margin-right: 10px;
}
.panel .comment .img_comment .comment .top {
  width: 448px;
  padding-left: 20px;
  color: #626262;
  background: #F8F8F8;
}
.panel .comment .img_comment .comment .top .piclist .pic {
  width: 80px;
  margin-right: 10px;
}
.panel .comment .img_comment .comment .status {
  margin-top: 10px;
  padding-left: 20px;
}
.panel .comment .img_comment .comment .status span {
  color: red;
}
.panel .comment .goodvideo_comment {
  background-color: white;
  padding: 15px 0 10px 10px;
  border-bottom: 1px solid #DFDFDF;
}
.panel .comment .goodvideo_comment .avatar {
  margin-right: 10px;
}
.panel .comment .goodvideo_comment .comment .top {
  width: 448px;
  padding-left: 20px;
  color: #626262;
  background: #F8F8F8;
}
.panel .comment .goodvideo_comment .comment .top .video {
  margin-right: 10px;
}
.panel .comment .goodvideo_comment .comment .top .title {
  margin-top: 5px;
}
.panel .comment .goodvideo_comment .comment .top .title a {
  color: #000000;
  font-size: 14px;
  font-weight: bolder;
}
.panel .comment .goodvideo_comment .comment .top .reason {
  margin-top: 5px;
}
.panel .comment .goodvideo_comment .comment .status {
  padding-left: 20px;
}
.panel .comment .goodvideo_comment .comment .status span {
  color: red;
}
.panel .carouselbox {
  padding-left: 30px;
}
.panel .carouselbox .turnleft {
  width: 15px;
  height: 60px;
  margin-right: 10px;
  cursor: pointer;
}
.panel .carouselbox .turnleft .left_icons {
  background: url('/static/images/icons/arrow.png') no-repeat 0px 0px;
  width: 10px;
  height: 15px;
  margin-top: 22px;
}
.panel .carouselbox .turnright {
  width: 15px;
  height: 60px;
  margin-left: 10px;
  cursor: pointer;
}
.panel .carouselbox .turnright .right_icons {
  background: url('/static/images/icons/arrow.png') no-repeat -12px 0px;
  width: 10px;
  height: 15px;
  margin-top: 22px;
}
.panel .carouselbox .carousel {
  float: left;
  position: relative;
  width: 440px;
  height: 60px;
  overflow: hidden;
}
.panel .carouselbox .carousel ul {
  position: absolute;
  left: 0px;
}
.panel .carouselbox .carousel ul li {
  float: left;
  cursor: pointer;
  margin-right: 10px;
}
.panel .carouselbox .carousel ul li img {
  width: 80px;
  height: 60px;
}
.panel .carouselbox .carousel ul li .active {
  border: 1px solid;
  width: 78px;
  height: 58px;
}
.panel .showbox {
  margin: 10px 0px 0px 30px;
  text-align: center;
  vertical-align: middle;
  background: #F7F7F7;
  width: 490px;
}
.panel .showbox img {
  max-width: 490px;
  margin: 20px 0px;
}
.panel .info {
  width: 490px;
  margin-top: 20px;
  margin-left: 30px;
}
.panel .info .comment {
  background-color: #FFFFFF;
  margin: 0px;
  height: 55px;
  width: 490px;
  border: #cccccc solid 1px;
}
.panel .info .comment textarea {
  width: 498px;
  height: 55px;
}
.page-title {
  font-size: 14px;
  color: #0000ee;
}
.page-title a {
  font-size: 14px;
  color: #0000ee;
}
.img-item .item {
  margin-bottom: 8px;
}
.allcomment {
  font-size: 14px;
  font-weight: bolder;
  color: #808080;
  margin-bottom: 5px;
}
.commentarea label {
  margin: 5px;
}
.commentarea textarea {
  padding: 5px;
}
.comment-send {
  margin-top: 5px;
}
.viedo-status {
  margin-top: 10px;
}
