body {
  background: #f1f2f5;
}
.hpwrap {
  width: 960px;
  margin: 0px auto;
}
/* h-top */
.h_top {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #ffffff;
  padding: 20px 70px;
}
.h_top h2 a {
  padding-right: 12px;
}
/* h-middle */
.h_middle {
  background: #ffffff;
  padding: 20px 70px;
}
.h_middle .hpitem {
  margin-bottom: 32px;
  border-bottom: 1px dotted #f0f0f0;
}
.h_middle .hpitem dl {
  padding: 10px 0;
}
.h_middle .hpitem dt {
  padding: 12px;
  font-weight: bold;
  color: #00a0ea;
}
/* position */
#pos_register {
  position: absolute;
  top: 152px;
}
