html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
progress,
time,
mark,
audio,
video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  outline-style: none;
  font-size: 12px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  text-decoration: none;
}
a:hover, a:active, a:visited {
  outline: 0;
  text-decoration: none;
}
sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
ol, ul, li {
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
  outline-style: none;
  border: 0;
}
button, input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
}
.bigshadow {
  background: url('/static/images/main/bigshadow.png') no-repeat 0px 0px;
  width: 1012px;
  height: 668px;
}
/* HOME ICON
 * ------------------------- */
.home_page_gray {
  background: url('/static/images/icons/home_icons.png') no-repeat 0px 0px;
  width: 16px;
  height: 16px;
}
.home_page {
  background: url('/static/images/icons/home_icons.png') no-repeat 0px -20px;
  width: 16px;
  height: 16px;
}
.home_task_gray {
  background: url('/static/images/icons/home_icons.png') no-repeat -20px 0px;
  width: 16px;
  height: 16px;
}
.home_task {
  background: url('/static/images/icons/home_icons.png') no-repeat -20px -20px;
  width: 16px;
  height: 16px;
}
.home_notify_gray {
  background: url('/static/images/icons/home_icons.png') no-repeat -40px 0px;
  width: 16px;
  height: 16px;
}
.home_notify {
  background: url('/static/images/icons/home_icons.png') no-repeat -40px -20px;
  width: 16px;
  height: 16px;
}
.home_class_gray {
  background: url('/static/images/icons/home_icons.png') no-repeat -60px 0px;
  width: 16px;
  height: 16px;
}
.home_class {
  background: url('/static/images/icons/home_icons.png') no-repeat -60px -20px;
  width: 16px;
  height: 16px;
}
.home_favor_gray {
  background: url('/static/images/icons/home_icons.png') no-repeat -80px 0px;
  width: 16px;
  height: 16px;
}
.home_favor {
  background: url('/static/images/icons/home_icons.png') no-repeat -80px -20px;
  width: 16px;
  height: 16px;
}
.home_things_gray {
  background: url('/static/images/icons/home_icons.png') no-repeat -100px 0px;
  width: 16px;
  height: 16px;
}
.home_things {
  background: url('/static/images/icons/home_icons.png') no-repeat -100px -20px;
  width: 16px;
  height: 16px;
}
.home_child_gray {
  background: url('/static/images/icons/home_icons.png') no-repeat -100px 0px;
  width: 16px;
  height: 16px;
}
.home_child {
  background: url('/static/images/icons/home_icons.png') no-repeat -100px -20px;
  width: 16px;
  height: 16px;
}
/* RIGHT ICON
 * ------------------------- */
.right_demand {
  background: url('/static/images/icons/home_icons.png') no-repeat 0px -40px;
  width: 16px;
  height: 16px;
}
.right_favor {
  background: url('/static/images/icons/home_icons.png') no-repeat -20px -40px;
  width: 16px;
  height: 16px;
}
.right_help {
  background: url('/static/images/icons/home_icons.png') no-repeat -40px -40px;
  width: 16px;
  height: 16px;
}
/* STATE ICON
 * ------------------------- */
.state-newwork {
  background: url('/static/images/icons/home_icons.png') no-repeat 0px -120px;
  width: 105px;
  height: 28px;
}
.state-needapproval {
  background: url('/static/images/icons/home_icons.png') no-repeat 0px -160px;
  width: 105px;
  height: 28px;
}
.state-needcorrect {
  background: url('/static/images/icons/home_icons.png') no-repeat 0px -200px;
  width: 105px;
  height: 28px;
}
.state-need-studentapproval {
  background: url('/static/images/icons/home_icons.png') no-repeat 0px -440px;
  width: 105px;
  height: 28px;
}
.state-invalid {
  background: url('/static/images/icons/home_icons.png') no-repeat 0px -240px;
  width: 105px;
  height: 28px;
}
.state-redo {
  background: url('/static/images/icons/home_icons.png') no-repeat 0px -280px;
  width: 105px;
  height: 28px;
}
.state-redo-teacher {
  background: url('/static/images/icons/home_icons.png') no-repeat 0px -473px;
  width: 105px;
  height: 28px;
}
/* OPERATOR ICON
 * ------------------------- */
.upload_icon {
  background: url('/static/images/icons/home_icons.png') no-repeat 0px -60px;
  width: 16px;
  height: 16px;
}
.online_icon {
  background: url('/static/images/icons/home_icons.png') no-repeat -20px -60px;
  width: 16px;
  height: 16px;
}
.approval_icon {
  background: url('/static/images/icons/home_icons.png') no-repeat -40px -60px;
  width: 16px;
  height: 16px;
}
.correct_icon {
  background: url('/static/images/icons/home_icons.png') no-repeat -60px -60px;
  width: 16px;
  height: 16px;
}
.addattachment_icon {
  background: url('/static/images/icons/home_icons.png') no-repeat -80px -60px;
  width: 16px;
  height: 16px;
}
.favor_icon {
  background: url('/static/images/icons/home_icons.png') no-repeat -100px -59px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.favor_icon_gray {
  background: url('/static/images/icons/home_icons.png') no-repeat -100px -79px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.favor2_icon {
  background: url('/static/images/icons/home_icons.png') no-repeat -118px -59px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.favor2_icon_gray {
  background: url('/static/images/icons/home_icons.png') no-repeat -118px -79px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.favor_state {
  background: url('/static/images/icons/home_icons.png') no-repeat -160px -59px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.batch_icon {
  background: url('/static/images/icons/home_icons.png') no-repeat -139px -59px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.batch_icon_gray {
  background: url('/static/images/icons/home_icons.png') no-repeat -139px -79px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.fav_click {
  background: url('/static/images/icons/home_icons.png') no-repeat -60px -378px;
  width: 16px;
  height: 16px;
}
.fav_love {
  background: url('/static/images/icons/home_icons.png') no-repeat -100px -378px;
  width: 16px;
  height: 16px;
}
.fav_love_black {
  background: url('/static/images/icons/home_icons.png') no-repeat -20px -378px;
  width: 16px;
  height: 16px;
}
.fav_collect {
  background: url('/static/images/icons/home_icons.png') no-repeat -39px -378px;
  width: 16px;
  height: 16px;
}
.fav_reply {
  background: url('/static/images/icons/home_icons.png') no-repeat -79px -378px;
  width: 16px;
  height: 16px;
}
.edit_icon {
  background: url('/static/images/icons/home_icons.png') no-repeat 0px -360px;
  width: 16px;
  height: 12px;
}
.delete_icon {
  background: url('/static/images/icons/home_icons.png') no-repeat -20px -360px;
  width: 16px;
  height: 12px;
}
.ok_icon {
  background: url('/static/images/icons/home_icons.png') no-repeat -40px -360px;
  width: 16px;
  height: 12px;
}
.clear_icon {
  background: url('/static/images/icons/home_icons.png') no-repeat -60px -360px;
  width: 16px;
  height: 12px;
}
.printer {
  background: url('/static/images/icons/home_icons.png') no-repeat -20px -340px;
  width: 22px;
  height: 20px;
}
.mutichecked {
  background: url('/static/images/icons/home_icons.png') no-repeat 0px -400px;
  width: 22px;
  height: 20px;
}
.uparrow_icon {
  display: inline-block;
  /* ie8,firefox3,safari,opera */
  display: -moz-inline-stack;
  /* firefox2,-moz-inline-box其实也可以，但在某些情况下会有些异常-_-b */
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  /* 这个用来对opera的hack，使其垂直居中 */
  overflow: hidden;
  /* 针对ie，防止内容溺出，造成的高度及宽度改变 */
  background: url('/static/images/icons/home_icons.png') no-repeat -120px -520px;
  width: 16px;
  height: 16px;
}
.export_icon {
  display: inline-block;
  /* ie8,firefox3,safari,opera */
  display: -moz-inline-stack;
  /* firefox2,-moz-inline-box其实也可以，但在某些情况下会有些异常-_-b */
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  /* 这个用来对opera的hack，使其垂直居中 */
  overflow: hidden;
  /* 针对ie，防止内容溺出，造成的高度及宽度改变 */
  background: url('/static/images/icons/home_icons.png') no-repeat -140px -520px;
  width: 16px;
  height: 16px;
}
/* TASK ICON
 * ------------------------- */
.video_icon {
  display: inline-block;
  /* ie8,firefox3,safari,opera */
  display: -moz-inline-stack;
  /* firefox2,-moz-inline-box其实也可以，但在某些情况下会有些异常-_-b */
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  /* 这个用来对opera的hack，使其垂直居中 */
  overflow: hidden;
  /* 针对ie，防止内容溺出，造成的高度及宽度改变 */
  background: url('/static/images/icons/home_icons.png') no-repeat -40px -520px;
  width: 16px;
  height: 16px;
}
.image_icon {
  display: inline-block;
  /* ie8,firefox3,safari,opera */
  display: -moz-inline-stack;
  /* firefox2,-moz-inline-box其实也可以，但在某些情况下会有些异常-_-b */
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  /* 这个用来对opera的hack，使其垂直居中 */
  overflow: hidden;
  /* 针对ie，防止内容溺出，造成的高度及宽度改变 */
  background: url('/static/images/icons/home_icons.png') no-repeat -60px -520px;
  width: 16px;
  height: 16px;
}
.writing_icon {
  display: inline-block;
  /* ie8,firefox3,safari,opera */
  display: -moz-inline-stack;
  /* firefox2,-moz-inline-box其实也可以，但在某些情况下会有些异常-_-b */
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  /* 这个用来对opera的hack，使其垂直居中 */
  overflow: hidden;
  /* 针对ie，防止内容溺出，造成的高度及宽度改变 */
  background: url('/static/images/icons/home_icons.png') no-repeat -80px -520px;
  width: 16px;
  height: 16px;
}
.multitask_icon {
  display: inline-block;
  /* ie8,firefox3,safari,opera */
  display: -moz-inline-stack;
  /* firefox2,-moz-inline-box其实也可以，但在某些情况下会有些异常-_-b */
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  /* 这个用来对opera的hack，使其垂直居中 */
  overflow: hidden;
  /* 针对ie，防止内容溺出，造成的高度及宽度改变 */
  background: url('/static/images/icons/home_icons.png') no-repeat -100px -520px;
  width: 20px;
  height: 20px;
}
/* COMMON ICON
 * ------------------------- */
.icon-warn, .icon-info, .icon-alert {
  display: inline-block;
  background: url('/static/images/icons/common.png') no-repeat 0px 0px;
  width: 16px;
  height: 16px;
}
.icon-wrong, .icon-error, .icon-delete {
  display: inline-block;
  background: url('/static/images/icons/common.png') no-repeat 0px -16px;
  width: 16px;
  height: 16px;
}
.icon-user {
  display: inline-block;
  background: url('/static/images/icons/common.png') no-repeat -16px 0;
  width: 16px;
  height: 16px;
}
/* 页面顶部的标题
 * ------------------------ */
.prompt-task {
  background: url('/static/images/icons/tabtitle.png') no-repeat 0px 0px;
  width: 160px;
  height: 20px;
}
.export-online {
  background: url('/static/images/icons/tabtitle.png') no-repeat 0px -20px;
  width: 160px;
  height: 20px;
}
.export-class {
  background: url('/static/images/icons/tabtitle.png') no-repeat 0px -40px;
  width: 160px;
  height: 20px;
}
.export-class2 {
  background: url('/static/images/icons/tabtitle.png') no-repeat -46px -40px;
  width: 160px;
  height: 20px;
}
.prompt-notify {
  background: url('/static/images/icons/tabtitle.png') no-repeat 0px -60px;
  width: 160px;
  height: 20px;
}
.pigai-task {
  background: url('/static/images/icons/tabtitle.png') no-repeat 0px -80px;
  width: 160px;
  height: 20px;
}
.favor-video {
  background: url('/static/images/icons/tabtitle.png') no-repeat 0px -100px;
  width: 160px;
  height: 20px;
}
.send-video {
  background: url('/static/images/icons/tabtitle.png') no-repeat 0px -120px;
  width: 160px;
  height: 20px;
}
.send-img {
  background: url('/static/images/icons/tabtitle.png') no-repeat 0px -140px;
  width: 160px;
  height: 20px;
}
.update-avatar {
  background: url('/static/images/icons/tabtitle.png') no-repeat 0px -160px;
  width: 160px;
  height: 20px;
}
.account-manager {
  background: url('/static/images/icons/tabtitle.png') no-repeat 0px -180px;
  width: 160px;
  height: 20px;
}
.returntop {
  background: url('/static/images/icons/top.gif') no-repeat;
  width: 41px;
  height: 69px;
  position: fixed;
  bottom: 30px;
}
/*基本类和函数*/
/***************border圆角**********************/
/***************方块阴影**********************/
/***************元素过度效果**********************/
/****************旋转，转换***********************/
/****************线性颜色渐变***********************/
/****************快速颜色渐变***********************/
/****************镜像效果***********************/
/****************透明效果***********************/
/****************处理越界***********************/
.font-wrap {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/*导航栏*/
.nav {
  margin-left: 0;
  list-style: none;
}
.nav li {
  background-color: #fff;
}
.nav li.item {
  border-top: 1px solid #e4e7e2;
}
.nav li a {
  font-weight: bolder;
  color: #808080;
  font-size: 14px;
  display: block;
  padding: 12px;
}
.nav li a:hover {
  color: #808080;
  background: #ebf6fa;
}
.nav li a.active {
  color: #3fa7cb;
  background: #ebf6fa;
  background-image: none!important;
}
.nav li .icon {
  float: left;
  margin-right: 10px;
}
.nav li img.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.nav.dropdown-menu {
  border-top: 1px solid #dcdcdc;
}
.nav.dropdown-menu a {
  color: #909090;
  display: block;
  padding: 12px 0 12px 35px;
  font-size: 14px;
  font-weight: normal;
}
.nav.dropdown-menu a.active {
  color: #3fa7cb;
  background: #fff;
  border-left: 0;
}
.nav-tabs {
  border-bottom: 1px solid #3fa7cc;
}
.nav-tabs li {
  margin-bottom: -2px;
  float: left;
  display: list-item;
}
.nav-tabs li a {
  color: #000;
  padding: 8px 12px;
  margin-right: 2px;
  background: #f1f4fb;
  display: block;
  color: #7e7e7e;
}
.nav-tabs li.active a, .nav-tabs li.active a:hover {
  color: #000;
  background-color: #f1f1f1;
  border: 1px solid #40a6cc;
  border-bottom-color: transparent;
}
/*导航栏结束*/
/* 面板 */
.panel.effect {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.panel.info {
  padding: 20px 30px;
  font-size: 16px;
  font-weight: bolder;
  color: #3A87AD;
  background-color: #f1f1f1;
  border-color: #BCE8F1;
  text-align: center;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.panel.noitem {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  height: 30px;
  line-height: 30px;
}
/* 面板结束 */
/*分页page*/
.page {
  background: #fff;
}
.page li {
  margin-right: 5px;
  float: left;
}
.page li a {
  color: #399;
  background-color: #fff;
  text-decoration: none;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  padding: 3px 5px;
}
.page li a.active {
  font-weight: bold;
  color: #fff;
  cursor: default;
  background-color: #3FA7CB;
}
.page li a.disable {
  color: #666;
  cursor: default;
}
/*分页page结束*/
/*div排列*/
.left {
  float: left;
}
.right {
  float: right;
}
/*div排列结束*/
/* 基本按钮 */
.btn {
  cursor: pointer;
  background: #3fa7cc;
  padding: 5px 20px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  color: #f2f7fb;
  font-size: 14px;
  font-family: helvetica, serif;
  text-decoration: none;
}
.btn:hover {
  background: #3e779d;
  background-color: #65a9d7;
  background-image: -webkit-linear-gradient(top, #65a9d7, #3e779d);
  background-image: -moz-linear-gradient(top, #65a9d7, #3e779d);
  background-image: -o-linear-gradient(top, #65a9d7, #3e779d);
  background-image: -ms-linear-gradient(top, #65a9d7, #3e779d);
  background-image: linear-gradient(top, #65a9d7, #3e779d);
}
.btn.disable {
  background: #ededed;
  background-color: #f6f6f6;
  background-image: -webkit-linear-gradient(top, #f6f6f6, #ededed);
  background-image: -moz-linear-gradient(top, #f6f6f6, #ededed);
  background-image: -o-linear-gradient(top, #f6f6f6, #ededed);
  background-image: -ms-linear-gradient(top, #f6f6f6, #ededed);
  background-image: linear-gradient(top, #f6f6f6, #ededed);
  color: #999;
}
.btn.disable:hover {
  background: #ededed;
  background-color: #f6f6f6;
  background-image: -webkit-linear-gradient(top, #f6f6f6, #ededed);
  background-image: -moz-linear-gradient(top, #f6f6f6, #ededed);
  background-image: -o-linear-gradient(top, #f6f6f6, #ededed);
  background-image: -ms-linear-gradient(top, #f6f6f6, #ededed);
  background-image: linear-gradient(top, #f6f6f6, #ededed);
  color: #999;
}
.btn.primary {
  background: #fd9b1e;
  color: #fff;
}
.btn.primary:hover {
  background-color: #fab660;
  background-image: -webkit-linear-gradient(top, #fab660, #e68406);
  background-image: -moz-linear-gradient(top, #fab660, #e68406);
  background-image: -o-linear-gradient(top, #fab660, #e68406);
  background-image: -ms-linear-gradient(top, #fab660, #e68406);
  background-image: linear-gradient(top, #fab660, #e68406);
  background: #e68406;
  color: #f8f6f9;
}
.btn.info {
  border: 1px solid #e3e3e3;
  background: #fc9b1e;
  background-color: #ffe0c4;
  background-image: -webkit-linear-gradient(top, #ffe0c4, #fc9b1e);
  background-image: -moz-linear-gradient(top, #ffe0c4, #fc9b1e);
  background-image: -o-linear-gradient(top, #ffe0c4, #fc9b1e);
  background-image: -ms-linear-gradient(top, #ffe0c4, #fc9b1e);
  background-image: linear-gradient(top, #ffe0c4, #fc9b1e);
  padding: 10px 21px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 14px;
}
.btn.info:hover {
  color: #f5ebf5;
  background: #fc9b1e;
  background-color: #ffe0c4;
  background-image: -webkit-linear-gradient(top, #ffe0c4, #fc9b1e);
  background-image: -moz-linear-gradient(top, #ffe0c4, #fc9b1e);
  background-image: -o-linear-gradient(top, #ffe0c4, #fc9b1e);
  background-image: -ms-linear-gradient(top, #ffe0c4, #fc9b1e);
  background-image: linear-gradient(top, #ffe0c4, #fc9b1e);
}
/*链接结束*/
/**标签**/
.tag {
  color: #666;
  font-size: 12px;
  text-decoration: none;
}
.tag.link:hover {
  color: #3FA7CB;
}
.tag.info {
  color: #fb7171;
}
.tag.warning {
  color: #ff8486;
}
.tag.title, .tag.title a {
  font-family: 方正大标宋;
  font-size: 18px;
  color: #0d9ddf;
  font-weight: bolder;
}
/**标签结束**/
/*提示信息*/
.alert {
  display: block;
  padding: 2px 5px;
  font-size: 12px;
  height: 16px;
  line-height: 16px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.alert.error {
  color: #B94A48;
  background-color: #F2DEDE;
  border-color: #EED3D7;
}
.alert.warn {
  background-color: #FCF8E3;
  border: 1px solid #FBEED5;
  color: #C09853;
}
.alert.tip-warn {
  color: #C09853;
}
/*提示信息结束*/
/**各种组件**/
/**placeholder组件**/
input::-webkit-input-placeholder {
  color: #999999;
}
input:-moz-placeholder {
  color: #999999;
}
.placeholder {
  position: relative;
}
.placeholder label, .placeholder input, .placeholder textarea {
  position: absolute;
  top: 0px;
  cursor: text;
}
.placeholder label {
  color: #999999;
  font-size: 12px;
  cursor: text;
}
.placeholder input, .placeholder textarea {
  background: transparent;
  font-size: 12px;
  outline-style: none;
}
.placeholder.focus label {
  color: #CCCCCC;
}
/**placeholder组件结束**/
/*****search组件*****/
.search {
  position: relative;
  width: 480px;
  height: 34px;
}
.search .placeholder {
  position: relative;
}
.search .placeholder .holder {
  position: absolute;
  top: 8px;
  left: 4px;
}
.search .placeholder label {
  color: #999;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  padding-left: 5px;
}
.search .placeholder input {
  width: 394px;
  padding: 9px 5px;
  line-height: 14px;
  background: transparent;
  font-size: 12px;
  border: 1px solid #d1d1d1;
  border-right: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.search .note {
  height: 33px;
  line-height: 33px;
  background: #65b9d5;
  color: #ffffff;
  cursor: pointer;
  padding: 0 25px;
  -webkit-border-radius: 0 5px 5px 0 5px 5px 5px;
  -moz-border-radius: 0 5px 5px 0 5px 5px 5px;
  border-radius: 0 5px 5px 0 5px 5px 5px;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #d1d1d1;
  border-left: #eaeaea solid 1px;
  position: absolute;
  top: 0;
  right: 1px;
}
/*****search组件结束*****/
/**smallnote组件**/
.smallnote {
  background-color: #F8F8CD;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  color: #333333;
  line-height: 15px;
  padding: 8px 30px;
  position: fixed;
  text-align: center;
  top: 0;
  z-index: 2000;
  _position: absolute;
}
.smallnote.error {
  background: #f8f8cd 30px center no-repeat;
  color: #B43830;
  padding-left: 45px;
}
/**smallnote结束**/
/**播放器**/
a.beishuPlayer {
  display: block;
  text-align: center;
  background: no-repeat;
  background-position: center;
  border: 1px solid #fcfabc;
}
a.beishuPlayer div {
  width: 100%;
  height: 100%;
}
a.beishuPlayer img {
  margin-top: 72px;
  border: 0px;
  display: block;
}
a.videostop {
  display: block;
  z-index: 3;
  position: absolute;
  bottom: -28px;
  left: 200px;
  text-align: center;
  font-size: 14px;
}
.beishuVideo {
  position: relative;
}
.beishuVideo .playicon {
  position: absolute;
  top: 80px;
  left: 110px;
}
.webcam-container {
  padding: 0;
  margin: 0;
  border: 1px solid #000000;
}
.size640x480 {
  width: 480px;
  height: 360px;
}
.videobox {
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
}
.beishuPlayer {
  width: 135px;
  height: 110px;
}
.video-btn {
  cursor: pointer;
}
.video_op {
  margin-top: 10px;
  margin-right: 10px;
}
/**播放器结束**/
/**遮罩层**/
#masklayer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
  z-index: 1000;
  display: none;
  background-color: #2D2E31;
  filter: alpha(opacity=80);
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  opacity: 0.6;
}
.common-dialog {
  position: absolute;
  z-index: 2000;
  display: none;
}
.common-dialog .wrapper {
  background-color: #FFFFFF;
  border: 1px solid #393A3C;
  border-radius: 5px;
  box-shadow: 0 0 3px #2D2E31;
}
.common-dialog .wrapper header {
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #dedede;
  height: 40px;
  padding: 0 20px;
  background-color: #eeeeee;
}
.common-dialog .wrapper header .title {
  font-size: 14px;
  line-height: 40px;
  max-width: 400px;
  display: inline-block;
  float: left;
  _width: 350px;
}
.common-dialog .wrapper section {
  padding: 24px 30px 30px;
  word-wrap: break-word;
}
/**图片旋转**/
.imgrotate .imgpanel {
  position: relative;
}
.imgrotate .imgpanel .rotate-left {
  position: absolute;
  left: -28px;
  top: -14px;
  cursor: pointer;
  z-index: 2;
}
.imgrotate .imgpanel .rotate-right {
  position: absolute;
  left: 365px;
  top: -14px;
  cursor: pointer;
  z-index: 2;
}
.imgrotate .imgpanel .imgpath {
  width: 400px;
  height: 400px;
}
.imgrotate .imgconfirm {
  margin-top: 10px;
}
.imageshow .carouselbox {
  padding-left: 30px;
}
.imageshow .carouselbox .turnleft {
  width: 15px;
  height: 60px;
  margin-right: 10px;
  cursor: pointer;
}
.imageshow .carouselbox .turnleft .left_icons {
  background: url('/static/images/icons/arrow.png') no-repeat 0px 0px;
  width: 10px;
  height: 15px;
  margin-top: 22px;
}
.imageshow .carouselbox .turnright {
  width: 15px;
  height: 60px;
  margin-left: 10px;
  cursor: pointer;
}
.imageshow .carouselbox .turnright .right_icons {
  background: url('/static/images/icons/arrow.png') no-repeat -12px 0px;
  width: 10px;
  height: 15px;
  margin-top: 22px;
}
.imageshow .carouselbox .carousel {
  float: left;
  position: relative;
  width: 440px;
  height: 60px;
  overflow: hidden;
}
.imageshow .carouselbox .carousel ul {
  position: absolute;
  left: 0px;
}
.imageshow .carouselbox .carousel ul li {
  float: left;
  cursor: pointer;
  margin-right: 10px;
}
.imageshow .carouselbox .carousel ul li img {
  width: 80px;
  height: 60px;
}
.imageshow .carouselbox .carousel ul li .active {
  border: 1px solid red;
  width: 78px;
  height: 58px;
}
.imageshow .showbox {
  margin: 10px 0px 0px 30px;
  text-align: center;
  vertical-align: middle;
  background: #F7F7F7;
  width: 490px;
}
.imageshow .showbox img {
  max-width: 490px;
  margin: 20px 0px;
}
.imageshow .factimage {
  cursor: pointer;
}
.imageshow .operator {
  float: right;
  margin-top: 10px;
}
.imageshow .operator span {
  margin-left: 10px;
}
/**各种组件结束**/
/* new ui : */
body {
  background: #f1f3f2;
}
#register {
  width: 800px;
  padding: 30px 20px;
  margin: 0 auto;
}
#register .header {
  position: relative;
  height: 60px;
  background-color: #3fa7cb;
  background-image: -webkit-linear-gradient(top, #3fa7cb, #3fa7cb);
  background-image: -moz-linear-gradient(top, #3fa7cb, #3fa7cb);
  background-image: -o-linear-gradient(top, #3fa7cb, #3fa7cb);
  background-image: -ms-linear-gradient(top, #3fa7cb, #3fa7cb);
  background-image: linear-gradient(top, #3fa7cb, #3fa7cb);
}
#register .header .logo {
  padding: 5px;
}
#register .header .slogan {
  position: absolute;
  top: 30px;
  right: 30px;
}
#register .header .menu {
  position: absolute;
  top: 35px;
  right: 15px;
}
#register .header .menu a {
  color: #ffffff;
}
#register .body {
  position: relative;
  padding: 30px 20px;
  background: white;
}
#register .body .regtheme {
  padding: 5px 0;
  font-size: 14px;
}
#register .body .regbg-left {
  width: 720px;
  margin: 0 25px;
}
#register .body .centerbox {
  width: 400px;
  padding: 15px 0;
  margin: 0 auto;
}
#register .body .infopanel {
  float: left;
  margin: 15px;
}
#register .body .infopanel.panel-right {
  border-left: 1px solid #d1d1d1;
}
#register .body .infolabel {
  positon: relative;
  background: #c1e3ed;
}
#register .body .infolabel .info {
  color: #454545;
  font-size: 14px;
  padding-left: 4px;
  height: 30px;
  line-height: 30px;
}
#register .body .role {
  margin: 0 auto;
  width: 640px;
  padding-top: 12px;
}
#register .body .role li {
  display: block;
  float: left;
  padding: 20px;
  height: 200px;
}
#register .body .role li .desc {
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 16px;
  color: #909090;
}
#register .body .role li:hover {
  cursor: pointer;
  background: #f1f1f1;
}
#register .body .role li:hover .desc {
  color: #3FA7CB;
}
#register .body .role li.active {
  background: #3FA7CB;
}
#register .body .role li.active .desc {
  color: #ffffff;
}
#register .body .role li img {
  width: 120px;
  height: 120px;
}
#register .body .infoform {
  width: 325px;
  margin: 0 auto;
}
#register .body .infoform li {
  clear: both;
  padding: 4px 0;
}
#register .body .infoform label {
  display: block;
  float: left;
  width: 50px;
  line-height: 30px;
  text-align: right;
}
#register .body .infoform input {
  display: block;
  float: left;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #d2d2d2;
  width: 200px;
  height: 24px;
  line-height: 12px;
  padding: 3px 6px;
}
#register .body .infoform select {
  width: 215px;
  height: 30px;
  line-height: 30px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #d2d2d2;
}
#register .body .infoform select option {
  height: 30px;
  line-height: 30px;
}
#register .body .infoform .extra span {
  margin: 3px;
}
#register .body .infoform .extra strong {
  height: 16px;
  line-height: 16px;
}
#register .body .infoform .tips {
  clear: both;
  width: 215px;
  padding: 5px 100px 0px;
}
#register .body .infoform .tips.spinfo1 {
  width: 260px;
  color: #d6d6d6;
  padding: 5px 55px 0px;
}
#register .body .infoform .tips.spinfo2 {
  width: 240px;
  color: #d6d6d6;
  padding: 5px 80px 0px;
}
#register .body .infoform .tips.spinfo3 {
  width: 200px;
  padding: 5px 162px 0px;
}
#register .body .infoform .tips.spinfo4 {
  color: #d6d6d6;
  width: 380px;
  padding: 5px;
}
#register .body .licenseinfo {
  padding: 0 0 10px 100px;
  width: 215px;
}
#register .body .licenseinfo .error {
  color: #9d261d;
}
#register .body .reg-search {
  padding: 20px 0 0 20px;
  padding-bottom: 0px;
}
#register .body .classinfo {
  padding: 0 0 20px 20px;
}
#register .body .classinfo .classbox {
  width: 458px;
  padding: 10px;
  background: #f1f1f1;
}
#register .body .classinfo .classbox .class-detail {
  padding-left: 10px;
}
#register .body .classinfo .classbox .class-detail dt strong {
  font-size: 14px;
  color: #3a87ad;
}
#register .body .classinfo .classbox .class-detail dd strong {
  color: #3a87ad;
}
#register .body .classinfo .classbox .class-detail dd .info {
  color: #fb7171;
}
#register .body .regfin {
  width: 500px;
  margin: 0 auto;
}
#register .body .regfin .title {
  text-align: center;
  color: #fb7171;
  font-size: 16px;
}
#register .body .regfin .content {
  padding: 20px;
  font-size: 14px;
  color: #333;
}
#register .body .regfin .regfin-title {
  font-size: 14px;
  color: #fb7171;
}
#register .body .regfin .regfin-content {
  margin: 10px 0;
  padding: 10px 0 20px 10px;
  background: #f1f1f1;
}
#register .body .regfin .regfin-content .account-info {
  padding-top: 15px;
}
#register .body .regfin .regfin-content .info {
  color: #fb7171;
}
#register .body .savedesktop {
  float: right;
  margin-left: 30px;
}
#register .body .savedesktop.large {
  width: 130px;
  padding-left: 145px;
}
#register .body .savedesktop.middle {
  width: 100px;
}
#register .body .savedesktop .next {
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #ffffff;
  background: #3FA7CB;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 0 25px;
}
#register .body .savedesktop .next.disabled {
  background: #ececec;
  color: #a0a0a0;
}
#register .body .savedesktop .next a {
  color: #ffffff;
}
#register .body .nextbox {
  width: 90px;
  margin: 0 auto;
}
#register .body .nextbox.large {
  width: 130px;
  padding-left: 145px;
}
#register .body .nextbox.middle {
  width: 100px;
}
#register .body .nextbox .next {
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #ffffff;
  background: #3FA7CB;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 0 25px;
}
#register .body .nextbox .next.disabled {
  background: #ececec;
  color: #a0a0a0;
}
#register .body .nextbox .next a {
  color: #ffffff;
}
#register .footer {
  height: 40px;
  background-color: #3fa7cb;
  background-image: -webkit-linear-gradient(top, #3fa7cb, #3fa7cb);
  background-image: -moz-linear-gradient(top, #3fa7cb, #3fa7cb);
  background-image: -o-linear-gradient(top, #3fa7cb, #3fa7cb);
  background-image: -ms-linear-gradient(top, #3fa7cb, #3fa7cb);
  background-image: linear-gradient(top, #3fa7cb, #3fa7cb);
}
#register .footer p {
  color: #f1f1f1;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
}
.div-line {
  clear: both;
  height: 1px;
  width: 100%;
  background: #ececec;
  border-bottom: #ffffff;
}
#school {
  position: absolute;
  z-index: 99;
}
.school-name {
  width: 210px;
  height: 25px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.school-name input {
  width: 210px;
  height: 25px;
}
.school-name label {
  margin-top: 5px;
  margin-left: 5px;
}
