/*基本类和函数*/
/***************border圆角**********************/
/***************方块阴影**********************/
/***************元素过度效果**********************/
/****************旋转，转换***********************/
/****************线性颜色渐变***********************/
/****************快速颜色渐变***********************/
/****************镜像效果***********************/
/****************透明效果***********************/
/****************处理越界***********************/
.font-wrap {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.export {
  cursor: pointer;
  color: #0000ee;
}
select {
  border: 1px solid #333333;
}
.export_icon {
  margin-left: 10px;
}
.ol-result {
  margin-top: 10px;
  border: 1px solid #dcdcdc;
}
.ol-result .ol-header {
  text-align: center;
  font-weight: bolder;
  padding: 5px 0px;
  margin-top: 10px;
}
.ol-result .ol-student {
  width: 80px;
}
.ol-result .ol-task {
  width: 468px;
  overflow-x: auto;
}
.ol-result table td {
  width: 100%;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  padding: 5px 10px 5px 0px;
  text-align: center;
  border-top: 1px solid #dcdcdc;
}
.ol-result table tr.current {
  background: #3fa7cb;
}
.ol-result table tr.active {
  background: #3fa7cb;
}
.cl input {
  background: transparent;
  color: #fff;
}
.cl .cl-content {
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 15px;
  padding: 10px;
}
.cl .cl-content .update {
  color: #0d9ddf;
  cursor: pointer;
}
.cl .cl-content .update:hover {
  color: #ff945f;
}
.cl .cl-content .cl-info {
  margin-left: 20px;
  margin-top: 10px;
  color: #808080;
}
.cl .import {
  margin: 10px 0px;
}
.cl .import .selectfile {
  border: 1px solid #dcdcdc;
  width: 360px;
  margin-bottom: 10px;
}
.cl .import .selectclass {
  cursor: text;
  min-height: 20px;
  width: 100px;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
.cl .import ul.myclasses {
  display: none;
  position: absolute;
  z-index: 3;
  width: 140px;
  background-color: white;
  border: #EEE solid 1px;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}
.cl .import ul.myclasses li {
  cursor: pointer;
  border-top: 1px solid #d1d1d1;
}
.cl .import ul.myclasses li div {
  margin: 8px 20px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.cl .border {
  border: 1px solid #3fa7cb;
}
.cl .classtagpanel {
  margin-top: 10px;
}
.cl .classtagpanel ul li {
  float: left;
  margin-right: 15px;
}
.cl .classtagpanel ul li a {
  color: #808080;
  font-size: 14px;
}
.cl .classtagpanel ul li.active a {
  color: #F28A19;
}
.cl #vselfupload {
  position: absolute;
  left: -1000px;
  padding: 5px 15px 10px 15px;
  border: #cccccc solid 1px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background: #fff;
  z-index: 9999;
}
.cl #vselfupload .title {
  margin-top: 5px;
  min-width: 339px;
}
