/*基本类和函数*/
/***************border圆角**********************/
/***************方块阴影**********************/
/***************元素过度效果**********************/
/****************旋转，转换***********************/
/****************线性颜色渐变***********************/
/****************快速颜色渐变***********************/
/****************镜像效果***********************/
/****************透明效果***********************/
/****************处理越界***********************/
.font-wrap {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.task {
  width: 100%;
  padding: 0px 0px 20px 0px;
  min-height: 400px;
}
.task .noitem {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  height: 30px;
  line-height: 30px;
}
.task .export-all {
  margin-top: 10px;
}
.task .export-all a {
  color: #fff;
}
.task .task-container {
  background-color: #fff;
  padding: 15px 0 10px 10px;
  border-bottom: 1px solid #dfdfdf;
}
.task .task-container.preview {
  background-color: #E3F4F6;
}
.task .task-container .avatar {
  margin-right: 10px;
}
.task .task-container .avatar img {
  width: 50px;
  height: 50px;
}
.task .task-container .task-info .task-baseinfo {
  width: 460px;
  background: #f8f8f8;
  padding: 10px 0px 1px 20px;
  color: #626262;
}
.task .task-container .task-info .task-baseinfo .task-title a {
  color: #8bc4e1;
}
.task .task-container .task-info .task-baseinfo .task-content {
  margin: 10px 0px;
}
.task .task-container .task-info .task-baseinfo .task-content,
.task .task-container .task-info .task-baseinfo .task-content a {
  color: #323232;
  font-size: 14px;
  font-weight: bolder;
}
.task .task-container .task-info .task-baseinfo .task-property .task-deadline {
  font-weight: bolder;
}
.task .task-container .task-info .task-baseinfo .task-property div {
  margin-bottom: 5px;
}
.task .task-container .task-info .task-baseinfo .task-property div span textarea {
  width: 300px;
  height: 100px;
  border: 1px solid #c1c1c1;
}
.task .task-container .task-info .task-baseinfo .task-attachment {
  margin-bottom: 5px;
}
.task .task-container .task-info .task-baseinfo .task-attachment strong {
  color: #3FA7CB;
}
.task .task-container .task-info .task-state {
  padding-left: 20px;
  margin-top: 10px;
}
.task .task-container .task-info .task-state .task-unhandincount {
  cursor: pointer;
}
.task .task-container .task-info .task-state .task-unhandinstudent {
  display: none;
  position: absolute;
  color: #fff;
  background-color: #72c4dd;
  padding: 8px;
  width: 440px;
  z-index: 5;
}
.task .task-container .task-info .task-state .task-unhandinstudent ul {
  padding: 0px 8px;
}
.task .task-container .task-info .task-state .task-unhandinstudent ul li {
  margin: 8px 0px;
  float: left;
  width: 60px;
}
.task .task-container .task-info .task-state .export a {
  color: #fff;
}
.task .task-container .task-info .task-op {
  clear: both;
  padding-top: 10px;
}
.task .task-container .task-info .task-op .task-preview-cancel {
  margin-right: 10px;
}
.task .task-container .task-info .task-confirm {
  cursor: pointer;
  color: #0000ee;
}
.task .task-container .task-info .task-confirm:hover {
  color: #f28a19;
}
.task .task-container .task-info .task-confirm:hover div {
  background-position-y: -80px;
}
.task .task-page {
  margin: 10px;
  float: right;
}
