/*基本类和函数*/
/***************border圆角**********************/
/***************方块阴影**********************/
/***************元素过度效果**********************/
/****************旋转，转换***********************/
/****************线性颜色渐变***********************/
/****************快速颜色渐变***********************/
/****************镜像效果***********************/
/****************透明效果***********************/
/****************处理越界***********************/
.font-wrap {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.task {
  width: 100%;
  padding: 0px 0px 20px 0px;
  min-height: 400px;
}
.task .noitem {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  height: 30px;
  line-height: 30px;
}
.task .work-item {
  background-color: #fff;
  margin-top: 2px;
  padding: 10px 0 10px 10px;
}
.task .work-item .avatar {
  padding: 0 10px;
}
.task .work-item .avatar img {
  width: 50px;
  height: 50px;
}
.task .work-item .work-info {
  width: 470px;
  color: #828282;
}
.task .work-item .work-info div,
.task .work-item .work-info span {
  font-size: 12px;
}
.task .work-item .work-info .work-title {
  color: #626262;
  background: #f8f8f8;
  padding-left: 10px;
}
.task .work-item .work-info .work-title .title {
  margin-top: 10px;
}
.task .work-item .work-info .task-info {
  background: #f8f8f8;
  padding-left: 10px;
  padding-top: 10px;
}
.task .work-item .work-info .task-info .task-video {
  margin-right: 5px;
}
.task .work-item .work-info .task-info .task-video .taskimage img {
  width: 135px;
  height: 110px;
  cursor: pointer;
}
.task .work-item .work-info .task-info .task-detail {
  width: 300px;
}
.task .work-item .work-info .task-info .task-detail div {
  margin-bottom: 5px;
}
.task .work-item .work-info .task-info .task-detail .task-content {
  color: #323232;
  font-size: 14px;
  font-weight: bolder;
  margin-bottom: 10px;
}
.task .work-item .work-info .task-info .task-detail .task-deadline {
  color: #636363;
  font-weight: bolder;
}
.task .work-item .work-info .task-info .task-detail .task-result {
  font-size: 12px;
}
.task .work-item .work-info .task-info .task-detail .task-result .result-content {
  width: 220px;
}
.task .work-item .work-info .task-state .task-unhandincount {
  cursor: pointer;
}
.task .work-item .work-info .task-state .task-unhandinstudent {
  display: none;
  position: absolute;
  color: #fff;
  background-color: #72c4dd;
  padding: 8px;
  width: 440px;
  z-index: 5;
}
.task .work-item .work-info .task-state .task-unhandinstudent ul {
  padding: 0px 8px;
}
.task .work-item .work-info .task-state .task-unhandinstudent ul li {
  margin: 8px 0px;
  float: left;
  width: 60px;
}
.task .work-item .work-operator {
  margin-top: 10px;
}
.task .work-item .work-operator .operator {
  cursor: pointer;
  color: #0001ec;
  margin-left: 10px;
}
.task .work-item .work-operator .operator.active {
  color: #f28a19;
}
.task .work-item .work-operator .operator.active div {
  background-position-y: -80px;
}
.task .work-item .work-operator .operator:hover {
  color: #f28a19;
}
.task .work-item .work-operator .operator:hover div {
  background-position-y: -80px;
}
.task .work-item .work-operator .operator:hover a {
  color: #f28a19;
}
.task .work-item .work-operator .work-favor:hover {
  color: #0000ee;
}
.task .work-item .work-operator .work-favor:hover div {
  background-position-y: -60px;
}
.task .work-correct-panel,
.task .work-approval-panel {
  background: #f8f8f8;
  color: #010101;
  margin-top: 10px;
  padding: 10px 8px;
  display: none;
}
.task .work-correct-panel .correct-star,
.task .work-approval-panel .correct-star {
  padding-top: 4px;
}
.task .work-correct-panel .correct-comment,
.task .work-approval-panel .correct-comment,
.task .work-correct-panel .approval-comment,
.task .work-approval-panel .approval-comment {
  background: #fff;
  border: 1px #ededed solid;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin-top: 10px;
  height: 120px;
  padding: 10px;
}
.task .work-correct-panel .correct-comment .comment-panel,
.task .work-approval-panel .correct-comment .comment-panel,
.task .work-correct-panel .approval-comment .comment-panel,
.task .work-approval-panel .approval-comment .comment-panel {
  position: relative;
  height: 115px;
  width: 180px;
}
.task .work-correct-panel .correct-comment .comment-panel textarea,
.task .work-approval-panel .correct-comment .comment-panel textarea,
.task .work-correct-panel .approval-comment .comment-panel textarea,
.task .work-approval-panel .approval-comment .comment-panel textarea {
  height: 115px;
  width: 180px;
  font-size: 14px;
}
.task .work-correct-panel .correct-comment .line,
.task .work-approval-panel .correct-comment .line,
.task .work-correct-panel .approval-comment .line,
.task .work-approval-panel .approval-comment .line {
  border-left: 1px solid #eaeaea;
  height: 110px;
  margin: 5px 30px 0px 15px;
}
.task .work-correct-panel .correct-comment .comment-suggest li,
.task .work-approval-panel .correct-comment .comment-suggest li,
.task .work-correct-panel .approval-comment .comment-suggest li,
.task .work-approval-panel .approval-comment .comment-suggest li {
  font-size: 14px;
  color: #34679c;
  margin-bottom: 10px;
  cursor: pointer;
}
.task .work-correct-panel .correct-operator,
.task .work-approval-panel .correct-operator,
.task .work-correct-panel .approval-operator,
.task .work-approval-panel .approval-operator {
  color: #0000eb;
}
.task .work-correct-panel .correct-operator .operate,
.task .work-approval-panel .correct-operator .operate,
.task .work-correct-panel .approval-operator .operate,
.task .work-approval-panel .approval-operator .operate {
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
}
.task .work-correct-panel .correct-operator .operatemany,
.task .work-approval-panel .correct-operator .operatemany,
.task .work-correct-panel .approval-operator .operatemany,
.task .work-approval-panel .approval-operator .operatemany {
  cursor: pointer;
  margin-top: 10px;
  margin-right: 80px;
  color: #439972;
}
.task .task-page {
  margin: 10px;
}
/**
 *   批量批改
 */
.classtagpanel ul li {
  float: left;
  margin-left: 15px;
}
.classtagpanel ul li a.active {
  color: white;
  background-color: #78BAD2;
  padding: 2px;
}
.work-item.selected {
  background-color: #E3F4F6;
}
.task_notreaded {
  margin: 10px 0px;
  padding-bottom: 10px;
  border-bottom: 1px #3fa7cb solid;
}
.task_notreaded h3 {
  font-size: 12px;
  color: #808080;
}
.task_readed h3 {
  font-size: 12px;
  color: #808080;
}
.muticheckbox {
  width: 12px;
  height: 12px;
  border: 2px #ff6f13 solid;
  margin-top: 50px;
  margin-left: 30px;
  cursor: pointer;
}
#videoupload,
#imageupload {
  display: none;
  position: absolute;
  padding: 5px 15px 10px 15px;
  border: #cccccc solid 1px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  background: #fff;
  z-index: 9999;
}
#videoupload .title,
#imageupload .title {
  margin-top: 5px;
  min-width: 339px;
}
#videolibrary {
  display: none;
  margin-top: 10px;
  padding: 10px 0px 10px 10px;
  width: 470px;
}
