
.wphone{position:relative}
.btn-note{
    background:#fafafa;
	background:linear-gradient(top,#ffffff,#f6f6f6);
	background:-moz-linear-gradient(top,#ffffff,#f6f6f6);
	background:-webkit-linear-gradient(top,#ffffff,#f6f6f6);
	text-decoration:none;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#f6f6f6);
}
a.btn-note,.wselect{ display:inline-block; text-decoration:none; border-left:#eaeaea solid 1px; position:absolute; top:1px; right:1px; color:#333333; border-radius:0 3px 3px 0px; }
a.btn-note{ height:33px; line-height:33px; padding:0 25px; border-radius:0 5px 5px 0; }
.input-text{ font-size:14px; line-height:14px; padding:11px 10px; width:275px; *padding:12px 10px 6px; _padding:12px 10px 6px; }
.wselect{ background:#f7f7f7; padding-right:10px; width:26px; height:38px; border-left:#d5d5d5 solid 1px; }
a.btn-note:hover{text-decoration:none;}

/* ---- */
.joinclasstempl span{display: block; float: left; margin-left: 5px; }
.joinclasstempl dl, .joinclasstempl dt, .joinclasstempl dd{ width:200px; }

/* -- create class -- */
.createclassbox{ background: #FFFFFF; border-top: #3fa7cb solid 3px; padding-top: 20px; }
#step_1, #step_2, #step_3{ padding:8px; }
.createclassbox h3{ font-size: 14px; color: #ffffff; background: #00a0ea; margin: 0 5px; padding: 6px; }

/* end */
#school a{ display: block; float: left; width: 150px; height: 20px; line-height: 20px; }
#school .searchbox{ height: 40px; margin-top: 12px; }
#school .searchbox .title{ float: left; color: #646464; margin-left: 5px; }
#school .searchbox .title .tag{ cursor:pointer;margin-right:10px;padding:5px 8px; background: #e2e2e2;font-size: 12px; text-align: center; line-height: 16px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius: 4px; }
#school .searchbox .title .current{background:#3C51F1;color:#fff;}
#school .searchbox .search{ float: right; margin-right: 5px; }
#school .searchbox .search input[type=text]{ border:1px solid #f1f1f1; font-size: 12px; width: 120px; height: 18px; line-height: 18px; }
#school .searchbox .search input[type=button]{ width: 48px; height: 20px; }

#area dt, #area dd, #myclass dd{ display: block; clear: both; border: 1px solid #e2e2e2; padding: 5px 0; margin: 10px 0; position: relative;}
#area dt a, #area dd a, #myclass dd a{ display: block; float: left; margin: 2px 5px; border: 1px solid #ffffff; color: #49b2d8;}
#area dt a.current, #area dd a.current, #myclass dd a.current{ background-color:#49b2d8; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius: 2px; color: white;}
#school{ height: 250px; }
#school_box{ height: 200px; overflow-y: auto; }
#myclass{ padding: 5px; margin:10px 0; }
#myclass dd{ background:#f8f8f8; border:1px dotted #e2e2e2; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
#step_2 .createclass{ padding: 5px; }
#step_3 .mail{ padding:12px ; }

.createclass{ border-bottom: 1px dotted #e2e2e2; }
.wrap-input{ padding:5px; margin: 0 auto; }
.wrap-input label{ display: block; float: left; width: 100px; text-align: right; }
.wrap-input input, .wrap-input textarea{ display: block; float: left; width: 200px; margin-left: 5px; }
.wrap-input input{ height: 20px; line-height: 20px; border: 1px solid #cdcdcd;}
.wrap-input textarea{ height:40px; border: 1px solid #cdcdcd; }
.wrap-tip{ padding-left: 110px; margin:6px 0;}
.wrap-raido{ padding: 5px; width: 400px; margin-left: 10px; }
.wrap-raido span.tipbar{ display: block; float: left; width: 100px; text-align: right; }
.wrap-raido .radios{ float: left; width: 200px; }

.next{ width:100%; height:20px; position: relative; margin: 10px;}
.next .link{ float: right; margin-right: 12px; }
.next .error{ color:#00a0ea; }
.next .tip { height:26px; line-height:26px; font-size:12px; margin-right:10px; }

.joinInCode, .joinInSelect{ padding: 10px 5px; margin-bottom: 20px; }
.joinInCode h5, .joinInSelect h5{ color: #808080; padding:8px 0;}
.joinInCode h5::before, .joinInSelect h5::before{ content: "\201C"; font-size: 20px; margin-left: 0px; font-family: georgia,serif; color: #AAA; }
.joinbox .joinclasstempl{ background: #f8f8f8; padding:5px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius: 3px; }
.joinbox .joinclasstempl dt, .joinbox .joinclasstempl dd{ display: block; clear: both; width:400px; border:none!important; margin:0!important; padding: 5px 0; border-bottom: none; }
.joinbox input.joininput { width: 80px; height: 20px; }

.placeholder label.holder{ top: 8px; }
.placeholder input{ width: 476px; padding: 9px 5px; line-height: 14px; }

