{{! 该模块 教师家长学生共用 用于作业各个流程的显示 }}
{{#work}}
<ul data-role="listview" class="work-item ui-listview" data-task_type="{{task.task_type}}" data-words_id="{{works.works_id}}" data-task_id="{{task.task_id}}" {{#user.isparent}}data-child_id="{{student.user_id}}"{{/user.isparent}}>
    <li class="ui-li ui-li-static ui-btn-up-c ui-li-has-thumb">
        {{! 头像 代码块 }}
        {{#user.isteacher}}
            {{#student}}
                <img title="{{nickname}}" src="{{smallavatar}}" class="ui-li-thumb"/>
            {{/student}}
        {{/user.isteacher}}
        {{^user.isteacher}}
            {{#teacher}}
                <img title="{{nickname}}" src="{{smallavatar}}"/>
            {{/teacher}}
        {{/user.isteacher}}
        <h3 class="ui-li-heading">{{ task.task_content }}</h3>
        
        {{! 未提交视频后 作业信息加载 }}
        {{^works}}
            {{#task}}
                 <div class="ui-li-desc task-info clearfix">
                     <div class="task-detail left">
                        <div class="task-content">{{task_content}}</div>
                        <div class="task-baseinfo">作业类型：{{task_type_text}}作业</div>
                        <div>
                            作业说明：<span class="up-text">{{description}}</span>
                        </div>
                        <div class="task-baseinfo">截止日期：<span class="task-deadline">{{deadline}}</span></div>
                        {{#attachments}}
                            <div class="task-attachment task-baseinfo">
                                附件：<a href='{{path}}' data-ajax="false" target="_blank">{{filename}}&nbsp;<strong>下载</strong></a>
                            </div>
                        {{/attachments}}
                    </div>
                </div>
                {{! 未提交视频时 操作功能 }}
                <div class="work-operator clearfix">
                    <div class="right clearfix">
                        {{^user.isteacher}}
                            <div class="work-upload operator left"><div class="upload_icon left"></div>上传{{task_type_text}}</div>
                        {{/user.isteacher}}
                    </div>
                </div>
            {{/task}}
        {{/works}}
        
        {{! 提交视频后 作业信息加载 }}
        {{#works}}
            <div class="task-info clearfix">
                {{#task.isvideo}}
                    {{! 视频显示 }}
                    {{#video.isfinished}}
                        <div class="task-video left">
                            {% include "inc/videoitem.html" %}
                            <div>&nbsp;&nbsp;上传时间 {{works.updatetime}}</div>
                        </div>
                    {{/video.isfinished}}
                    {{#video.isconvert}}
                        <span class="left" style="color:red;">正在转码，喝杯咖啡休息休息吧，过几分钟刷新一下试试。</span><br />
                    {{/video.isconvert}}
                    {{#video.isfailed}}
                        <span class="left" style="color:red;">转码失败，请重新上传视频。</span><br />
                    {{/video.isfailed}}
                {{/task.isvideo}}
                {{#task.isimage}}
                    {{! 图片显示 }}
                    <div class="task-video left">
                        <div class="taskimage" data-thumbnail_path="{{image.thumbnail_path}}" data-image_path="{{image.path}}">
                            <img title="点击查看图片作业" src="{{image.show_thumbnail_path}}"/>
                        </div>
                        <div>&nbsp;&nbsp;上传时间 {{works.updatetime}}</div>
                    </div>
                {{/task.isimage}}
                
                {{! 作业信息显示 }}
                {{#task}}
                    <div class="task-detail left">
                        <div>发布老师：{{teacher.nickname}}（{{teacher.course}}老师）</div>
                        <div>作业说明：<span class="up-text">{{description}}</span></div>
                        <div class="task-baseinfo">作业类型：{{task_type_text}}作业</div>
                        <div class="task-baseinfo task-deadline-info">
                            截止日期：<span class="task-deadline">{{deadline}}</span>
                        </div>
                        {{#works}}
                            {{#isapproval}}
                                <div class="task-result-approval task-result">家长评语：{{parent_comment}}</div>
                            {{/isapproval}}
                            <div class="task-result task-result-favor" {{^isfavor}}style="display:none;"{{/isfavor}}>已推荐</div>
                            {{#isread}}
                                <div class="task-result">老师评分：{{teacher_comment}}</div>
                                <div class="showstar" data-star="{{ star }}" ></div>
                            {{/isread}}
                            {{^isread}}
                                {{#isredo}}
                                    <div class="task-result">老师评语：{{teacher_comment}}</div>
                                {{/isredo}}
                            {{/isread}}
                        {{/works}}
                        {{#attachments}}
                            <div class="task-attachment task-baseinfo">
                                附件：<a href='{{path}}' data-ajax="false" target="_blank">{{filename}}&nbsp;<strong>下载</strong></a>
                            </div>
                        {{/attachments}}
                    </div>
                {{/task}}
            </div>
            
            {{! 提交视频时 操作功能 }}
            <div class="work-operator clearfix">
                <div class="right clearfix">
                    {{#user.isteacher}}
                        {{^works.isread}}
                            <div class="work-correct operator left">
                                <div class="correct_icon left"></div><span>老师批改</span>
                            </div>
                        {{/works.isread}}
                        {{^works.isfavor}}
                            <div class="work-favor operator left"><div class="favor_icon left"></div>推荐</div>
                        {{/works.isfavor}}
                    {{/user.isteacher}}
                    
                    {{#globleparent}}
                        {{^works.isread}}
                            {{^works.isredo}}
                                <div class="work-approval operator left">
                                    <div class="approval_icon left"></div>
                                    <span>
                                        {{#works.isapproval}}重新点评{{/works.isapproval}}
                                        {{^works.isapproval}}家长点评{{/works.isapproval}}
                                    </span>
                                </div>
                          {{/works.isredo}}
                        {{/works.isread}}
                    {{/globleparent}}
                    
                    
                    
                    {{^user.isteacher}}
                        {{^works.isread}}
                            <div class="work-upload operator left"><div class="upload_icon left"></div>重新上传</div>
                        {{/works.isread}}
                    {{/user.isteacher}}
                    
                </div>
            </div>
        {{/works}}
        
        
        {{! 老师批改 打分 代码块 }}
        {{#user.isteacher}}
            {% include "task/task_works_correct_tmpl.html" %}
        {{/user.isteacher}}
        
        
        {{! 家长点评 代码块 }}
        {{#globleparent}}
            <div class="work-approval-panel clearfix">
                <div class="approval-comment clearfix">
                    <div class="comment-panel left">
                        <textarea class="comment-content" placeholder="爸妈，我做的作业怎么样啊？给我点评几句吧，这样老师会更喜欢我哟！"></textarea>
                    </div>
                    <div class="line left"></div>
                    <div class="comment-suggest left">
                        <ul>
                            <li>态度很认真的完成</li>
                            <li>符合要求完成</li>
                            <li>基本完成</li>
                        </ul>
                    </div>
                </div>
                <div class="approval-operator right clearfix">
                    <div class="approval-clear operate left"><div class="clear_icon left"></div>清空</div>
                    <div class="approval-ok operate left"><div class="ok_icon left"></div>点评</div>
                </div>
            </div>
        {{/globleparent}}
        
    </li>
</ul>
{{/work}}
