<div class="panel help">
    <div class="title">
        <div class="right_help tilte-icon left"></div>
        帮助
    </div>
    
    <div class="content">
        {% if g.user.isteacher %}
            <a href="/help/video/0/">
            <img width="218px" src="/static/images/main/teacher_help.jpg" />
            </a>
        {% else %}
            <a href="/help/student/video/0/">
            <img width="218px" src="/static/images/main/student_help.jpg" />
            </a>
        {% endif %}
        
    </div>
</div>
