{{#task}}
    <div class="taskinfo taskbody">
        <div>
            <span class="msgcnt">{{task_content}}</span>
        </div>
        <div class="clearfix">
            <div class="left condition">
                {{#isvideo}}
                    #视频作业
                {{/isvideo}}
                {{#iswriting}}
                    #笔头作业
                {{/iswriting}}
                {{#isnotify}}
                    #通知作业
                {{/isnotify}}
            </div>
            <div class="left condition">
                #截止日期：{{deadline}}
            </div>
        </div>
    </div>
{{/task}}