{% if timelines or page.page!=1 %}
<div class="timeline-page clearfix">
    <ul>
        <li ><a class="{% if page.page >1 %}previous page-on{% else %}previous-off{% endif %}" {% if page.page >1 %} href="?page={% if page.page-1 == 0 %}1{% else %}{{ page.page-1 }}{% endif %}&oldpage={{ page.oldpage }}{% if page.get('start',0)>0 %}&start={{ page.start }}{% endif %}{% if page.get('end',0)>0 %}&end={{ page.end }}{% endif %}"{% endif %}>上一页</a></li>
        {% for index in range(page.page) %}
            <li><a class="{% if page.page == index+1 %}active{%else%}page-on{% endif %}" {% if page.page != index+1 %} href="?page={{ index+1 }}&oldpage={{ page.oldpage }}{% if page.get('start',0)>0 %}&start={{ page.start }}{% endif %}{% if page.get('end',0)>0 %}&end={{ page.end }}{% endif %}"{% endif %}>{{ index+1 }}</a></li>
        {% endfor %}
        <li><a class="{% if timelines and  timelines|length == page.count %}next page-on{% else %}next-off{% endif %}" {% if timelines and  timelines|length ==page.count %}href="?page={{ page.page+1 }}&oldpage={{ page.oldpage }}{% if page.get('start',0)>0 %}&start={{ page.start }}{% endif %}{% if page.get('end',0)>0 %}&end={{ page.end }}{% endif %}"{% endif %}>下一页</a></li>
    </ul>
</div>
{% endif %}
