{{#user.isteacher}}
    <div class="correctinfo" data-hdid="{{ works.works_id }}" data-type="correct">
        <span>作业打分</span>
        <div class="star" data-star="{{ works.star }}" ></div>
        <div class="workcomment cro_comment clearfix">
            <div class="left"><textarea name="comment">{{ works.teacher_comment }}</textarea></div>
            <div class="comment-suggest right">
                <ul>
                    <li>Excellent!太棒了！</li>
                    <li>Wonderful!好极了！</li>
                    <li>Great!太好了！</li>
                    <li>Perfect!太棒了！</li>
                    <li>Terrific!真了不起！</li>
                </ul>
            </div>
        </div>
        <a class="correctbtn">确认批改</a>
    </div>
{{/user.isteacher}}
{{#user.isparent}}
    <div class="correctinfo" data-hdid="{{ works.works_id }}" data-type="approval">
        <span>作业审核</span>
        <div class="workcomment cro_comment clearfix">
            <div class="left"><textarea name="comment">{{ works.parent_comment }}</textarea></div>
            <div class="comment-suggest right">
                <ul>
                    <li>态度很认真的完成</li>
                    <li>符合要求完成</li>
                    <li>基本完成</li>
                </ul>
            </div>
        </div>
        <a class="correctbtn">确认审批</a>
    </div>
{{/user.isparent}}