{{#timeline}}
<div class="task_complete timeline clearfix">
    <div class="userpic left">
        <a title="" href="">
            <img src="{{parent.smallavatar}}">
        </a>
    </div>
    <div class="msgbox left">
        <div class="username">
            <a title="{{parent.nickname}}">{{parent.nickname}}</a>
            给<a title="{{teacher.nickname}}">@{{student.nickname}}</a>
            审批了一条作业
            <a title="{{teacher.nickname}}">@{{teacher.nickname}}</a>
            ：{{parent_comment}}
        </div>
        {{#works}}
            {% include "inc/videoitem.html" %}
            <div class="clearfix">
                {{#isread}}
                    <div class="condition">
                        #得分
                        <div class="showstar" data-star="{{ star }}" ></div>
                    </div>
                    <div class="condition">
                        #批改意见：
                        <div>{{ teacher_comment }}</div>
                    </div>
                {{/isread}}
                {{#task.need_approval}}
                    {{#works}}
                        {{^isapproval}}
                            <div class="condition">#家长未评论</div>
                        {{/isapproval}}
                        {{#isapproval}}
                            <div class="condition">#家长评论</div>
                        <div>
                            {{parent_comment}}
                        </div>
                        {{/isapproval}}
                    {{/works}}
                {{/task.need_approval}}
            </div>
        {{/works}}
        {% include "inc/timeline_taskinfo.html" %}
        <div class="pubinfo clearfix">
            <div class="left pubtime">{{task.updatetime}}</div>
            <div class="right pubop">
                {{#user.isteacher}}
                    <a class="correct">批改作业</a>
                    <a class="favor" data-wid="{{works.works_id}}">推荐</a>
                {{/user.isteacher}}
                {{#user.isparent}}
                    {{^works.isapproval}}
                        <a class="correct">家长点评</a>
                    {{/works.isapproval}}
                {{/user.isparent}}
                
            </div>
        </div>
       {% include "inc/timeline_taskoperator.html" %}
    </div>
</div>
{{/timeline}}