{{#timeline}}
<div class="task_complete timeline clearfix">
    <div class="userpic left">
        <a title="" href="">
            <img src="{{student.smallavatar}}">
        </a>
    </div>
    <div class="msgbox left">
        <div class="username">
            <a title="{{student.nickname}}">{{student.nickname}}</a>
            提交了一条作业
            <a title="{{teacher.nickname}}">@{{teacher.nickname}}</a>
            
        </div>
        {{#works}}
            {% include "inc/videoitem.html" %}
        {{/works}}
        {% include "inc/timeline_taskinfo.html" %}
        <div class="pubinfo clearfix">
            <div class="left pubtime">{{task.updatetime}}</div>
            <div class="right pubop">
                {{#user.isparent}}
                    <a class="correct">家长点评</a>
                {{/user.isparent}}
                
            </div>
       </div>
       {% include "inc/timeline_taskoperator.html" %}
    </div>
</div>
{{/timeline}}