<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>中国领先的教师，家长学生家庭作业自动化管理平台</title>
</head>
<body style="margin:0px;">
<div id="register" style="width: 900px;">
    <div class="header" style="position: relative;display:inline-block;width: 900px;height: 60px;background-color: #3fa7cb;">
        <div class="logo" style="float:left;background: white;margin-left: 20px;width:164px;padding: 8px;">
            <a href="/">
                <img style="width:140px;margin-left: 12px;" src="http://beishu8.com/static/images/logo/beishu8logo.png" />
            </a>
        </div>
        <div style="float:left;margin:30px 0px 0px 30px;">
            <img src="http://beishu8.com/static/images/home/slogan1.jpg" alt="slogan">
        </div>
    </div>
    
    
    
    
    <div class="task" style="position: relative;padding: 30px 0px 30px 30px;background: white;">
        <div class="avatar" style="float:left;">
            <img src="http://beishu8.com{{user.smallavatar}}" />
        </div>
        <div class="content" style="display: inline-block;padding-left:20px;">
            <div class="title line" style="color: #323232;font-size: 14px;font-weight: bolder;">
                {{user.course}}老师{{user.nickname}}于{{task.updatetime}}&nbsp;发布作业&nbsp;
                {% for classgrade in task.classgrades %}
                    @{{classgrade.class_name}}&nbsp;
                {% endfor %}
            </div>
            <div class="line" style="font-size:12px;color:#626262;">
                作业内容：{{task.task_content}}
            </div>
            <div class="line" style="font-size:12px;color:#626262;">
                作业类型：{{task.task_type_text}}作业
            </div>
            <div class="line" style="font-size:12px;color:#626262;">
                截止日期：{{task.deadline}}
            </div>
            {% for attachment in attachments %}
            <div class="line" style="font-size:12px;color:#626262;">
                附件：<a href='http://beishu8.com{{attachment.path}}' style="font-size:12px;color: #78BAD2;text-decoration: none;">
                    {{attachment.filename}}&nbsp;<strong>下载</strong></a>
            </div class="line" style="font-size:12px;color:#626262;">
            {% endfor %}
            <p>欢迎使用背书吧<a href="http://beishu8.com">www.beishu8.com</a></p>
        </div>
    </div>

    <div class="footer" style="height: 40px;background-color: #3fa7cb;background-image: -webkit-linear-gradient(top, #3fa7cb, #3fa7cb);background-image: -moz-linear-gradient(top, #3fa7cb, #3fa7cb);background-image: -o-linear-gradient(top, #3fa7cb, #3fa7cb);background-image: -ms-linear-gradient(top, #3fa7cb, #3fa7cb);background-image: linear-gradient(top, #3fa7cb, #3fa7cb);">
        <p class="raw" style="color: #f1f1f1;text-align: center;line-height: 20px;font-size: 12px;">
        京ICP 12038363号 | 背书吧 © 2012 Edsoda Corporation,All Rights Reserved | 中青维客（北京）科技有限公司<br />
        联系电话：400-015-3066 | 地址：北京市朝阳区远洋光华国际大厦AB座27层 | 联系人：尹先生
        </p>
    </div>

</div>
<body>
