<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>中国领先的教师，家长学生家庭作业自动化管理平台</title>
    <style type="text/css">
        #register .header {
            
        }
        #register .body {
            
        }
        #register .body .regbg-left {
            
        }
        .btn{
            
        }
        div p{
            
        }
    </style>
</head>
<body style="margin:0px;">
<div id="register" style="width: 900px;">
    <div class="header" style="position: relative;display:inline-block;width: 900px;height: 60px;background-color: #3fa7cb;">
        <div class="logo" style="float:left;background: white;margin-left: 20px;width:164px;padding: 8px;">
            <a href="http://www.beishu8.com/">
                <img style="width:140px;margin-left: 12px;" src="http://www.beishu8.com/static/images/logo/beishu8logo.png" />
            </a>
        </div>
        <div style="float:left;margin:30px 0px 0px 30px;">
            <img src="http://www.beishu8.com/static/images/home/slogan1.jpg" alt="slogan">
        </div>
    </div>

    <div class="body" style="position: relative;padding: 30px 0px;background: white;">
        <div class="regbg-left" style="border-bottom:1px solid #87c5da;padding-bottom:20px;">
            <a href="http://www.beishu8.com/" style="text-decoration: none;">
                <span class="btn" style="background: #3FA7CB;cursor: pointer;background: #3fa7cc;padding: 8px 15px;color: #f2f7fb;font-size: 14px;font-family: helvetica, serif;text-decoration: none;margin-right:20px;">登录网址:beishu8.com</span>
            </a>
            <span class="btn" style="background: #3FA7CB;cursor: pointer;background: #3fa7cc;padding: 8px 15px;color: #f2f7fb;font-size: 14px;font-family: helvetica, serif;text-decoration: none;margin-right:20px;">所在班级:{{ class_name }}</span>
            <span class="btn" style="background: #3FA7CB;cursor: pointer;background: #3fa7cc;padding: 8px 15px;color: #f2f7fb;font-size: 14px;font-family: helvetica, serif;text-decoration: none;margin-right:20px;">班级号:{{ class_code }}</span>
        </div>
        
        <div style="padding:20px 0px;border-bottom:1px solid #87c5da;">
            <div style="font-size:14px;margin-bottom:20px;">各位家长：</div>
            <p style="text-indent: 2em;margin:0px;line-height:20px;">培养孩子良好的学习习惯、自信和自制能力，需要我们和您的共同努力。</p>
            <p style="text-indent: 2em;margin:0px;line-height:20px;">为了及时的与您沟通、更好的让孩子完成老师布置的每项作业、引导孩子健康安全的上网，我班现开始免费使用背书吧平台给孩子布置作业。在这一过程中，老师会把每天的视频作业和通知通过背书吧发布，您在家中将协助学生或者让学生独立完成视频作业，确认笔头作业和通知，并通过这一渠道和老师直接沟通，老师也会与您保持紧密的联系。</p>
            <p style="text-indent: 2em;margin:0px;line-height:20px;">请您登录www.beishu8.com，用真实姓名注册家长账户和学生账户，加入所在的班级，随后完成老师布置的笔头、听说作业。在网站的首页，有关于注册和使用的视频帮助文件，请您仔细观看。希望各位家长能够在百忙之中抽出碎片时间，随时随地每天登陆网站查看和审核孩子的作业，帮助孩子录制听说视频作业。为孩子留下美好的视频回忆。</p>
            <p style="text-indent: 2em;margin:0px;line-height:20px;">任何一种新产品的诞生，都会让使用者在最初觉得不便，在此，我们感到非常抱歉，当您熟练使用背书吧以后，您会发现，每天您花在背书吧上的时间，不会超过15分钟。</p>
            <p style="text-indent: 2em;margin:0px;line-height:20px;">如遇使用问题请致电400-015-3066咨询解决。感谢各位家长，与我们共同引导、监督和帮助您的孩子。</p>
        </div>
       
        <div style="display:inline-block;margin-top:10px;">
            <div style="float:left;width:266px;border-right:1px solid #87c5da;">
                <p style="padding:10px;color:#87c5da;font-size:14px;">语言学习、表达能力的问题</p>
                <p style="padding:10px;">
                    目前的教学系统中，学生读和背的量化问题一直无法很好的解决，尤其在语言学习方面，孩子们能够很好的完成笔头作业，而口头作业总是没有办法很好的完成并检查，这就导致了孩子们在文字写作方面的能力逐步提升，而口头表达能力却无法提高，哑巴英语、不自信，不敢在众人面前发言、不会沟通成为未来孩子学习和工作中非常严重的问题，我们经常看到孩子在全班同学面前讲话的时候，不知道看哪里，小动作和口头语又特别多，这让我们感到非常心焦。
                </p>
            </div>
            <div style="float:left;width:266px;border-right:1px solid #87c5da;">
                <p style="padding:10px;color:#87c5da;font-size:14px;">
                    语言学习、表达能力的问题
                </p>
                <p style="padding:10px;">
                    目前的教学系统中，学生读和背的量化问题一直无法很好的解决，尤其在语言学习方面，孩子们能够很好的完成笔头作业，而口头作业总是没有办法很好的完成并检查，这就导致了孩子们在文字写作方面的能力逐步提升，而口头表达能力却无法提高，哑巴英语、不自信，不敢在众人面前发言、不会沟通成为未来孩子学习和工作中非常严重的问题，我们经常看到孩子在全班同学面前讲话的时候，不知道看哪里，小动作和口头语又特别多，这让我们感到非常心焦。
                </p>
            </div>
            <div style="float:left;width:266px;">
                <p style="padding:10px;color:#87c5da;font-size:14px;">
                    语言学习、表达能力的问题
                </p>
                <p style="padding:10px;">
                    目前的教学系统中，学生读和背的量化问题一直无法很好的解决，尤其在语言学习方面，孩子们能够很好的完成笔头作业，而口头作业总是没有办法很好的完成并检查，这就导致了孩子们在文字写作方面的能力逐步提升，而口头表达能力却无法提高，哑巴英语、不自信，不敢在众人面前发言、不会沟通成为未来孩子学习和工作中非常严重的问题，我们经常看到孩子在全班同学面前讲话的时候，不知道看哪里，小动作和口头语又特别多，这让我们感到非常心焦。
                </p>
            </div>
        </div>
    </div>

    <div class="footer" style="height: 40px;background-color: #3fa7cb;background-image: -webkit-linear-gradient(top, #3fa7cb, #3fa7cb);background-image: -moz-linear-gradient(top, #3fa7cb, #3fa7cb);background-image: -o-linear-gradient(top, #3fa7cb, #3fa7cb);background-image: -ms-linear-gradient(top, #3fa7cb, #3fa7cb);background-image: linear-gradient(top, #3fa7cb, #3fa7cb);">
        <p class="raw" style="color: #f1f1f1;text-align: center;line-height: 20px;font-size: 12px;">
            京ICP 12038363号 | 背书吧 © 2012 Edsoda Corporation,All Rights Reserved | 中青维客（北京）科技有限公司<br />
            联系电话：400-015-3066 | 地址：北京市朝阳区远洋光华国际大厦AB座27层 | 联系人：尹先生
        </p>
    </div>

</div>
<body>
